{{- if .darkMode }}
*color0       : #24273a
*color8       : #5b6078
*color1       : #ed8796
*color9       : #ed8796
*color2       : #a6da95
*color10      : #a6da95
*color3       : #eed49f
*color11      : #eed49f
*color4       : #8aadf4
*color12      : #8aadf4
*color5       : #f5bde6
*color13      : #f5bde6
*color6       : #8bd5ca
*color14      : #8bd5ca
*color7       : #cad3f5
*color15      : #a5adcb
{{- else }}
*color0       : #eff1f5
*color8       : #acb0be
*color1       : #d20f39
*color9       : #d20f39
*color2       : #40a02b
*color10      : #40a02b
*color3       : #df8e1d
*color11      : #df8e1d
*color4       : #1e66f5
*color12      : #1e66f5
*color5       : #ea76cb
*color13      : #ea76cb
*color6       : #179299
*color14      : #179299
*color7       : #4c4f69
*color15      : #bcc0cc
{{- end }}
