{{- if eq .chezmoi.os "darwin" }}
fish_add_path -pPg /opt/homebrew/opt/coreutils/libexec/gnubin
fish_add_path -pPg /opt/homebrew/opt/findutils/libexec/gnubin
fish_add_path -pPg /opt/homebrew/opt/gnu-tar/libexec/gnubin
fish_add_path -pPg /opt/homebrew/opt/gnu-sed/libexec/gnubin
fish_add_path -pPg /opt/homebrew/opt/gawk/libexec/gnubin
fish_add_path -pPg /opt/homebrew/opt/gnu-indent/libexec/gnubin
fish_add_path -pPg /opt/homebrew/opt/gnu-getopt/bin
fish_add_path -pPg /opt/homebrew/opt/grep/libexec/gnubin
{{- end }}

{{- if eq .chezmoi.os "linux" }}
if type -q manpath
    set -gx MANPATH (manpath -g)
end
{{- end }}

{{- if eq .chezmoi.os "android" }}
set -gx XDG_RUNTIME_DIR $PREFIX/tmp
{{- end }}

{{- if and (eq .place "home") (eq .kind "pc") }}
if fish_is_root_user
    builtin cd /etc
end
{{- end }}

{{- if eq .place "office" }}
set -gx NODE_TLS_REJECT_UNAUTHORIZED 0
set -gx GRPC_DEFAULT_SSL_ROOTS_FILE_PATH /etc/ssl/certs/ca-certificates.crt
set -gx REQUESTS_CA_BUNDLE /etc/ssl/certs/ca-certificates.crt
set -gx DENO_TLS_CA_STORE system
{{- end }}

{{- if .httpProxy }}
set -gx http_proxy {{ .httpProxy | quote }}
set -gx https_proxy {{ .httpProxy | quote }}
{{- end }}
{{- if .socksProxy }}
set -gx http_proxy {{ .socksProxy | quote }}
set -gx https_proxy {{ .socksProxy | quote }}
{{- end }}
{{- with .noProxyAddresses }}
set -gx no_proxy {{ join "," . | quote }}
{{- end }}
