jorgebucaran/fisher
jorgebucaran/fish-getopts
danhper/fish-ssh-agent
gitlab.com/dynamo-config/fish-packages/fzf
gitlab.com/dynamo-config/fish-packages/canaudua
gitlab.com/dynamo-config/fish-packages/bitrofi
gitlab.com/dynamo-config/fish-packages/cliprofi
gitlab.com/dynamo-config/fish-packages/autopairs
gitlab.com/dynamo-config/fish-packages/caran
{{- if ne .chezmoi.os "android" }}
lilyball/nix-env.fish
Realiserad/fish-ai
{{- end }}
