{{- $configHash := joinPath .chezmoi.sourceDir "dot_config/hypr/hyprland/plugins.list" | include | sha256sum }}
{{- if ne $configHash "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855" }}
# Plugin manager
exec-once = hyprpm reload -n && hyprctl reload
{{- end }}

# Authentication agent
{{- if eq .chezmoi.osRelease.id "gentoo" }}
exec = /usr/lib64/libexec/polkit-gnome-authentication-agent-1
{{- else }}
exec = /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
{{- end }}

# Sound & Screencast
{{- if .hasSound }}
{{- if eq .chezmoi.osRelease.id "gentoo" }}
exec-once = gentoo-pipewire-launcher restart
{{- else }}
exec-once = systemctl --user start wireplumber
exec-once = systemctl --user start pipewire-pulse
{{- end }}
{{- end }}
exec-once = ~/.config/hypr/hyprland/scripts/screencast.sh

# Gtk theme
exec-once = ~/.config/hypr/hyprland/scripts/gtk.sh

# Wallpaper
exec-once = swww-daemon
exec = swww img ~/Multimedia/Pictures/Wallpaper/all/working.gif

# Bar & Panel & Widgets
exec-once = ~/.config/hypr/hyprland/scripts/bar.sh
exec-once = swaync

# Screen shader and changes detection
exec = hyprshade auto
exec-once = shikane

{{- if ne .place "home" }}
# Screen idle
exec-once = hypridle
{{- end }}

# Clipboard
exec-once = wl-paste --type text --watch cliphist store
exec-once = wl-paste --type image --watch cliphist store

# IM
exec-once = fcitx5 -d --replace

# Terminal
exec-once = kitty zellij

# Browser
{{- if eq .browser "F" }}
{{-   if eq .osid "linux-gentoo" }}
$browser = "firefox"
{{-   else }}
$browser = "firefox-bin"
{{-   end }}
{{- else if eq .browser "Z" }}
{{-   if eq .osid "linux-gentoo" }}
$browser = "zen"
{{-   else }}
$browser = "zen-browser"
{{-   end }}
{{- end }}
{{- if eq .place "home" }}
exec-once = $browser -P Personal
{{- else if eq .place "office" }}
exec-once = $browser -P Enterprise
{{- end }}

# Email client
{{- if eq .mailClient "T" }}
{{-   if eq .osid "linux-gentoo" }}
$mailClient = "thunderbird-bin"
{{-   else }}
$mailClient = "thunderbird"
{{-   end }}
{{- else if eq .mailClient "B" }}
{{-   if eq .osid "linux-gentoo" }}
$mailClient = "betterbird-bin"
{{-   else }}
$mailClient = "betterbird"
{{-   end }}
{{- end }}
{{- if eq .place "home" }}
exec-once = $mailClient -P Personal
{{- else if eq .place "office" }}
exec-once = $mailClient -P Enterprise
{{- end }}

# Note-taking
exec-once = obsidian

# Scratchpad
exec-once = [workspace special:hdrop silent] kitty --class btop -e btop
