{{- $jiraSecret := dict }}
{{- $scope := "global" }}
{{- if index . "personal" }}
{{-   $jiraSecret = join .chezmoi.sourceDir "../secrets/data/personal/jira.yaml.age" | include | decrypt | fromYaml }}
{{- else if index . "enterprise" }}
{{-   $jiraSecret = printf "../secrets/data/enterprise-%s/jira.yaml.age" .enterprise.name | join .chezmoi.sourceDir | include | decrypt | fromYaml }}
{{-   $scope = .enterprise.scope }}
{{- end }}
{{- range $jiraSecret.servers }}
{{-   if eq .scope $scope }}
{{-     .config | toYaml }}
{{-   end }}
{{- end }}
