name: argonaut
method: binary
github:
  repo: darksworm/argonaut
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "android" }}
  {{-   $os = "linux" }}
  {{- end }}
  release_asset: argonaut-%1v-{{ $os }}-{{ .chezmoi.arch }}.tar.gz
archive:
  - path: argonaut
