{{- if eq .guiServer "W" }}
name: awww
method: os
# https://repology.org/project/awww/versions
is_essential: true
gentoo:
  packages:
    - name: gui-apps/awww
      repo: guru
      url: https://github.com/gentoo-mirror/guru.git
arch:
  packages:
    - name: awww
ubuntu: # Not have package
alpine:
  packages:
    - name: awww
{{- end }}
