name: chisel
method: binary
{{- if eq .kind "container" }}
is_essential: true
{{- end }}
github:
  repo: jpillora/chisel
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "android" }}
  {{- $os = "linux" }}
  {{- end }}
  release_asset: chisel_%1v_{{ $os }}_{{ .chezmoi.arch }}.gz
