name: container
method: os
# https://repology.org/project/docker/versions
{{- if ne .kind "container" }}
is_essential: true
{{- end }}
gentoo:
  packages:
    - name: app-containers/docker
      service: docker
    - name: app-containers/docker-cli
  hook:
    after: |-
      sudo usermod -aG docker $USER || :
arch:
  packages:
    - name: docker
      service: docker
  hook:
    after: |-
      sudo groupadd docker || :
      sudo usermod -aG docker $USER || :
ubuntu:
  packages:
    - name: docker.io
      service: docker
  hook:
    after: |-
      sudo groupadd docker || :
      sudo usermod -aG docker $USER || :
alpine:
  packages:
    - name: docker
      service: docker
  hook:
    after: |-
      sudo addgroup $USER docker || :
termux: # Can't use docker and container on non-rooted Android
macos:
  packages:
    - name: lima
    - name: docker
  {{- if eq .chezmoi.arch "arm64" }}
  need_rosetta: true
  {{- end }}
  hook:
    after: |-
      limactl disk create --size 100GB docker
      limactl list dyker || limactl start -y template://dyker || :
      limactl start-at-login dyker
      docker context create lima-dyker --docker "host=unix://${HOME}/.lima/dyker/sock/docker.sock" \
        && docker context use lima-dyker \
        || :
