name: d2
method: binary
github:
  repo: terrastruct/d2
  {{- $os := "" }}
  {{- if eq .chezmoi.os "darwin" }}
  {{-   $os = "macos" }}
  {{- else if eq .chezmoi.os "linux" "android" }}
  {{-   $os = "linux" }}
  {{- end }}
  release_asset:  d2-%v-{{ $os }}-{{ .chezmoi.arch }}.tar.gz
archive:
  - path: d2-%v/bin/d2
    strip: 2
  - path: d2-%v/man/d2.1
    strip: 2
    location: $HOME/.local/man/man1
