{{- if ne .chezmoi.os "android" }}
# Can't use docker and container on non-rooted Android
name: docker-buildx
method: binary
github:
  repo: docker/buildx
  release_asset: buildx-%v.{{ .chezmoi.os }}-{{ .chezmoi.arch }}
location: {{ .chezmoi.homeDir }}/.docker/cli-plugins
{{- end }}
