name: doggo
is_essential: true
method: binary
github:
  repo: mr-karan/doggo
  {{- $os := "" }}
  {{- if eq .chezmoi.os "android" "linux" }}
  {{-   $os = "Linux" }}
  {{- else if eq .chezmoi.os "darwin" }}
  {{-   $os = "Darwin" }}
  {{- end }}
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{-   $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{-   $arch = "aarch64" }}
  {{- end }}
  release_asset: doggo_%1v_{{ $os }}_{{ $arch }}.tar.gz
archive:
  - path: doggo_%1v_{{ $os }}_{{ $arch }}/doggo
    strip: 1
