name: fabric
method: binary
{{- if eq .kind "pc" "laptop" }}
is_essential: true
{{- end }}
github:
  repo: danielmiessler/fabric
  {{- $os := "" }}
  {{- if eq .chezmoi.os "android" "linux" }}
  {{-   $os = "Linux" }}
  {{- else if eq .chezmoi.os "darwin" }}
  {{-   $os = "Darwin" }}
  {{- end }}
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{-   $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{-   $arch = "arm64" }}
  {{- end }}
  release_asset: fabric_{{ $os }}_{{ $arch }}.tar.gz
archive:
  - path: fabric
