name: fabric
method: binary
{{- if eq .kind "pc" "laptop" }}
is_essential: true
{{- end }}
github:
  repo: danielmiessler/fabric
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "android" }}
  {{- $os = "linux" }}
  {{- end }}
  release_asset: fabric-{{ $os }}-{{ .chezmoi.arch }}
