name: flux
method: binary
github:
  repo: fluxcd/flux2
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "android" }}
  {{-   $os = "linux" }}
  {{- end }}
  release_asset: flux_%1v_{{ $os }}_{{ .chezmoi.arch }}.tar.gz
archive:
  - path: flux
