name: grc
is_essential: true
{{- if eq .osid "android" "linux-alpine" }}
method: shell
content: |
  dybatpho::create_temp temp_dir ""
  git clone https://github.com/garabik/grc $temp_dir
  cd $temp_dir
  {{- if eq .osid "android" }}
  # Fix shebangs
  find . -type f -exec termux-fix-shebang {} \;
  {{- else if eq .osid "linux-alpine" }}
  PREFIX="$HOME/.local"
  {{- end }}
  # Install into $PREFIX
  ./install.sh $PREFIX $PREFIX
  {{- if eq .osid "android" }}
  # Copy config files
  mkdir ~/.grc
  cp -r colourfiles ~/.grc
  cp grc.conf ~/.grc
  {{- end }}
{{- else if eq .chezmoi.os "linux" "darwin" }}
method: os
# https://repology.org/project/grc/versions
gentoo:
  packages:
    - name: app-misc/grc
arch:
  packages:
    - name: grc
ubuntu:
  packages:
    - name: grc
macos:
  packages:
    - name: grc
{{- end }}
