name: gws
method: binary
github:
  repo: googleworkspace/cli
  {{- $os := "" }}
  {{- if eq .chezmoi.os "darwin" }}
  {{-   $os = "apple-darwin" }}
  {{- else if eq .chezmoi.os "linux" "android" }}
  {{-   $os = "unknown-linux-gnu" }}
  {{- end }}
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{-   $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{-   $arch = "aarch64" }}
  {{- end }}
  release_asset: google-workspace-cli-{{ $arch }}-{{ $os }}.tar.gz
  sha256: google-workspace-cli-{{ $arch }}-{{ $os }}.tar.gz.sha256
archive:
  - path: google-workspace-cli-{{ $arch }}-{{ $os }}/gws
    strip: 1
