name: infracost
method: binary
github:
  repo: infracost/infracost
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "android" }}
  {{-   $os = "linux" }}
  {{- end }}
  release_asset: infracost-{{ $os }}-{{ .chezmoi.arch }}.tar.gz
archive:
  - path: infracost-{{ $os }}-{{ .chezmoi.arch }}
