{{- if eq .chezmoi.os "linux" "darwin" }}
name: k0sctl
method: binary
github:
  repo: k0sproject/k0sctl
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "android" }}
  {{- $os = "linux" }}
  {{- end }}
  release_asset: k0sctl-{{ $os }}-{{ .chezmoi.arch }}
{{- end }}
