name: k6
method: binary
github:
  repo: grafana/k6
  {{- $os := .chezmoi.os }}
  {{- $extension := "tar.gz" }}
  {{- if eq .chezmoi.os "darwin" }}
  {{-   $os = "macos" }}
  {{-   $extension = "zip" }}
  {{- end }}
  release_asset: k6-%v-{{ $os }}-{{ .chezmoi.arch }}.{{ $extension }}
archive:
  - path: k6-%v-{{ $os }}-{{ .chezmoi.arch }}/k6
    strip: 1
