{{- if ne .kind "container" }}
name: kernel
method: os
is_essential: true
gentoo:
  packages:
    - name: sys-kernel/installkernel
    - name: sys-kernel/gentoo-kernel
    - name: sys-kernel/linux-firmware
    - name: sys-kernel/modprobed-db
arch:
  packages:
    - name: linux-hardened
    - name: linux-hardened-headers
    - name: linux-firmware
# TODO: need to specify kernel packages for Ubuntu, Alpine
termux: # Use system kernel
macos: # Use system kernel
{{- end }}
