name: kubectl-krew
method: binary
dependencies:
  - kubectl
github:
  repo: kubernetes-sigs/krew
  release_asset: krew-{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz
  sha256: krew-{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz.sha256
archive:
  - path: krew-{{ .chezmoi.os }}_{{ .chezmoi.arch }}
hook:
  after: |-
    kubectl krew install access-matrix cert-manager deprecations \
      pv-migrate tree ktop df-pv explore pv-mounter sniff stern debug-pvc \
      radar \
      {{- if eq .chezmoi.os "linux" }}
      advise-policy
      {{- end }}
