name: kubectl-krew
method: binary
dependencies:
  - kubectl
github:
  repo: kubernetes-sigs/krew
  release_asset: krew-{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz
archive:
  - path: ./krew-{{ .chezmoi.os }}_{{ .chezmoi.arch }}
    strip: 1
hook:
  after: |-
    kubectl krew install access-matrix cert-manager deprecations \
      pv-migrate tree ktop df-pv explore pv-mounter sniff stern \
      {{- if eq .chezmoi.os "linux" }}
      advise-policy
      {{- end }}
