name: kubeconform
method: binary
github:
  repo: yannh/kubeconform
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "android" }}
  {{-   $os = "linux" }}
  {{- end }}
  release_asset: kubeconform-{{ $os }}-{{ .chezmoi.arch }}.tar.gz
archive:
  - path: kubeconform
