name: kubescape
method: binary
github:
  repo: kubescape/kubescape
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "android" }}
  {{-   $os = "linux" }}
  {{- end }}
  release_asset: kubescape_%1v_{{ $os }}_{{ .chezmoi.arch }}
  sha256: checksums.sha256
