name: kubeseal
method: binary
github:
  repo: bitnami-labs/sealed-secrets
  release_asset: kubeseal-%1v-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz
  sha256: sealed-secrets_%1v_checksums.txt
archive:
  - path: kubeseal
