name: llmfit
method: binary
github:
  repo: AlexsJones/llmfit
  {{- $os := "" }}
  {{- if eq .chezmoi.os "darwin" }}
  {{-   $os = "apple-darwin" }}
  {{- else if eq .chezmoi.os "linux" "android" }}
  {{-   $os = "unknown-linux-gnu" }}
  {{- end }}
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{-   $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{-   $arch = "aarch64" }}
  {{- end }}
  release_asset: llmfit-%v-{{ $arch }}-{{ $os }}.tar.gz
  sha256: llmfit-%v-{{ $arch }}-{{ $os }}.tar.gz.sha256
archive:
  - path: llmfit-%v-{{ $arch }}-{{ $os }}/llmfit
    strip: 1
