{{- if eq .browser "F" "Z" }}
name: lz4jsoncat
method: shell
dependencies:
  - lz4
content: |-
  dybatpho::create_temp temp_file ".c"
  output_path="$(dybatpho::path_join "$HOME" ".local" "bin" "lz4jsoncat")"
  mkdir -p "$(dybatpho::path_dirname "$output_path")"
  dybatpho::curl_download https://raw.githubusercontent.com/andikleen/lz4json/refs/heads/master/lz4jsoncat.c "$temp_file"
  local gcc_params=""
  {{- if eq .chezmoi.os "darwin" }}
  brew_prefix="$(brew --prefix lz4)"
  gcc_params="
    -I$(dybatpho::path_join "$brew_prefix" include) \
    -L$(dybatpho::path_join "$brew_prefix" lib)
  "
  {{- end }}
  gcc -g -O2 -Wall "$temp_file" -llz4 -o "$output_path" $gcc_params
{{- end }}
