name: mise
is_essential: true
{{- if eq .kind "container" }}
# Use package manager for Android, macOS and container environments
# cuz it's essential tool
method: os
# https://repology.org/project/mise/versions
arch:
  packages:
    - name: mise
ubuntu:
  packages:
    - name: mise
      repo: https://mise.jdx.dev/deb
      components: stable
alpine:
  packages:
    - name: mise
termux: # Not have package
macos:
  packages:
    - name: mise
{{- else }}
method: binary
github:
  repo: jdx/mise
  {{- $os := "" }}
  {{- $arch := "" }}
  {{- $suffix := "" }}
  {{- if eq .chezmoi.os "darwin" }}
  {{- $os = "macos" }}
  {{- else if eq .chezmoi.os "linux" "android" }}
  {{- $os = "linux" }}
  {{- end }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{- $arch = "x64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{- $arch = "arm64" }}
  {{- end }}
  {{- if eq .chezmoi.os "android" }}
  {{- $suffix = "-musl" }}
  {{- end }}
  release_asset: mise-%v-{{ $os }}-{{ $arch }}{{ $suffix }}
{{- end }}
hook:
  after: |-
    {{- if eq .chezmoi.os "android" }}
    cd $PREFIX/etc/tls
    mkdir -p certs
    ln -sf cert.pem certs.pem
    ln -sf cert.pem certs/ca-certificates.crt
    {{- end }}
    {{- $command := "$HOME/.local/bin/mise" }}
    {{- if eq .chezmoi.os "android" }}
    {{-   $command = "proot -b $PREFIX/etc/resolv.conf:/etc/resolv.conf -b $PREFIX/etc/tls:/etc/ssl $HOME/.local/bin/mise" }}
    {{- else if eq .kind "container" }}
    {{-   $command = "mise" }}
    {{- end }}
    # Trust global config
    {{ $command }} trust
    {{ $command }} use -g aqua:jdx/usage
