name: mkcert
method: binary
github:
  repo: FiloSottile/mkcert
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "android" }}
  {{-   $os = "linux" }}
  {{- end }}
  release_asset:  mkcert-%v-{{ $os }}-{{ .chezmoi.arch }}
