name: bun
{{- if eq .kind "pc" "laptop" }}
is_essential: true
{{- end }}
{{- if eq .chezmoi.os "android" }}
method: shell
content: |-
  curl -fsSL "https://raw.githubusercontent.com/Happ1ness-dev/bun-termux/main/helper_scripts/bun-termux-manager" | bash -s install
{{- else }}
method: mise
backend: bun
{{- end }}
