name: officecli
method: binary
github:
  repo: iOfficeAI/OfficeCLI
  {{- $os := "" }}
  {{- if eq .chezmoi.os "linux" "android" }}
  {{-   $os = "linux" }}
  {{- else if eq .chezmoi.os "darwin" }}
  {{-   $os = "mac" }}
  {{- end }}
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{-   $arch = "x64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{-   $arch = "arm64" }}
  {{- end }}
  release_asset: officecli-{{ $os }}-{{ $arch }}
hook:
  after: |-
    officecli install
