name: oha
method: binary
github:
  repo: hatoo/oha
  {{- if eq .chezmoi.os "linux" "android" }}
  release_asset: oha-linux-{{ .chezmoi.arch }}
  {{- else if eq .chezmoi.os "darwin" }}
  release_asset: oha-macos-{{ .chezmoi.arch }}
  {{- end }}
