name: ov
is_essential: true
{{- if eq .chezmoi.os "android" }}
# Need to use system package for Android with ABI compatible
method: shell
dependencies:
  - golang
content: |
  go install github.com/noborus/ov@latest
{{- else }}
# Although this is essential tool but there isn't any packages on Arch, Alpine,
# Ubuntu so I will use binary
method: binary
github:
  repo: noborus/ov
  release_asset: ov_%1v_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.zip
archive:
  - path: ov
{{- end }}
