{{- if and (eq .chezmoi.os "linux") (eq .kind "pc" "laptop" "workstation" "sbc") }}
name: pam-u2f
method: os
# https://repology.org/project/pam-u2f/versions
is_essential: true
gentoo:
  packages:
    - name: sys-auth/pam_u2f
  hook:
    after: |-
      if [ ! -d ~/.config/Yubico ]; then
        mkdir -p ~/.config/Yubico
        pamu2fcfg > ~/.config/Yubico/u2f_keys
      fi
arch:
  packages:
    - name: pam-u2f
  hook:
    after: |-
      if [ ! -d ~/.config/Yubico ]; then
        mkdir -p ~/.config/Yubico
        pamu2fcfg > ~/.config/Yubico/u2f_keys
      fi
ubuntu:
  packages:
    - name: libpam-u2f
  hook:
    after: |-
      if [ ! -d ~/.config/Yubico ]; then
        mkdir -p ~/.config/Yubico
        pamu2fcfg > ~/.config/Yubico/u2f_keys
      fi
alpine:
  packages:
    - name: pam-u2f
  hook:
    after: |-
      if [ ! -d ~/.config/Yubico ]; then
        mkdir -p ~/.config/Yubico
        pamu2fcfg > ~/.config/Yubico/u2f_keys
      fi
{{- end }}
