{{- if and (eq .chezmoi.os "linux") (eq .kind "pc" "laptop" "workstation" "sbc") }}
name: pam-u2f
method: os
# https://repology.org/project/pam-u2f/versions
is_essential: true
gentoo:
  packages:
    - name: sys-auth/pam_u2f
  hook:
    after: &pamu2fgen |-
      yubico_dir="$(dybatpho::path_join "$HOME" ".config" "Yubico")"
      if [ ! -d "$yubico_dir" ]; then
        mkdir -p "$yubico_dir"
        pamu2fcfg > "$(dybatpho::path_join "$yubico_dir" "u2f_keys")"
      fi
arch:
  packages:
    - name: pam-u2f
  hook:
    after: *pamu2fgen
ubuntu:
  packages:
    - name: libpam-u2f
  hook:
    after: *pamu2fgen
alpine:
  packages:
    - name: pam-u2f
  hook:
    after: *pamu2fgen
{{- end }}
