name: pastel
{{- if eq .chezmoi.os "android" }}
method: os
# https://repology.org/project/pastel-sharkdp/versions
termux:
  packages:
    - name: pastel
{{- else }}
method: binary
github:
  repo: sharkdp/pastel
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{-   $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{-   $arch = "aarch64" }}
  {{- end }}
  {{- $os := "" }}
  {{- if eq .chezmoi.os "linux" }}
  {{-   $os = "{{ $os }}" }}
  {{- else if eq .chezmoi.os "darwin" }}
  {{-   $os = "apple-darwin" }}
  {{- end }}
  release_asset: pastel-%v-{{ $arch }}-{{ $os }}.tar.gz
archive:
  - path: pastel-%v-{{ $arch }}-{{ $os }}/pastel
    strip: 1
  - path: pastel-%v-{{ $arch }}-{{ $os }}/autocomplete/pastel.fish
    location: {{ .chezmoi.homeDir }}/.config/fish/completions
    strip: 2
{{- end }}
