name: procs
{{- if eq .chezmoi.os "android" }}
method: os
# https://repology.org/project/procs/versions
termux:
  packages:
    - name: procs
{{- else }}
method: binary
github:
  repo: dalance/procs
  {{- $os := "" }}
  {{- $arch := "" }}
  {{- if eq .chezmoi.os "darwin" }}
  {{- $os = "mac" }}
  {{- else if eq .chezmoi.os "linux" }}
  {{- $os = "linux" }}
  {{- end }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{- $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{- $arch = "aarch64" }}
  {{- end }}
  release_asset: procs-%v-{{ $arch }}-{{ $os }}.zip
archive:
  - path: procs
{{- end }}
