name: radare2
method: os
# https://repology.org/project/radare2/versions
gentoo:
  packages:
    - name: dev-util/radare2
arch:
  packages:
    - name: radare2
ubuntu:
  packages:
    - name: radare2
alpine:
  packages:
    - name: radare2
termux:
  packages:
    - name: radare2
macos:
  packages:
    - name: radare2
