name: rclone
{{- if eq .chezmoi.os "linux" "darwin" }}
method: binary
github:
  repo: rclone/rclone
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "darwin" }}
  {{-   $os = "osx" }}
  {{- end }}
  release_asset: rclone-%v-{{ $os }}-{{ .chezmoi.arch }}.zip
archive:
  - path: rclone-$version-{{ $os }}-{{ .chezmoi.arch }}/rclone
  - path: rclone-$version-{{ $os }}-{{ .chezmoi.arch }}/rclone.1
    location: $HOME/.local/man/man1
{{- else if eq .chezmoi.os "android" }}
method: os
# https://repology.org/project/rclone/versions
termux:
  packages:
    - name: rclone
{{- end }}
