name: rclone
{{- if eq .chezmoi.os "linux" "darwin" }}
method: binary
github:
  repo: rclone/rclone
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "darwin" }}
  {{-   $os = "osx" }}
  {{- end }}
  release_asset: rclone-%v-{{ $os }}-{{ .chezmoi.arch }}.zip
  sha256: SHA256SUMS
archive:
  - path: rclone-%v{{ $os }}-{{ .chezmoi.arch }}/rclone
    strip: 1
  - path: rclone-%v-{{ $os }}-{{ .chezmoi.arch }}/rclone.1
    strip: 1
    location: {{ .chezmoi.homeDir }}/.local/man/man1
{{- else if eq .chezmoi.os "android" }}
method: os
# https://repology.org/project/rclone/versions
termux:
  packages:
    - name: rclone
{{- end }}
