name: semantic-release
method: binary
github:
  repo: go-semantic-release/semantic-release
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "android" }}
  {{- $os = "linux" }}
  {{- end }}
  release_asset: semantic-release_%v_{{ $os }}_{{ .chezmoi.arch }}
