name: system_zzz
method: os
is_essential: true
gentoo:
  packages:
    # System tools
    - name: app-misc/resolve-march-native
    - name: app-portage/cpuid2cpuflag
    - name: app-portage/gentoolkit
    - name: dev-util/pkgdev
    - name: sys-apps/portage
    - name: sys-apps/etckeeper
    - name: app-admin/syslog-ng
    - name: app-admin/logrotate
    - name: sys-process/cronie
    # Build tools
    - name: dev-build/autoconf
    - name: dev-build/autoconf-archive
    - name: dev-build/automake
    - name: dev-build/cmake
    - name: dev-build/meson
    - name: dev-build/ninja
    - name: sys-devel/gcc
    - name: llvm-core/llvm
    - name: llvm-core/clang
    # Build gentoo optimization tools
    - name: dev-util/ccache
    - name: dev-util/sccache
    - name: sys-devel/distcc
    # Misc tools
    {{- if eq .guiServer "W" }}
    - name: gui-apps/wev
    {{- end }}
    - name: dev-util/kcov
    - name: sys-process/parallel
    - name: sys-apps/ethtool
    - name: sys-process/lsof
    - name: sys-libs/gpm
    {{- if and (eq .kind "pc") (eq .place "home") }}
    - name: media-gfx/fontforge
    {{- end }}
  hook:
    after: |-
      # Initial setup sccache
      sudo mkdir -p /var/cache/sccache
      sudo chown root:portage /var/cache/sccache
      sudo chmod 2775 /var/cache/sccache
arch:
  packages:
    # System tools
    - name: base-devel
    - name: etckeeper
    # Misc tools
    {{- if and (eq .kind "laptop") (eq .place "office") }}
    - name: fontforge
    - name: sof-firmware
    - name: alsa-firmware
    {{- end }}
ubuntu:
  packages:
    # System tools
    - name: build-essential
    - name: make
alpine:
  packages:
    # Build tools
    - name: build-base
termux:
  packages:
    # System tools
    - name: termux-services
    - name: termux-exec
    - name: proot
    - name: tsu
    - name: which
    - name: file
    # Build tools
    - name: make
    - name: clang
macos:
  packages:
    # GNU compatible tools
    - name: bash
    - name: coreutils
    - name: findutils
    - name: gnu-sed
    - name: gawk
    - name: gnutls
    - name: gnu-indent
    - name: gnu-getopt
    - name: grep
    # Misc tools
    - name: alt-tab
      type: cask
      service: AltTab
      is_user_service: true
    - name: macos-defaults
      repo: dsully/tap
