name: tailscale
method: os
# https://repology.org/project/tailscale/versions
{{- if eq .kind "pc" "laptop" }}
is_essential: true
{{- end }}
gentoo:
  packages:
    - name: net-vpn/tailscale
      service: tailscale
  hook:
    after: sudo tailscale up
arch:
  packages:
    - name: tailscale
      service: tailscaled
  hook:
    after: sudo tailscale up
ubuntu:
  packages:
    - name: tailscale
      service: tailscale
      repo: https://pkgs.tailscale.com/stable/ubuntu
      components: main
      key: https://pkgs.tailscale.com/stable/ubuntu/noble.noarmor.gpg
  hook:
    after: sudo tailscale up
alpine:
  packages:
    - name: tailscale
  hook:
    after: |
      sudo tailscaled
      sudo tailscale up
termux: # Install via F-Droid
macos:
  packages:
    - name: tailscale
      type: cask
  hook:
    after: sudo tailscale up
