{{- if ne .guiServer "0" }}
name: kitty
method: os
# https://repology.org/project/kitty-terminal/versions
is_essential: true
gentoo:
  packages:
    - name: x11-terms/kitty
arch:
  packages:
    - name: kitty
    - name: kitty-terminfo
ubuntu:
  packages:
    - name: kitty
    - name: kitty-terminfo
alpine:
  packages:
    - name: kitty
    - name: kitty-terminfo
macos:
  packages:
    - name: kitty
      type: cask
{{- end }}
{{- if eq .chezmoi.os "android" }}
name: termux
method: os
is_essential: true
fdroid:
  packages:
    - name: com.termux
    - name: com.termux.styling
{{- end }}
