name: terraform-docs
method: binary
github:
  repo: terraform-docs/terraform-docs
  release_asset: terraform-docs-%v-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz
  sha256: terraform-docs-%v.sha256sum
archive:
  - path: terraform-docs
