name: tickrs
method: binary
github:
  repo: tarkah/tickrs
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: tickrs-%v-x86_64-unknown-linux-gnu.tar.gz
  {{- else if eq .chezmoi.arch "arm64" }}
  {{-   if eq .chezmoi.os "android" }}
  release_asset: tickrs-%v-aarch64-linux-android.tar.gz
  {{-   else }}
  release_asset: tickrs-%v-aarch64-unknown-linux-gnu.tar.gz
  {{-   end }}
  {{- end }}
archive:
  - path: ./tickrs
