name: trivy
method: binary
github:
  repo: aquasecurity/trivy
  {{- $os := "" }}
  {{- if eq .chezmoi.os "darwin" }}
  {{-   $os = "macOS" }}
  {{- else if eq .chezmoi.os "linux" "android" }}
  {{-   $os = "Linux" }}
  {{- end }}
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{-   $arch = "64bit" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{-   $arch = "ARM64" }}
  {{- end }}
  release_asset: trivy_%1v_{{ $os }}-{{ $arch }}.tar.gz
archive:
  - path: trivy
