name: tspin
method: binary
is_essential: true
github:
  repo: bensadeh/tailspin
  {{- $os := "" }}
  {{- if eq .chezmoi.os "darwin" }}
  {{-   $os = "apple-darwin" }}
  {{- else if eq .chezmoi.os "linux" "android" }}
  {{-   $os = "unknown-linux-musl" }}
  {{- end }}
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{-   $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{-   $arch = "aarch64" }}
  {{- end }}
  release_asset: tailspin-{{ $arch }}-{{ $os }}.tar.gz
archive:
  - path: tspin
