name: venom
method: binary
github:
  repo: ovh/venom
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "android" }}
  {{- $os = "linux" }}
  {{- end }}
  release_asset: venom.{{ $os }}-{{ .chezmoi.arch }}
