{{- if eq .kind "laptop" }}
name: vmware-horizon-client
method: os
# https://repology.org/project/watchexec/versions
gentoo:
  packages:
    - name: net-misc/omnissa-horizon-client
      repo: pg_overlay
arch:
  packages:
    - name: omnissa-horizon-client
macos:
  packages:
    - name: omnissa-horizon-client
      type: cask
{{- end }}
