name: wtf
method: binary
github:
  repo: wtfutil/wtf
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "android" }}
  {{-   $os = "linux" }}
  {{- end }}
  release_asset: wtf_%1v_{{ $os }}_{{ .chezmoi.arch }}.tar.gz
archive:
  - path: wtfutil
