name: yq
is_essential: true
method: binary
github:
  repo: mikefarah/yq
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "android" }}
  {{-   $os = "linux" }}
  {{- end }}
  release_asset: yq_{{ $os }}_{{ .chezmoi.arch }}
