name: yt-dlp
method: binary
github:
  repo: yt-dlp/yt-dlp
  {{- $suffix := "" }}
  {{- if eq .chezmoi.os "linux" "android" }}
  {{-   if eq .chezmoi.arch "amd64" }}
  {{- $suffix = "linux" }}
  {{-   else if eq .chezmoi.arch "arm64" }}
  {{- $suffix = "linux_aarch64" }}
  {{-   end  }}
  {{- else if eq .chezmoi.os "darwin" }}
  {{- $suffix = "macos" }}
  {{- end  }}
  release_asset:  yt-dlp_{{ $suffix }}
