{{- $machine := printf "%s_%s" .place .kind -}}
folders:
  - path: {{ .chezmoi.sourceDir }}/..
    prefix: ""
    is_workspace: false
    regex: ""
    priority: 0
  - path: {{ .chezmoi.sourceDir }}/../silos
    prefix: ""
    is_workspace: true
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/.config/chezmoi
    prefix: ""
    is_workspace: false
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Temp
    prefix: "tmp"
    is_workspace: true
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Working/community
    prefix: ""
    is_workspace: true
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Working/personal
    prefix: ""
    is_workspace: true
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Working/freelancer
    prefix: ""
    is_workspace: true
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Working/personal/fish
    prefix: "fish"
    is_workspace: true
    regex: ""
    priority: 0
    git:
      host: gl
      group: dynamo-config/fish-packages
      repos:
        - name: autopairs
          path: autopairs
        - name: bitrofi
          path: bitrofi
        - name: canaudua
          path: canaudua
        - name: caran
          path: caran
        - name: fzf
          path: fzf
  - path: {{ .chezmoi.homeDir }}/Working/personal/tools
    prefix: "tool"
    is_workspace: true
    regex: ""
    priority: 0
    git:
      host: gl
      group: dynamo-tools
      repos:
        - name: projekt
          path: projekt
        - name: datme
          path: datme
        - name: sh-docs
          path: sh-docs
  - path: {{ .chezmoi.homeDir }}/Working/personal/infra
    prefix: "infra"
    is_workspace: true
    regex: ""
    priority: 0
    git:
      host: gl
      group: dynamo-infra
      repos:
        - name: homeops
          path: homeops
        - name: terragrunt
          path: terragrunt
  - path: {{ .chezmoi.homeDir }}/Working/personal/misc
    prefix: "misc"
    is_workspace: true
    regex: ""
    priority: 0
    git:
      host: gh
      group: dynamotn
      repos:
        - name: stars-collection
          path: stars-collection
        - name: action-awesome-list
          path: stars-action
        - name: Iosevka-Dynamo
          path: font
        - name: bash-coding-style
          path: bash-coding-style
        - name: dye
          path: dye
        - name: cv
          path: cv
        - name: tree-sitter-dbml
          path: tree-sitter-dbml
  {{- if eq .kind "pc" "laptop" }}
  - path: {{ .chezmoi.homeDir }}/Working/personal/finance
    prefix: "finance"
    is_workspace: true
    regex: ""
    priority: 0
    git:
      host: gl
      group: dynamo-finance
      repos:
        - name: ledger
          path: ledger
  - path: {{ .chezmoi.homeDir }}/Documents/Notes
    prefix: ""
    is_workspace: false
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Documents/Notes/_assets/books
    prefix: "book"
    is_workspace: true
    regex: ""
    priority: 0
  {{- end }}
  {{- $top := . }}
  {{- range .decryptEnterprise }}
  {{-   $projektSecret := printf "../secrets/data/enterprise-%s/projekt.yaml.age" . | join $.chezmoi.sourceDir | include | decrypt | fromYaml }}
  {{-   range $projektSecret.folders }}
  {{-     $folder := . }}
  - {{-   $folder | toYaml | replaceAllRegex "\\$HOME" $top.chezmoi.homeDir | nindent 4 }}
  {{-   end }}
  {{- end }}
gitServers:
  {{- if .decryptPersonal }}
  {{-   $gitSecret := print "../secrets/data/personal/git.yaml.age" | join $.chezmoi.sourceDir | include | decrypt | fromYaml }}
  {{-   range $gitSecret.servers }}
  - name: {{ .name | quote }}
    type: {{ .type | quote }}
    https: {{ .https | trimSuffix "/" | quote }}
    ssh: {{ .ssh | trimSuffix "/" | trimSuffix ":" | quote }}
    preferGitSSH: {{ .preferGitSSH }}
  {{-   end }}
  {{- end }}
  {{- range .decryptEnterprise }}
  {{-   $gitSecret := printf "../secrets/data/enterprise-%s/git.yaml.age" . | join $.chezmoi.sourceDir | include | decrypt | fromYaml }}
  {{-   range $gitSecret.servers }}
  - name: {{ .name | quote }}
    type: {{ .type | quote }}
    https: {{ .https | trimSuffix "/" | quote }}
    ssh: {{ .ssh | trimSuffix "/" | trimSuffix ":" | quote }}
    preferGitSSH: {{ .preferGitSSH }}
  {{-   end }}
  {{- end }}
