encryption = "age"
format = "yaml"
mode = "symlink"
progress = true

[add]
    templateSymlinks = true

[age]
    identity = "~/.config/chezmoi/key"
    recipient = "age1fzajmt2yy4naas2wtcn3v2vjea3f5rgvmz2elp02zvvmdtcgwcdsqxnd5a"

[diff]
    pager = "delta"

[data]
    place = {{ promptStringOnce . "place" "Where does this machine place? (home/office/cloud)" | quote }}
    kind = {{ promptStringOnce . "kind" "What kind of this machine is it? (pc/workstation/tablet/vm/...)" | quote }}
