encryption: age
format: yaml
mode: symlink
{{- if stdinIsATTY }}
progress: true
{{- end }}

add:
  templateSymlinks: true

age:
  identity: {{ .chezmoi.homeDir }}/.config/chezmoi/key
  recipient: age1fzajmt2yy4naas2wtcn3v2vjea3f5rgvmz2elp02zvvmdtcgwcdsqxnd5a

diff:
  pager: delta --pager="ov -F --section-delimiter '^(added:|removed:|renamed:|Δ)' --section-header --pattern '•'"

data:
  {{ $place := promptChoiceOnce . "place" "Where does this machine place?" (list "home" "office" "cloud") "cloud" | quote }}
  place: {{ $place }}
  {{ $kind := promptChoiceOnce . "kind" "What kind of this machine is it?"  (list "pc" "laptop" "workstation" "tablet" "vm" "sbc" "container") "container" | quote }}
  kind: {{ $kind }}
  {{- if eq $kind "sbc" "vm" "workstation" }}
  code: {{ promptStringOnce . "code" "What is this machine's name?" | quote }}
  {{- end }}
  {{- if eq $place "office" }}
  company: {{ promptStringOnce . "company" "What code of owner company is?" | quote }}
  {{- end }}
  {{ $guiServer := promptChoiceOnce . "guiServer" "Which GUI server of this machine is? (X for Xorg, W for Wayland, M for Mac, 0 for CLI-only)" (list "X" "W" "0") "0" }}
  guiServer: {{ $guiServer | quote }}
  {{- if eq $guiServer "X" "W" }}
  guiDriver: {{ promptChoiceOnce . "guiDriver" "Which GUI video driver of this machine is? (N for Nvidia, I for Intel, A for AMD)" (list "N" "I" "A") | quote }}
  browser: {{ promptChoiceOnce . "browser" "What browser do you use? (F for Firefox, Z for Zen Browser)" (list "F" "Z") "Z" | quote }}
  {{- end }}
  {{ $hasSound := promptBoolOnce . "hasSound" "Does this machine has a sound card? (y/n)" false }}
  hasSound: {{ $hasSound }}
  {{ $hasBluetooth := promptBoolOnce . "hasBluetooth" "Does this machine has a bluetooth device? (y/n)" false }}
  hasBluetooth: {{ $hasBluetooth }}

hooks:
  diff:
    pre:
      command: "bash"
      args:
        - -c
        # HACK: run bash again to avoid the error
        - bash {{ .chezmoi.homeDir }}/.config/chezmoi/hooks/diff/pre.sh
