docker/Dockerfile.*
{{- if ne .Env.TOOLBOX_TYPE "personal" }}
secrets/personal.age
secrets/data/personal/
{{- end }}
{{- range coll.Slice "F1" "T1" "ZOO" }}
{{-   if ne $.Env.TOOLBOX_TYPE . }}
secrets/enterprise-{{ . }}.age
secrets/data/enterprise-{{ . }}/
{{-   end }}
{{- end }}

home/private_dot_ssh/keys
home/private_dot_config/firefox/startpage
