[submodule "scripts/lib/dybatpho"]
  path = scripts/lib/dybatpho
  url = https://github.com/dynamotn/dybatpho.git
[submodule "scripts/lib/expect-age"]
  path = scripts/lib/expect-age
  url = https://github.com/dynamotn/expect-age.git
[submodule "neovim"]
  path = home/dot_config/nvim
  url = git@gitlab.com:dynamo-config/neovim.git
[submodule "tmux"]
  path = silos/tmux
  url = git@gitlab.com:dynamo-config/tmux.git
[submodule "awesome"]
  path = home/dot_config/awesome
  url = git@gitlab.com:dynamo-config/awesome.git
[submodule "wallpaper"]
  path = home/Multimedia/Pictures/Wallpaper
  url = git@gitlab.com:dynamo-config/wallpaper.git
[submodule "icon"]
  path = silos/icon
  url = git@gitlab.com:dynamo-theme/icon.git
[submodule "lepton"]
  path = home/.chezmoitemplates/firefox/chrome/lepton
  url = git@github.com:black7375/Firefox-UI-Fix.git
[submodule "firefox-personal"]
  path = home/dot_config/firefox/profiles/personal
  url = git@gitlab.com:dynamo-config/firefox/personal.git
[submodule "thunderbird-personal"]
  path = home/dot_config/thunderbird/profiles/personal
  url = git@gitlab.com:dynamo-config/thunderbird/personal.git
[submodule "firefox-enterprise-F1"]
  path = home/dot_config/firefox/profiles/enterprise-F1
  url = git@gitlab.com:dynamo-config/firefox/enterprise-F1.git
[submodule "thunderbird-enterprise-F1"]
  path = home/dot_config/thunderbird/profiles/enterprise-F1
  url = git@gitlab.com:dynamo-config/thunderbird/enterprise-F1.git
[submodule "secrets/data"]
  path = secrets/data
  url = git@gitlab.com:dynamo-config/dotfiles-secrets.git
