home/**/*.age diff=personal-age
root/**/*.age diff=personal-age
secrets/data/personal/**/*.age diff=personal-age
home/dot_config/firefox/startpage/src/img/background/*F1.png.age diff=enterprise-F1-age
home/private_dot_ssh/key/enterprise-F1_*.age diff=enterprise-F1-age
home/Working/enterprise/F1/**/*.age diff=enterprise-F1-age
secrets/data/enterprise-F1/**/*.age diff=enterprise-F1-age
root/etc/ca-certificate/**/*.age diff=enterprise-F1-age
