window > .bar {
  margin: 0.5rem 0.5rem;
  box-shadow: 0 0 4px 1px rgba(black, 0.5);
  background-color: $bg;
}

.bar {
  font-family: "Iosevka Dynamo", monospace;
  font-size: 1.4rem;
  padding: 1rem 0.4rem;
  border-radius: 1rem;
  background-color: transparent;

  .launcher_icon {
    font-size: 1rem;
    color: $teal;

    &:hover {
      color: darken($color: $teal, $amount: 30%);
    }
  }

  .workspaces {
    background: $bg-alt;
    padding: 0.2rem 0.2rem;
    border-radius: 1rem;

    .workspace {
      border-radius: 2rem;
      margin: 0.4rem 0.2rem;

      &.empty {
        background: lighten($color: $bg, $amount: 3%);
      }

      &.occupied {
        background: $teal;
        .name {
          color: $bg;
        }
      }

      &.active {
        background: $green;
        .name {
          color: $bg;
        }
      }

      &:hover {
        &.empty {
          background: lighten($color: $bg, $amount: 10%);
        }
        &.occupied {
          background: lighten($color: $teal, $amount: 10%);
        }
        &.active {
          background: lighten($color: $green, $amount: 10%);
        }
      }

      .name {
        font-size: 1rem;
        color: $fg;
        margin: 0.4rem;
      }
    }
  }

  .time {
    font-weight: bold;
    font-size: 1em;
    background-color: $bg-alt;
    color: $fg;
    border-radius: 1rem;
    padding: 0.2rem 0.2rem 0.1rem 0.2rem;

    &.hour {
      border-bottom: 0.1rem solid $fg;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
