window > .bar {
  margin: 0.5rem 0.5rem 0.5rem 0.7rem;
  box-shadow: 0 0 4px 1px rgba(black, 0.5);
  background-color: $bg;
}

.bar {
  font-family: "Iosevka Dynamo", monospace;
  font-size: 1.4rem;
  padding: 1rem 0.4rem;
  border-radius: 1rem;
  background-color: transparent;

  .launcher_icon {
    font-size: 1rem;
    color: $blue;

    &:hover {
      color: darken($color: $blue, $amount: 30%);
    }
  }
}
