window > .bar {
  margin: 0.5rem 0.5rem 0.5rem 0.7rem;
  box-shadow: 0 0 4px 1px rgba(black, 0.5);
  background-color: $bg;
}

.bar {
  font-family: "Iosevka Dynamo", monospace;
  font-size: 1.4rem;
  padding: 1rem 0.4rem;
  border-radius: 1rem;
  background-color: transparent;

  .launcher_icon {
    font-size: 1rem;
    color: $lavender;

    &:hover {
      color: darken($color: $lavender, $amount: 30%);
    }
  }

  .workspaces {
    background: $bg-alt;
    padding: 0.2rem 0.2rem;
    border-radius: 1rem;

    .workspace {
      border-radius: 1rem;
      min-width: .5rem;

      &.empty {
        background: lighten($color: $bg, $amount: 3%);
        min-height: .7rem;
        min-width: .7rem;
      }

      &.occupied {
        background: $lavender;
        min-height: 1rem;
      }

      &.active {
        background: $blue;
        min-height: 1rem;
        min-width: 1rem;
      }

      &:hover {
        &.empty {
          background: lighten($color: $bg, $amount: 10%);
        }
        &.occupied,
        &.active {
          background: lighten($color: $lavender, $amount: 10%);
        }
      }
    }
  }
}
