[".asdf"]
    type = "git-repo"
    url = "https://github.com/asdf-vm/asdf.git"
    refreshPeriod = "168h"
[".config/bat/themes/catppuccin.tmTheme"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/bat/main/Catppuccin-macchiato.tmTheme"
    refreshPeriod = "168h"
{{- if eq .chezmoi.os "android" }}
[".config/termux/color.properties"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/termux/main/Macchiato/colors.properties"
    refreshPeriod = "168h"
{{- end }}
[".fzf"]
    type = "git-repo"
    url = "https://github.com/junegunn/fzf.git"
    refreshPeriod = "168h"
["{{- splitList (printf "%s/" .chezmoi.homeDir) .chezmoi.sourceDir | last }}/.chezmoitemplates/firefox/prefs/00-arkenfox.js"]
    type = "file"
    url = "https://raw.githubusercontent.com/arkenfox/user.js/master/user.js"
    refreshPeriod = "168h"
[".local/bin/cht"]
    type = "file"
    url = "https://cht.sh/:cht.sh"
    executable = true
    refreshPeriod = "168h"
{{- if eq .kind "pc" }}
[".local/share/themes/Dynamo"]
    type = "archive"
    url = "https://github.com/catppuccin/gtk/releases/latest/download/Catppuccin-Macchiato-Standard-Lavender-dark.zip"
    exact = true
    refreshPeriod = "168h"
    stripComponents = 1
    include = [ "Catppuccin-Macchiato-Standard-Lavender-dark/gtk-*/*" ]
[".local/share/icons/Dynamo-Cursor"]
    type = "archive"
    url = "https://github.com/catppuccin/cursors/releases/latest/download/Catppuccin-Macchiato-Lavender-Cursors.zip"
    exact = true
    refreshPeriod = "168h"
    stripComponents = 1
    exclude = [ "Catppuccin-Macchiato-Lavender-Cursors/index.theme" ]
{{- end }}
{{- if eq .chezmoi.os "android" }}
[".termux/font.ttf"]
    type = "file"
    url = "https://raw.githubusercontent.com/dynamotn/font-collection/main/files/DIY/Iosevka/iosevka-dynamo-nerd.ttf"
    refreshPeriod = "168h"
{{- end }}
