{/* Git objects and misc files */}
**/.git/**
**/.gitignore
**/.gitmodules
**/*.sqlite-wal
**/.DS_Store
**/.uuid

{/* Linux UI-related files */}
{{- if eq .guiServer "0" "M" }}
.local/share/themes
.local/share/icons
.config/fontconfig
.config/gtk-3.0
.config/gtk-4.0
.config/Trolltech.conf
.config/user-dirs.dirs
.local/bin/xdg-*
{{- end }}


{/* Browser and mail client files */}
{/* Based on GUI window manager */}
{{- if eq .guiServer "0" }}
.config/tridactyl
.mozilla
.zen
.config/firefox
.thunderbird
.config/thunderbird
.local/bin/dyfox
.local/bin/dybird
{{- else if eq .guiServer "M" }}
.mozilla
.zen
.thunderbird
{{- else }}
Library/Application Support/Firefox
Library/Application Support/zen
Library/thunderbird
{{- end }}
{/* Based on type of browser */}
{{- if ne .browser "F" }}
.mozilla
Library/Application Support/Firefox
.config/firefox/profiles/*/chrome
{{- else if ne .browser "Z" }}
.zen
Library/Application Support/zen
{{- else if empty .browser }}
.config/firefox
{{- end }}
{/* Ignore when running */}
{{- $processFirefox := "" }}
{{- $processThunderbird := "" }}
{{- if eq .browser "F" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $processFirefox = "/Applications/Firefox.app/Contents/MacOS/firefox" }}
{{-   else if eq .osid "linux-gentoo" }}
{{-     $processFirefox = "/usr/lib64/firefox" }}
{{-   else }}
{{-     $processFirefox = "/usr/lib/firefox" }}
{{-   end }}
{{- else if eq .browser "Z" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $processFirefox = "/Applications/Zen.app/Contents/MacOS/zen" }}
{{-   else if eq .osid "linux-gentoo" }}
{{-     $processFirefox = "/opt/zen/zen-bin" }}
{{-   else }}
{{-     $processFirefox = "/opt/zen-browser-bin/zen" }}
{{-   end }}
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $processThunderbird = "/Applications/Thunderbird.app/Contents/MacOS/thunderbird" }}
{{- else if eq .osid "linux-gentoo" }}
{{-   $processThunderbird = "/opt/thunderbird" }}
{{- else }}
{{-   $processThunderbird = "/usr/lib/thunderbird" }}
{{- end }}
{{- if ne .guiServer "0" }}
{{-   if gt (output "bash" "-c" (printf "pgrep -f %s | wc -l" $processFirefox) | trim | int) 1 }}
.config/firefox
.mozilla
.zen
Library/Application Support/Firefox
Library/Application Support/zen
{{-   end }}
{{-   if gt (output "bash" "-c" (printf "pgrep -f %s | wc -l" $processThunderbird) | trim | int) 1 }}
.config/thunderbird
.thunderbird
Library/thunderbird
{{-   end }}
{{- end }}

{/* Other GUI tools */}
{{- if eq .guiServer "0" }}
.local/bin/obsidian
.config/kitty
{{- end }}
{{- if eq .guiServer "M" }}
.local/bin/obsidian
{{- end }}
{{- if not (eq .kind "pc" "laptop") }}
.config/mpv
{{- end }}

{/* Window manager and WM-related files */}
{{- if ne .guiWinManager "H" }}
.config/hypr
.config/hyprshade
.wayland_init.fish
.config/fcitx5
.config/wofi
.config/swaylock
.config/eww
{{- end }}
{{- if ne .guiWinManager "G" }}
.config/ibus-bamboo
{{- end }}
{{- if ne .guiWinManager "A" }}
.config/aerospace
.config/sketchybar
{{- end }}

{/* Terminal multiplexer files */}
{{- if ne .terminalMultiplexer "T" }}
.tmux.conf
.config/tmux
.config/smug
{{- else if ne .terminalMultiplexer "Z" }}
.config/zellij
{{- end }}

{/* Linux related files */}
{{- if eq .osid "linux-gentoo" "darwin" "android" }}
.config/systemd
{{- end }}

{/* MacOS related files */}
{{- if ne .guiServer "M" }}
Library
.macos
{{- end }}

{/* Machine type files */}
{{- if ne .kind "laptop" }}
.config/shikane
{{- end }}

{/* Self-managed folders */}
{{- if not (eq .kind "pc" "laptop") }}
{{-   if not (eq .kind "container" "vm") }}
Working
{{-   end }}
Multimedia
{{- end }}

{/* Enterprise files */}
{{- if ne .place "office" }}
.npmrc
{{- end }}

{/* Secret files and Private submodules */}
{{- if not .decryptPersonal }}
Library/Application Support/rbw
.config/firefox/profiles/personal
.config/fish-ai.ini
.config/fish/secret.fish
.config/github-copilot/hosts.json
.config/glab-cli/config.yml
.config/himalaya
.config/.jira
.config/rbw
.config/thunderbird/profiles/personal
.config/tstruct/auth.json
.kube/config
.terraformrc
.docker/config.json
.ssh/config.d/personal.config
.ssh/key/personal*
{{- end }}
{{- if empty .decryptEnterprise }}
.config/firefox/startpage/profiles/enterprise/config.js
.config/rclone/rclone.conf
Library/Application Support/rbw-*
.config/rbw-*
{{- end }}
{{- if not (has "F1" .decryptEnterprise) }}
Library/Application Support/rbw-enterprise-F1
Working/enterprise/F1/.gitconfig
Working/enterprise/F1/OP/.kube/config
Working/enterprise/F1/OP/.docker/config.json
.config/firefox/profiles/enterprise-F1
.config/rbw-enterprise-F1
.config/thunderbird/profiles/enterprise-F1
.ssh/key/enterprise-F1_*
{{- end }}
