**/.git/**
**/.gitignore
**/.gitmodules

{{ if ne .chezmoi.os "linux" }}
.config/dynamo/os/linux/**
{{ else }}
{{ if ne .chezmoi.osRelease.id "gentoo" }}
.config/dynamo/os/linux/gentoo.csv
{{ end }}
{{ if ne .chezmoi.osRelease.id "arch" }}
.config/dynamo/os/linux/arch.csv
{{ end }}
{{ if ne .chezmoi.osRelease.id "ubuntu" }}
.config/dynamo/os/linux/ubuntu.csv
{{ end }}
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.config/dynamo/binary/linux/**
{{ end }}

{{ if ne .kind "pc" }}
.xprofile
.Xresources
.config/kitty
.config/awesome
.config/ibus-bamboo
.config/rofi
Multimedia/Pictures/Wallpaper
.local/share/fonts
.config/fontconfig
.local/share/themes
.local/share/icons
.config/gtk-3.0
.config/gtk-4.0
.config/Trolltech.conf
.config/user-dirs.dirs
{{ end }}
