.asdf:
  type: git-repo
  url: 'https://github.com/asdf-vm/asdf.git'
  refreshPeriod: 168h
.config/bat/themes/catppuccin.tmTheme:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/bat/main/themes/Catppuccin%20Macchiato.tmTheme
  refreshPeriod: 168h
.config/k9s/skin.yml:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/k9s/main/dist/catppuccin-macchiato.yaml
  refreshPeriod: 168h
{{- if ne .chezmoi.os "cloud" }}
.config/zellij/themes/catppuccin.kdl:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/zellij/refs/heads/main/catppuccin.kdl
  refreshPeriod: 168h
{{- end }}
{{- if eq .chezmoi.os "android" }}
.config/termux/color.properties:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/termux/main/themes/catppuccin-macchiato.properties
  refreshPeriod: 168h
{{- end }}
.fzf:
  type: git-repo
  url: 'https://github.com/junegunn/fzf.git'
  refreshPeriod: 168h
{{ splitList (printf "%s/" .chezmoi.homeDir) .chezmoi.sourceDir | last }}/.chezmoitemplates/firefox/prefs/00-arkenfox.js:
  type: file
  url: 'https://raw.githubusercontent.com/arkenfox/user.js/master/user.js'
  refreshPeriod: 168h
{{ splitList (printf "%s/" .chezmoi.homeDir) .chezmoi.sourceDir | last }}/.chezmoitemplates/thunderbird/prefs/00-arkenfox.js:
  type: file
  url: https://raw.githubusercontent.com/HorlogeSkynet/thunderbird-user.js/master/user.js
  refreshPeriod: 168h
.local/bin/anti-ddos:
  type: file
  url: 'https://raw.githubusercontent.com/anti-ddos/Anti-DDOS/master/anti-ddos.sh'
  executable: true
  refreshPeriod: 168h
.local/bin/color16:
  type: file
  url: 'https://raw.githubusercontent.com/pablopunk/colortest/master/colortest'
  executable: true
  refreshPeriod: 168h
.local/bin/color256:
  type: file
  url: https://misc.flogisoft.com/_export/code/bash/tip_colors_and_formatting?codeblock=56
  executable: true
  refreshPeriod: 168h
.local/bin/colorfull:
  type: file
  url: https://misc.flogisoft.com/_export/code/bash/tip_colors_and_formatting?codeblock=55
  executable: true
  refreshPeriod: 168h
.local/bin/truecolor:
  type: file
  url: https://gist.githubusercontent.com/lifepillar/09a44b8cf0f9397465614e622979107f/raw/24-bit-color.sh
  executable: true
  refreshPeriod: 168h
.local/bin/git-quick-stats:
  type: file
  url: https://raw.githubusercontent.com/arzzen/git-quick-stats/master/git-quick-stats
  executable: true
  refreshPeriod: 168h
.local/bin/now:
  type: file
  url: 'https://raw.githubusercontent.com/apankrat/now.sh/master/now.sh'
  executable: true
  refreshPeriod: 168h
{{- if .hasSound }}
.local/bin/pulsemixer:
  type: file
  url: 'https://raw.githubusercontent.com/GeorgeFilipkin/pulsemixer/master/pulsemixer'
  executable: true
  refreshPeriod: 168h
{{- end  }}
.local/bin/qrify:
  type: file
  url: https://raw.githubusercontent.com/alexanderepstein/Bash-Snippets/master/qrify/qrify
  executable: true
  refreshPeriod: 168h
.local/bin/screensaver:
  type: file
  url: 'https://raw.githubusercontent.com/pipeseroni/pipes.sh/master/pipes.sh'
  executable: true
  refreshPeriod: 168h
.local/bin/shmig:
  type: file
  url: 'https://raw.githubusercontent.com/mbucc/shmig/master/shmig'
  executable: true
  refreshPeriod: 168h
.local/bin/tmpmail:
  type: file
  url: 'https://raw.githubusercontent.com/sdushantha/tmpmail/master/tmpmail'
  executable: true
  refreshPeriod: 168h
.local/bin/trans:
  type: file
  url: 'https://raw.githubusercontent.com/soimort/translate-shell/gh-pages/trans'
  executable: true
  refreshPeriod: 168h
{{- if eq .chezmoi.os "cloud" }}
.local/bin/xpanes:
  type: file
  url: 'https://raw.githubusercontent.com/greymd/tmux-xpanes/master/bin/xpanes'
  executable: true
  refreshPeriod: 168h
{{- end }}
.local/bin/yq:
  type: file
  {{- if eq .chezmoi.os "android" }}
  url: 'https://github.com/mikefarah/yq/releases/latest/download/yq_linux_arm64'
  {{- else if eq .chezmoi.os "linux" }}
  url: 'https://github.com/mikefarah/yq/releases/latest/download/yq_linux_{{ .chezmoi.arch }}'
    {{- else if eq .chezmoi.os "darwin" }}
  url: 'https://github.com/mikefarah/yq/releases/latest/download/yq_darwin_{{ .chezmoi.arch }}'
  {{- end }}
  executable: true
{{- if eq .kind "pc" "laptop" }}
{{- if eq .guiServer "W" }}
.local/bin/hdrop:
  type: file
  url: https://raw.githubusercontent.com/hyprwm/contrib/main/hdrop/hdrop
  executable: true
  refreshPeriod: 168h
.local/share/fcitx5/themes/catppuccin:
  type: archive
  url: https://github.com/catppuccin/fcitx5/archive/refs/heads/main.zip
  refreshPeriod: 168h
  stripComponents: 3
  include:
    - fcitx5-main/src/catppuccin-macchiato-teal/*
{{- end }}
{{- if and (eq .chezmoi.os "linux") (eq .guiServer "X" "W") }}
.local/share/themes/Dynamo:
  type: archive
  url: https://github.com/catppuccin/gtk/releases/download/v1.0.0-rc5/catppuccin-macchiato-teal-standard+default.zip
  exact: true
  refreshPeriod: 168h
  stripComponents: 1
  include:
    - catppuccin-macchiato-teal-standard+default/gtk-*/*
.local/share/icons/Dynamo-Cursor:
  type: archive
  url: https://github.com/catppuccin/cursors/releases/latest/download/catppuccin-macchiato-teal-cursors.zip
  exact: true
  refreshPeriod: 168h
  stripComponents: 1
  exclude:
    - catppuccin-macchiato-teal-cursors/index.theme
{{- end }}
{{- if eq .guiServer "X" "W" }}
{{ splitList (printf "%s/" .chezmoi.homeDir) .chezmoi.sourceDir | last }}/../silos/font/files/Community/Nerd/SymbolsNerdFont-Regular.ttf:
  type: file
  url: 'https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/NerdFontsSymbolsOnly/SymbolsNerdFont-Regular.ttf'
  refreshPeriod: 168h
{{ splitList (printf "%s/" .chezmoi.homeDir) .chezmoi.sourceDir | last }}/dot_config/firefox/profiles/personal/extensions/tridactyl.vim.betas.nonewtab@cmcaine.co.uk.xpi:
  type: file
  url: 'https://tridactyl.cmcaine.co.uk/betas/nonewtab/tridactyl_no_new_tab_beta-latest.xpi'
  refreshPeriod: 168h
{{ splitList (printf "%s/" .chezmoi.homeDir) .chezmoi.sourceDir | last }}/dot_config/firefox/profiles/enterprise/extensions/tridactyl.vim.betas.nonewtab@cmcaine.co.uk.xpi:
  type: file
  url: 'https://tridactyl.cmcaine.co.uk/betas/nonewtab/tridactyl_no_new_tab_beta-latest.xpi'
  refreshPeriod: 168h
{{ splitList (printf "%s/" .chezmoi.homeDir) .chezmoi.sourceDir | last }}/dot_config/thunderbird/profiles/personal/extensions/{d3f3abb5-21aa-57fd-80e3-a9a1887b1d16}.xpi:
  type: file
  url: 'https://github.com/catppuccin/thunderbird/raw/refs/heads/main/themes/macchiato/macchiato-teal.xpi'
  refreshPeriod: 168h
{{ splitList (printf "%s/" .chezmoi.homeDir) .chezmoi.sourceDir | last }}/dot_config/thunderbird/profiles/enterprise/extensions/{d3f3abb5-21aa-57fd-80e3-a9a1887b1d16}.xpi:
  type: file
  url: 'https://github.com/catppuccin/thunderbird/raw/refs/heads/main/themes/macchiato/macchiato-teal.xpi'
  refreshPeriod: 168h
{{- end }}
{{- if ne .chezmoi.username "root" }}
Documents/Notes:
  type: git-repo
  url: git@gitlab.com:dynamo.foss/notes.git
  refreshPeriod: 2h
{{- end }}
{{- end }}
{{- if eq .chezmoi.os "android" }}
.termux/font.ttf:
  type: file
  url: https://raw.githubusercontent.com/dynamotn/font-collection/main/files/DIY/Iosevka/iosevka-dynamo-nerd.ttf
  refreshPeriod: 168h
{{- end }}
