**/.git/**
**/.gitignore
**/.gitmodules
**/*.sqlite-wal

{{- if eq .guiServer "0" }}
.xprofile
.Xresources
.config/kitty
.config/firefox
.mozilla/firefox
Library
.config/thunderbird
.thunderbird
.local/share/fonts
.config/fontconfig
.local/share/themes
.local/share/icons
.local/bin/obsidian
.local/bin/xdg-*
.config/gtk-3.0
.config/gtk-4.0
.config/Trolltech.conf
.config/user-dirs.dirs
Multimedia/Pictures/Wallpaper
{{- else if eq .guiServer "M" }}
.mozilla
.thunderbird
{{- else if eq .guiServer "X" "W" }}
Library
{{ $process := "" }}
{{- if eq .chezmoi.osRelease.id "gentoo" }}
{{- $process = "/usr/lib64/firefox" }}
{{- else }}
{{- $process = "/usr/lib/firefox" }}
{{- end -}}
{{- if gt (output "bash" "-c" (printf "ps aux | grep %s | wc -l" $process) | trim | int) 2 }}
.config/firefox
.mozilla/firefox
{{- end }}
{{- if eq .chezmoi.osRelease.id "gentoo" }}
{{- $process = "/opt/thunderbird" }}
{{- else }}
{{- $process = "/usr/lib/thunderbird" }}
{{- end -}}
{{- if gt (output "bash" "-c" (printf "ps aux | grep %s | wc -l" $process) | trim | int) 2 }}
.config/thunderbird
.thunderbird
{{- end }}
{{- end }}

{{- if ne .guiServer "X" }}
.config/awesome
.config/ibus-bamboo
.config/rofi
.config/picom
.config/redshift
{{- end }}
{{- if ne .guiServer "W" }}
.config/hypr
.config/hyprshade
.config/fcitx5
.wayland_init.fish
.config/wofi
.config/swaylock
.config/eww
{{- end }}

{{- if ne .place "cloud" }}
.tmux.conf
.config/tmux
.config/smug
{{- else }}
.config/zellij
{{- end }}

{{- if eq .kind "container" }}
.config/systemd
.config/rbw
.config/rbw-*
.config/fish-ai.ini
.config/fish/secret.fish
.config/github-copilot/hosts.json
.config/glab-cli/config.yml
.config/himalaya
.config/.jira
.config/rclone/rclone.conf
.config/tstruct/auth.json
.kube/config
.terraformrc
.docker/config.json
{{- end }}

{{- if ne .place "office" }}
.npmrc
{{- end }}

{{- if ne .kind "laptop" }}
.config/shikane
{{- end }}

{{- if not (eq .kind "pc" "laptop") }}
.config/tridactyl
{{- end }}
