#!/bin/sh

export XDG_RUNTIME_DIR=/run/user/$(id -u)
export XDG_SESSION_TYPE=wayland
export WLR_NO_HARDWARE_CURSORS=1
export GTK_USE_PORTAL=0
export PATH=$PATH:~/.local/bin
{{- if eq .guiDriver "N" }}

export LIBVA_DRIVER_NAME=nvidia
export GBM_BACKEND=nvidia-drm
export __GLX_VENDOR_LIBRARY_NAME=nvidia
{{- end }}

dbus-launch --exit-with-session Hyprland
