{{- if or .socksProxy .httpProxy }}
[Service]
{{-   with .httpProxy }}
Environment="http_proxy={{ . }}"
Environment="https_proxy={{ . }}"
{{-   end }}
{{-   with .socksProxy }}
Environment="http_proxy={{ . }}"
Environment="https_proxy={{ . }}"
{{-   end }}
{{-   with .noProxyAddresses }}
Environment="no_proxy={{ join "," . }}"
{{-   end }}
{{- end }}
