#!/bin/bash
set -Eeou pipefail
source {{ .chezmoi.sourceDir }}/../scripts/message.sh
trap "_error \"Can't setup bash\"" ERR

_notice "Setup bat"
# config hash: {{ joinPath .chezmoi.homeDir ".config/bat/themes/catppuccin.tmTheme" | include | sha256sum }}
if command -v bat > /dev/null 2>&1; then
  bat cache --build
else
  _error "bat is not installed"
fi
_success "Setup bat"
