#!/bin/bash
set -eou pipefail
source {{ .chezmoi.sourceDir }}/../scripts/message.sh

_notice "Setup bat"
if command -v bat > /dev/null 2>&1; then
  bat cache --build
else
  _error "bat is not installed"
fi
_success "Setup bat"
