[Settings]
## Theme
gtk-application-prefer-dark-theme={{ .darkMode }}
gtk-cursor-theme-name=Dynamo-Cursor
gtk-icon-theme-name=Dynamo
gtk-theme-name=Dynamo

## Font
gtk-font-name=Roboto 11
gtk-xft-antialias=1
gtk-xft-hinting=1
gtk-xft-hintstyle=hintslight
gtk-xft-rgba=rgb

## Icon and button
# hide csd buttons
gtk-decoration-layout=menu:
# icons without text in toolbar
gtk-toolbar-style=GTK_TOOLBAR_ICONS
# smaller icons
gtk-icon-sizes=panel-menu=16,16:panel=16,16:gtk-menu=16,16:gtk-large-toolbar=16,16:gtk-small-toolbar=16,16:gtk-button=16,16

## Cursor
gtk-cursor-theme-size=32

## Tweaks
# enable keyboard shortcut
gtk-can-change-accels=1
