{{- $which := printf "%s_%s" .place .kind -}}
folders:
    - path: {{ .chezmoi.sourceDir }}/..
      prefix: ""
      is_workspace: false
      regex: ""
      priority: 0
    - path: {{ .chezmoi.sourceDir }}/../silos
      prefix: ""
      is_workspace: true
      regex: ""
      priority: 0
    - path: {{ .chezmoi.homeDir }}/Working/community
      prefix: ""
      is_workspace: true
      regex: ""
      priority: 0
    - path: {{ .chezmoi.homeDir }}/Working/personal
      prefix: ""
      is_workspace: true
      regex: ""
      priority: 0
    - path: {{ .chezmoi.homeDir }}/Working/freelancer
      prefix: ""
      is_workspace: true
      regex: ""
      priority: 0
    - path: {{ .chezmoi.homeDir }}/Working/personal/fish
      prefix: "fish"
      is_workspace: true
      regex: ""
      priority: 0
    - path: {{ .chezmoi.homeDir }}/Working/personal/tools
      prefix: "tools"
      is_workspace: true
      regex: ""
      priority: 0
