{{- $machine := printf "%s_%s" .place .kind -}}
folders:
  - path: {{ .chezmoi.sourceDir }}/..
    prefix: ""
    is_workspace: false
    regex: ""
    priority: 0
  - path: {{ .chezmoi.sourceDir }}/../silos
    prefix: ""
    is_workspace: true
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Temp
    prefix: "tmp"
    is_workspace: true
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Working/community
    prefix: ""
    is_workspace: true
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Working/personal
    prefix: ""
    is_workspace: true
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Working/freelancer
    prefix: ""
    is_workspace: true
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Working/personal/fish
    prefix: "fish"
    is_workspace: true
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Working/personal/tools
    prefix: "tools"
    is_workspace: true
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Working/personal/infra
    prefix: "infra"
    is_workspace: true
    regex: ""
    priority: 0
  {{- if eq .kind "pc" "laptop" }}
  - path: {{ .chezmoi.homeDir }}/Documents/Notes
    prefix: ""
    is_workspace: false
    regex: ""
    priority: 0
  {{- end }}
  {{- if or (eq .kind "pc" "laptop") (and (eq .kind "vm") (eq .place "office")) }}
  - path: {{ .chezmoi.homeDir }}/Working/enterprise/F1/OP
    prefix: "op"
    is_workspace: true
    regex: ""
    priority: 0
  {{- end }}
