{{- $machine := printf "%s_%s" .place .kind -}}
folders:
  - path: {{ .chezmoi.sourceDir }}/..
    prefix: ""
    is_workspace: false
    regex: ""
    priority: 0
  - path: {{ .chezmoi.sourceDir }}/../silos
    prefix: ""
    is_workspace: true
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Temp
    prefix: "tmp"
    is_workspace: true
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Working/community
    prefix: ""
    is_workspace: true
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Working/personal
    prefix: ""
    is_workspace: true
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Working/freelancer
    prefix: ""
    is_workspace: true
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Working/personal/fish
    prefix: "fish"
    is_workspace: true
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Working/personal/tools
    prefix: "tools"
    is_workspace: true
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Working/personal/infra
    prefix: "infra"
    is_workspace: true
    regex: ""
    priority: 0
  {{- if eq .kind "pc" "laptop" }}
  - path: {{ .chezmoi.homeDir }}/Working/personal/finance
    prefix: "finance"
    is_workspace: true
    regex: ""
    priority: 0
  - path: {{ .chezmoi.homeDir }}/Documents/Notes
    prefix: ""
    is_workspace: false
    regex: ""
    priority: 0
  {{- end }}
  {{- $top := . }}
  {{- range .decryptEnterprise }}
  {{-   $projektSecret := printf "../secrets/data/enterprise-%s/projekt.yaml.age" . | join $.chezmoi.sourceDir | include | decrypt | fromYaml }}
  {{-   range $projektSecret.folders }}
  {{-     $folder := . }}
  - {{-   $folder | toYaml | replaceAllRegex "\\$HOME" $top.chezmoi.homeDir | nindent 4 }}
  {{-   end }}
  {{- end }}
gitServers:
  {{- if .decryptPersonal }}
  {{-   $gitSecret := print "../secrets/data/personal/git.yaml.age" | join $.chezmoi.sourceDir | include | decrypt | fromYaml }}
  {{-   range $gitSecret.servers }}
  - name: {{ .name | quote }}
    type: {{ .type | quote }}
    https: {{ .https | quote }}
    ssh: {{ .ssh | quote }}
    preferGitSSH: {{ .preferGitSSH }}
  {{-   end }}
  {{- end }}
  {{- range .decryptEnterprise }}
  {{-   $gitSecret := printf "../secrets/data/enterprise-%s/git.yaml.age" . | join $.chezmoi.sourceDir | include | decrypt | fromYaml }}
  {{-   range $gitSecret.servers }}
  - name: {{ .name | quote }}
    type: {{ .type | quote }}
    https: {{ .https | quote }}
    ssh: {{ .ssh | quote }}
    preferGitSSH: {{ .preferGitSSH }}
  {{-   end }}
  {{- end }}
