account:
  username: "{{ $commonSecret.account.username }}"
  password: "{{ $commonSecret.account.password }}"
  email: "{{ $commonSecret.account.username }}@{{ $commonSecret.account.domain }}"
git:
  servers: {}
