{{ if (eq .chezmoi.os "linux") -}}
#!{{ lookPath "bash" }}
set -Eeou pipefail
source {{ .chezmoi.sourceDir }}/../scripts/message.sh
trap "_error \"Install system packages failed\"" ERR

{{ if (eq .chezmoi.osRelease.id "gentoo") -}}
_gentoo_repo_sync() {
  emerge --sync
}

_gentoo_install() {
  if [ ! -x '/usr/bin/qlist' ]; then
    echo >&2 ":: Error: Must install app-portage/portage-utils first."
  fi
  qlist -I "$1" || emerge --ask n --noreplace "$1"
}

_gentoo_init() {
  _gentoo_repo_sync
  _gentoo_install app-portage/gentoolkit
  _gentoo_install app-eselect/eselect-repository
}

_gentoo_run() {
  local is_first_line=true
  while IFS=, read -r package repo; do
    $is_first_line && is_first_line=false && continue
    [[ $package =~ ^#.*$ ]] && continue

    if [ -n "$repo" ]; then
      eselect repository list -i | grep -qis "$repo" \
        || if [ "$repo" = "dynamo" ]; then
          eselect repository add dynamo git https://github.com/dynamotn/overlay.git || true
        else
          eselect repository add "$repo"
        fi
    fi

    _gentoo_install "$package"
  done < "{{ .chezmoi.homeDir }}/.config/dynamo/os/linux/gentoo.csv"
}
{{ else if (eq .chezmoi.osRelease.id "arch") -}}
_arch_repo_sync() {
  if ! command -v yay > /dev/null; then
    sudo pacman -Sy
  else
    yay -Sy
  fi
}

_arch_install() {
  pacman -Qi "$1" > /dev/null || yay --noconfirm -S --needed --answerclean All --answerdiff None "$1"
}

_arch_init() {
  _arch_repo_sync
  if ! command -v yay > /dev/null; then
    sudo pacman -S --needed git base-devel
    git clone https://aur.archlinux.org/yay.git /tmp/yay
    cd /tmp/yay || exit
    makepkg -si --noconfirm
    rm -rf /tmp/yay
  fi
}

_arch_run() {
  local is_first_line=true
  while IFS=, read -r package; do
    $is_first_line && is_first_line=false && continue
    [[ $package =~ ^#.*$ ]] && continue

    _arch_install "$package"
  done < "{{ .chezmoi.homeDir }}/.config/dynamo/os/linux/arch.csv"
}
{{ else if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
_ubuntu_repo_sync() {
  apt update
}

_ubuntu_install() {
  dpkg-query -s "$1" 2&>1 || apt install -y "$1"
}

_ubuntu_init() {
  _ubuntu_repo_sync
}

_ubuntu_run() {
  local is_first_line=true
  while IFS=, read -r package repo repo_name distro_version repo_version key; do
    $is_first_line && is_first_line=false && continue
    [[ $package =~ ^#.*$ ]] && continue

    if [ -n "$repo" ]; then
      test -z "$repo_name" && repo_name=$package
      test -z "$distro_version" && distro_version=$(grep -is UBUNTU_CODENAME /etc/os-release | cut -d= -f2)
      if [ ! -f "/etc/apt/sources.list.d/$repo_name.list" ]; then
        echo "deb $repo $distro_version $repo_version" > /"etc/apt/sources.list.d/$repo_name.list"
        curl -sSL "https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x$key" | apt-key add -
      fi
      _ubuntu_repo_sync
    fi

    _ubuntu_install "$package"
  done < "{{ .chezmoi.homeDir }}/.config/dynamo/os/linux/ubuntu.csv"
}
{{ end }}

_main() {
  {{ if (eq .chezmoi.osRelease.id "gentoo") -}}
  # gentoo.csv hash: {{ joinPath .chezmoi.homeDir ".config/dynamo/os/linux/gentoo.csv" | include | sha256sum }}
  _info "Distro of this machine is Gentoo."
  # _gentoo_init
  _gentoo_run
  {{ else if (eq .chezmoi.osRelease.id "arch") -}}
  # arch.csv hash: {{ joinPath .chezmoi.homeDir ".config/dynamo/os/linux/arch.csv" | include | sha256sum }}
  _info "Distro of this machine is Arch Linux."
  _arch_init && _arch_run
  {{ else if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
  # ubuntu.csv hash: {{ joinPath .chezmoi.homeDir ".config/dynamo/os/linux/ubuntu.csv" | include | sha256sum }}
  _info "Distro of this machine is Ubuntu."
  _ubuntu_init && _ubuntu_run
  {{ end }}
}

{{ if (ne .chezmoi.osRelease.id "arch") -}}
if [[ $(id -u) -ne 0 ]]; then
  sudo bash "$0"
  exit
fi
{{ end -}}
_notice "Install system packages"
_main
_success "Installed system packages"
{{ end }}
