#!{{ .bash }}
. {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_err_handler

{{- if eq .guiServer "G" }}
dybatpho::require "dconf"
dybatpho::notice "Setup ibus-bamboo"
dconf load / < ~/.config/ibus-bamboo/dconf
dybatpho::success "Setup ibus-bamboo"
{{- end }}
