#!{{ .bash }}
source {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_err_handler

dybatpho::notice "Update submodules"
# modules hash: {{ joinPath .chezmoi.sourceDir "../.gitmodules" | include | sha256sum }}
cd {{ .chezmoi.sourceDir }}/..
{{- if .blockedGitlab }}
cp .github/modules .gitmodules
git submodule sync --recursive
{{- end }}
{{- if not .preferGitSSH }}
sed -i 's#git@gitlab.com:#https://gitlab.com/#g' .gitmodules
sed -i 's#git@github.com:#https://github.com/#g' .gitmodules
git submodule sync --recursive
{{- end }}
git submodule update --init --remote --recursive \
  {{- if eq .guiServer "W" "X" }}
  home/Multimedia/Pictures/Wallpaper \
  silos/icon \
  {{- end }}
  {{- if eq .browser "F" }}
  home/.chezmoitemplates/firefox/chrome/lepton \
  {{- end }}
  {{- if not (eq .kind "vm" "container") }}
  {{-   if eq .browser "F" }}
  home/dot_config/firefox/profiles \
  {{-   else if eq .browser "Z" }}
  home/dot_config/firefox/profiles \
  {{-   end }}
  {{- end }}
  {{- if and (ne .guiServer "0") (not (eq .kind "vm" "container")) }}
  home/dot_config/thunderbird/profiles \
  {{- end }}
  {{- if eq .terminalMultiplexer "T" }}
  silos/tmux \
  {{- end }}
  home/dot_config/nvim
dybatpho::success "Updated submodules"
