#!{{ .bash }}
source {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_err_handler

dybatpho::notice "Setup fish shell"
# plugins hash: {{ joinPath .chezmoi.homeDir ".config/fish/plugins.list" | include | sha256sum }}
{{- if ne .kind "container" }}
if [[ $SHELL != "$(which fish)" ]]; then
  dybatpho::info "Change default shell to fish"
  {{- if eq .chezmoi.os "linux" }}
  # We need chsh without sudo cause sometimes we don't have sudo permissions on collaborative environment
  chsh -s "$(which fish)" || :
  {{- else if eq .chezmoi.os "darwin" }}
  echo "$(which fish)" | sudo tee -a /etc/shells
  chsh -s "$(which fish)" || :
  {{- else }}
  chsh -s fish || :
  {{- end }}
fi
{{- end }}
rm -rf {{ .chezmoi.homeDir }}/.config/fish/{conf.d,functions,completions,fishd*}
fish {{ .chezmoi.homeDir }}/.config/fish/setup.fish

dybatpho::success "Setup fish shell"
