#!{{ .bash }}
source {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_err_handler

dybatpho::notice "Setup neovim"
nvim --headless "+Lazy! sync" +qa
dybatpho::success "Setup neovim"
