#!{{ lookPath "bash" }}
set -Eeou pipefail
source {{ .chezmoi.sourceDir }}/../scripts/message.sh
trap "rm -rf TEMP && _error \"Can't setup tridactyl\"" ERR

{{- if eq .kind "pc" "laptop" }}
TEMP=$(mktemp)
_notice "Setup tridactyl"
curl -fsSl https://raw.githubusercontent.com/tridactyl/native_messenger/master/installers/install.sh -o "$TEMP"
sh "$TEMP" master
rm -rf "$TEMP"
_success "Setup tridactyl"
{{- end }}
