#!{{ .bash }}
source {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_err_handler

dybatpho::require "bat"
dybatpho::notice "Setup bat"
# theme hash: {{ joinPath .chezmoi.homeDir ".config/bat/themes/catppuccin.tmTheme" | include | sha256sum }}
export PATH=~/.local/bin:$PATH
bat cache --build
dybatpho::success "Setup bat"
