#!{{ lookPath "bash" }}
set -Eeou pipefail
source {{ .chezmoi.sourceDir }}/../scripts/lib/message.sh
{{- if eq .terminalMultiplexer "tmux" }}
trap "_error \"Can't setup tmux\"" ERR

_notice "Setup tmux"
# config hash: {{ joinPath .chezmoi.sourceDir "../silos/tmux/config" | include | sha256sum }}
mkdir -p {{ .chezmoi.homeDir }}/.local/share/tmux/plugins

_progress "Install tpm"
test ! -d {{ .chezmoi.homeDir }}/.local/share/tmux/plugins/tpm && \
  git clone https://github.com/tmux-plugins/tpm {{ .chezmoi.homeDir }}/.local/share/tmux/plugins/tpm

_progress "Install other plugins"
bash {{ .chezmoi.homeDir }}/.local/share/tmux/plugins/tpm/bin/install_plugins
_success "Setup tmux"
{{- end }}
