#!{{ lookPath "bash" }}
set -Eeou pipefail
source {{ .chezmoi.sourceDir }}/../scripts/message.sh
trap "_error \"Can't setup fish shell\"" ERR

_notice "Setup fish shell"
# plugins hash: {{ joinPath .chezmoi.sourceDir "../silos/fish/fish_plugins" | include | sha256sum }}
if [[ $SHELL != "$(which fish)" ]]; then
  _info "Change default shell to fish"
  {{- if eq .chezmoi.os "linux" }}
  chsh -s "$(which fish)"
  {{- else if eq .chezmoi.os "darwin" }}
  echo "$(which fish)" | sudo tee -a /etc/shells
  chsh -s "$(which fish)" || :
  {{- else }}
  chsh -s fish
  {{- end }}
fi
fish {{ .chezmoi.homeDir }}/.config/fish/setup.fish

_progress "Install neccessary tools"
{{ if eq .kind "pc" -}}
fish -c "install_asdf"
fish -c "update_fzf"
fish -c "install_gcloud"
fish -c "install_kubectl"
fish -c "install_helm"
fish -c "install_terraform"
fish -c "install_pre_commit"
{{ end }}
_success "Setup fish shell"
