#!{{ lookPath "bash" }}
set -Eeou pipefail
source {{ .chezmoi.sourceDir }}/../scripts/message.sh
source {{ .chezmoi.sourceDir }}/../scripts/os.sh
trap "_error \"Install tools failed\"" ERR

package_tools=()
binary_tools=()

{{- if (eq .chezmoi.osRelease.id "gentoo") }}
_gentoo_run() {
  for package in "${package_tools[@]}"; do
    package_name=$(echo "$package" | yq e '.gentoo.package')
    repo=$(echo "$package" | yq e '.gentoo.repo')
    if [[ "$repo" != "null" ]]; then
      _gentoo_install "$package_name::$repo"
    else
      _gentoo_install "$package_name"
    fi
  done
}
{{- else if (eq .chezmoi.osRelease.id "arch") }}
_arch_run() {
  for package in "${package_tools[@]}"; do
    package_name=$(echo "$package" | yq e '.arch.package')
    _arch_install "$package_name"
  done
}
{{- else if (eq .chezmoi.osRelease.id "debian" "ubuntu") }}
_ubuntu_run() {
  for package in "${package_tools[@]}"; do
    package_name=$(echo "$package" | yq e '.ubuntu.package')
    repo=$(echo "$package" | yq e '.ubuntu.repo')

    if [[ "$repo" != "null" ]]; then
      repo_name=$(echo "$package" | yq e '.ubuntu.repo_name')
      repo_version=$(echo "$package" | yq e '.ubuntu.repo_version')
      distro_version=$(echo "$package" | yq e '.ubuntu.distro_version')
      key=$(echo "$package" | yq e '.ubuntu.key')

      [[ "$repo_name" != "null" ]] && repo_name=$package
      [[ "$distro_version" != "null" ]] && distro_version=$(grep -is UBUNTU_CODENAME /etc/os-release | cut -d= -f2)
      if [ ! -f "/etc/apt/sources.list.d/$repo_name.list" ]; then
        echo "deb $repo $distro_version $repo_version" > /"etc/apt/sources.list.d/$repo_name.list"
        curl -sSL "https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x$key" | apt-key add -
      fi
      _ubuntu_repo_sync
    fi
    _ubuntu_install "$package_name"
  done
}
{{- end }}

_install_package_tools() {
  readarray package_tools < <(yq e -o=j -I=0 'filter(.method == "os") | .[]' ~/.config/dytoy/tools.yaml )

  {{- if (eq .chezmoi.osRelease.id "gentoo") }}
  _info "Distro of this machine is Gentoo."
  _gentoo_run
  {{- else if (eq .chezmoi.osRelease.id "arch") }}
  _info "Distro of this machine is Arch Linux."
  _arch_init && _arch_run
  {{- else if (eq .chezmoi.osRelease.id "debian" "ubuntu") }}
  _info "Distro of this machine is Ubuntu."
  _ubuntu_init && _ubuntu_run
  {{- end }}
}

_install_binary_tools() {
  readarray binary_tools < <(yq e -o=j -I=0 'filter(.method == "binary") | .[]' ~/.config/dytoy/tools.yaml )
}

_main() {
  _install_package_tools
  _install_binary_tools
}

export PATH=$PATH:~/.local/bin

_notice "Install tools"
_info $PATH
{{- range (joinPath .chezmoi.sourceDir ".chezmoitemplates/dytoy/*.yaml*" | glob) }}
# {{ . }} hash: {{ . | include | sha256sum }}
{{- end }}
_main
_success "Installed tools"
