#!{{ .bash }}
. {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_common_handlers

{{- if eq .chezmoi.os "android" }}
notes_dir="$(dybatpho::path_join "{{ .chezmoi.homeDir }}" "storage" "shared" "Documents" "Notes")"
if ! dybatpho::is dir "${notes_dir}"; then
  dybatpho::header "Clone notes"
  mkdir -p "${notes_dir}"
  git -C "${notes_dir}" init
  git -C "${notes_dir}" remote add ssh git@gitlab.com:dynamo-brain/digital-garden.git
  dybatpho::progress "Pull from remote"
  git -C "${notes_dir}" pull ssh main
  git -C "${notes_dir}" remote set-url origin https://gitlab.com/dynamo-brain/digital-garden.git
  dybatpho::success "Clone notes"
fi
{{- end }}
