#!{{ .bash }}
. {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_common_handlers

{{- if eq .guiWinManager "H" }}
{{- $configHash := joinPath .chezmoi.sourceDir "dot_config/hypr/hyprland/plugins.list" | include | sha256sum }}
{{/* check list plugin is empty or not */}}
{{- if ne $configHash "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855" }}
# config hash: {{ $configHash }}

if ! [[ -v HYPRLAND_INSTANCE_SIGNATURE ]]; then
  exit
fi
dybatpho::notice "Setup hyprland"

dybatpho::progress "Install hyprland's header"
hyprpm update

dybatpho::progress "Install plugins"
while IFS="" read -r plugin; do
  dybatpho::progress "Install plugin ${plugin}"
  hyprpm add -f https://github.com/${plugin} || true
  hyprpm enable ${plugin#*/}
done < {{ joinPath .chezmoi.sourceDir "dot_config/hypr/hyprland/plugins.list" }}
hyprpm reload -n
dybatpho::success "Setup hyprland"
{{- end }}
{{- end }}
