#!{{ .bash }}
. {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_common_handlers

dybatpho::notice "Update submodules"
# modules hash: {{ joinPath .chezmoi.sourceDir "../.gitmodules" | include | sha256sum }}
cd {{ .chezmoi.sourceDir }}/..
{{- if .blockedGitlab }}
cp .github/modules .gitmodules
git submodule sync --recursive
{{- end }}
{{- if not .preferGitSSH }}
sed -i -e 's#git@gitlab.com:#https://gitlab.com/#g' \
  -e 's#git@github.com:#https://github.com/#g' \
  .gitmodules
git submodule sync --recursive
git update-index --assume-unchanged .gitmodules
{{- end }}
git submodule update --init --recursive \
  {{- if eq .guiServer "W" "X" }}
  silos/icon \
  {{- end }}
  {{- if eq .browser "F" }}
  home/.chezmoitemplates/firefox/chrome/lepton \
  {{- end }}
  {{- if eq .browser "F" "Z" }}
  {{-   if .decryptPersonal }}
  home/dot_config/firefox/profiles/personal \
  {{-   end }}
  {{-   range .browserEnterpriseProfiles }}
  home/dot_config/firefox/profiles/enterprise-{{ . }} \
  {{-   end }}
  {{- end }}
  {{- if eq .mailClient "T" "B" }}
  {{-   if .decryptPersonal }}
  home/dot_config/thunderbird/profiles/personal \
  {{-   end }}
  {{-   range .mailEnterpriseProfiles }}
  home/dot_config/thunderbird/profiles/enterprise-{{ . }} \
  {{-   end }}
  {{- end }}
  {{- if eq .terminalMultiplexer "T" }}
  silos/tmux \
  {{- end }}
  {{- if ne .guiServer "0" }}
  home/Multimedia/Pictures/Wallpaper \
  {{- end }}
  home/dot_config/nvim
dybatpho::success "Updated submodules"
