#!{{ .bash }}
# @file 03-setup-tridactyl.sh
# @brief Install the tridactyl native messenger
# @description Install the tridactyl native messenger by running the upstream installer,
# only when the chosen browser is Firefox or Zen.
. {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh --modules network
dybatpho::register_common_handlers

{{- if eq .browser "F" "Z" }}
dybatpho::create_temp TEMP_FILE ".sh"
dybatpho::header "Setup tridactyl"
dybatpho::curl_download https://raw.githubusercontent.com/tridactyl/native_messenger/master/installers/install.sh "$TEMP_FILE"
bash "$TEMP_FILE" master
dybatpho::success "Setup tridactyl"
{{- end }}
