#!{{ .bash }}
. {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_common_handlers

dybatpho::header "Setup fish shell"
# plugins hash: {{ joinPath .chezmoi.homeDir ".config/fish/plugins.list" | include | sha256sum }}
{{- if ne .kind "container" }}
dybatpho::is command fish || dybatpho::die "fish isn't installed"
fish_bin="$(command -v fish)"
if [[ "${SHELL:-}" != "${fish_bin}" ]]; then
  dybatpho::info "Change default shell to fish"
  {{- if eq .chezmoi.os "linux" }}
  # We need chsh without sudo cause sometimes we don't have sudo permissions on collaborative environment
  chsh -s "${fish_bin}" || :
  {{- else if eq .chezmoi.os "darwin" }}
  echo "${fish_bin}" | sudo tee -a /etc/shells
  chsh -s "${fish_bin}" || :
  {{- else }}
  chsh -s fish || :
  {{- end }}
fi
{{- end }}
fish_config_dir="$(dybatpho::path_join "{{ .chezmoi.homeDir }}" ".config" "fish")"
rm -rf "${fish_config_dir}"/{conf.d,functions,completions,fishd*}
fish "$(dybatpho::path_join "${fish_config_dir}" "setup.fish")"

dybatpho::success "Setup fish shell"
