#!{{ .bash }}
. {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_common_handlers

dybatpho::header "Setup neovim"
nvim --headless "+Lazy! sync" +qa
dybatpho::success "Setup neovim"
