#!/usr/bin/env bash
source {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_err_handler

{{- if ne .guiServer "0" }}
TEMP=$(mktemp)
dybatpho::cleanup_file_on_exit "$TEMP"
dybatpho::notice "Setup tridactyl"
dybatpho::curl_do https://raw.githubusercontent.com/tridactyl/native_messenger/master/installers/install.sh "$TEMP"
bash "$TEMP" master
dybatpho::success "Setup tridactyl"
{{- end }}
