#!{{ .bash }}
# @file 03-setup-tridactyl.sh
# @brief Install the tridactyl native messenger
# @description Install the tridactyl native messenger by running the upstream installer,
# only when the chosen browser is Firefox or Zen.
. {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh --modules network
dybatpho::register_common_handlers

{{- if eq .browser "F" "Z" }}
installer_file=""
dybatpho::create_temp installer_file ".sh"
dybatpho::header "Setup tridactyl"
installer_url="https://raw.githubusercontent.com/tridactyl/native_messenger"
installer_url+="/master/installers/install.sh"
dybatpho::curl_download "${installer_url}" "${installer_file}"
bash "${installer_file}" master
dybatpho::success "Setup tridactyl"
{{- end }}
