#!{{ .bash }}
# @file run_once_after_03-setup-gnome.sh
# @brief Stop the GNOME overlay key from grabbing the super key
# @description Stop the GNOME overlay key from grabbing the super key, so that it stays
# available for other bindings. Only applies when GNOME is the chosen window
# manager.
. {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_common_handlers

{{- if eq .guiWinManager "G" }}
gsettings set org.gnome.mutter overlay-key ''
{{- end }}
