#!{{ .bash }}
. {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_common_handlers

{{- if eq .terminalMultiplexer "T" }}
dybatpho::header "Setup tmux"
# config hash: {{ joinPath .chezmoi.sourceDir "../silos/tmux/config" | include | sha256sum }}
tmux_plugin_dir="$(dybatpho::path_join "{{ .chezmoi.homeDir }}" ".local" "share" "tmux" "plugins")"
tpm_dir="$(dybatpho::path_join "${tmux_plugin_dir}" "tpm")"
mkdir -p "${tmux_plugin_dir}"

dybatpho::progress "Install tpm"
if ! dybatpho::is dir "${tpm_dir}"; then
  git clone https://github.com/tmux-plugins/tpm "${tpm_dir}"
fi

dybatpho::progress "Install other plugins"
bash "$(dybatpho::path_join "${tpm_dir}" "bin" "install_plugins")"
dybatpho::success "Setup tmux"
{{- end }}
