#!{{ .bash }}
source {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_common_handlers

{{- if eq .terminalMultiplexer "T" }}
dybatpho::header "Setup tmux"
# config hash: {{ joinPath .chezmoi.sourceDir "../silos/tmux/config" | include | sha256sum }}
mkdir -p {{ .chezmoi.homeDir }}/.local/share/tmux/plugins

dybatpho::progress "Install tpm"
test ! -d {{ .chezmoi.homeDir }}/.local/share/tmux/plugins/tpm && \
  git clone https://github.com/tmux-plugins/tpm {{ .chezmoi.homeDir }}/.local/share/tmux/plugins/tpm

dybatpho::progress "Install other plugins"
bash {{ .chezmoi.homeDir }}/.local/share/tmux/plugins/tpm/bin/install_plugins
dybatpho::success "Setup tmux"
{{- end }}
