#!{{ .bash }}
. {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_common_handlers

{{- if and (eq .chezmoi.os "linux") (not (empty .languages)) }}
dybatpho::require "dconf"
dybatpho::header "Setup input method"
dconf load / < ~/.config/ibus/dconf
dybatpho::success "Setup input method"
{{- end }}
