{{- $configPath := joinPath .chezmoi.homeDir ".config/thunderbird/profiles" }}

{{- $path := "" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   if eq .mailClient "T" }}
{{-     $path = printf "/Applications/%s.app/Contents/MacOS" "Thunderbird" }}
{{-   else if eq .mailClient "B" }}
{{-     $path = printf "/Applications/%s.app/Contents/MacOS" "Betterbird" }}
{{-   end }}
{{- else if eq .chezmoi.os "linux" }}
{{-   if eq .mailClient "T" }}
{{-     if eq .osid "linux-gentoo" }}
{{-       $path = "/opt/thunderbird" }}
{{-     else }}
{{-       $path = "/usr/lib/thunderbird" }}
{{-     end }}
{{-   else if eq .mailClient "B" }}
{{-     if eq .osid "linux-gentoo" }}
{{-       $path = "/opt/betterbird" }}
{{-     else }}
{{-       $path = "/opt/betterbird-bin" }}
{{-     end -}}
{{-   end -}}
{{- end -}}
{{- $releaseId := mozillaInstallHash $path }}
[Install{{- $releaseId -}}]
{{- if eq .kind "container" }}
Default={{- $configPath }}/public
{{- else if eq .place "office" }}
Default={{ $configPath }}/enterprise-{{ .company }}
{{- else }}
Default={{ $configPath }}/personal
{{- end }}
Locked=1

{{ $index := 0 }}
[Profile{{ $index }}]
Name=Public
IsRelative=0
Path={{ $configPath }}/public

{{  if .decryptPersonal }}
{{- $index = add1 $index }}
[Profile{{ $index }}]
Name=Personal
IsRelative=0
Path={{ $configPath }}/personal
{{- end }}

{{  range .decryptEnterprise }}
{{- $index = add1 $index }}
[Profile{{ $index }}]
Name=Enterprise-{{ . }}
IsRelative=0
Path={{ $configPath }}/enterprise-{{ . }}
{{- end }}

[General]
StartWithLastProfile=1
Version=2
