{{- $configPath := joinPath .chezmoi.homeDir ".config/thunderbird/profiles" }}

{{- $releaseId := "0" }}
{{- if eq .chezmoi.os "darwin" }}
{{- $releaseId = mozillaInstallHash "/Applications/Thunderbird.app/Contents/MacOS" }}
{{- else if eq .osid "linux-gentoo" }}
{{- $releaseId = mozillaInstallHash "/opt/thunderbird" }}
{{- else }}
{{- $releaseId = mozillaInstallHash "/usr/lib/thunderbird" }}
{{- end -}}
[Install{{- $releaseId -}}]
{{- if eq .kind "container" }}
Default={{- $configPath }}/public
{{- else if eq .place "office" }}
Default={{ $configPath }}/enterprise-{{ .company }}
{{- else }}
Default={{ $configPath }}/personal
{{- end }}
Locked=1

{{ $index := 0 }}
[Profile{{ $index }}]
Name=Public
IsRelative=0
Path={{ $configPath }}/public

{{  if .decryptPersonal }}
{{- $index := add1 $index }}
[Profile{{ $index }}]
Name=Personal
IsRelative=0
Path={{ $configPath }}/personal
{{- end }}

{{  range .decryptEnterprise }}
{{- $index := add1 $index }}
[Profile{{ $index }}]
Name=Enterprise-{{ . }}
IsRelative=0
Path={{ $configPath }}/enterprise-{{ . }}
{{- end }}

[General]
StartWithLastProfile=1
Version=2
