{{- $configPath := joinPath .chezmoi.homeDir ".config/thunderbird/profiles" }}

{{- $releaseId := "0" }}
{{- if eq .chezmoi.os "darwin" }}
{{- $releaseId = mozillaInstallHash "/Applications/Thunderbird.app/Contents/MacOS" }}
{{- else if eq .osid "linux-gentoo" }}
{{- $releaseId = mozillaInstallHash "/opt/thunderbird" }}
{{- else }}
{{- $releaseId = mozillaInstallHash "/usr/lib/thunderbird" }}
{{- end -}}
[Install{{- $releaseId -}}]
{{- if eq .kind "container" }}
Default={{- $configPath }}/public
{{- else if eq .place "office" }}
Default={{- $configPath }}/enterprise
{{- else }}
Default={{- $configPath }}/personal
{{- end }}
Locked=1

{{- if eq .kind "pc" "laptop" }}
[Profile2]
Name=Enterprise
IsRelative=0
Path={{- $configPath }}/enterprise

[Profile1]
Name=Personal
IsRelative=0
Path={{- $configPath }}/personal
{{- end }}

[Profile0]
Name=Public
IsRelative=0
Path={{- $configPath }}/public

[General]
StartWithLastProfile=1
Version=2
