{{/* Include all userscripts in order */}}
{{- $settings := glob (joinPath .chezmoi.sourceDir ".chezmoitemplates/thunderbird/prefs/*.js*") }}
{{- $settings = concat $settings (glob (printf ".chezmoitemplates/thunderbird/prefs/%s/*.js*" .mailProfile | joinPath .chezmoi.sourceDir)) }}
{{- range ($settings) }}
{{-   includeTemplate . $ }}
{{- end }}
