{{/* use ztsd for compress kernel and modules */}}
CONFIG_KERNEL_GZIP=n
CONFIG_KERNEL_ZSTD=y
CONFIG_MODULE_COMPRESS_XZ=n
CONFIG_MODULE_COMPRESS_ZSTD=y
{{/* keep EFI GPT, remove all unused partitions */}}
CONFIG_ACORN_PARTITION=n
CONFIG_AIX_PARTITION=n
CONFIG_OSF_PARTITION=n
CONFIG_AMIGA_PARTITION=n
CONFIG_ATARI_PARTITION=n
CONFIG_MAC_PARTITION=n
CONFIG_MSDOS_PARTITION=n
CONFIG_BSD_DISKLABEL=n
CONFIG_MINIX_SUBPARTITION=n
CONFIG_SOLARIS_X86_PARTITION=n
CONFIG_UNIXWARE_DISKLABEL=n
CONFIG_LDM_PARTITION=n
CONFIG_SGI_PARTITION=n
CONFIG_ULTRIX_PARTITION=n
CONFIG_SUN_PARTITION=n
CONFIG_KARMA_PARTITION=n
CONFIG_EFI_PARTITION=y
CONFIG_SYSV68_PARTITION=n
CONFIG_CMDLINE_PARTITION=n
{{/* disable network protocols */}}
CONFIG_HAMRADIO=n
CONFIG_CAN=n
CONFIG_AF_RXRPC=n
{{/* disable unused filesystems */}}
CONFIG_EXT4_FS=n
CONFIG_REISERFS_FS=n
CONFIG_JFS_FS=n
CONFIG_XFS_FS=n
CONFIG_GFS2_FS=n
CONFIG_OCFS2_FS=n
CONFIG_NILFS2_FS=n
CONFIG_F2FS_FS=n
CONFIG_BCACHEFS_FS=n
CONFIG_ZONEFS_FS=n
CONFIG_ISO9660_FS=n
CONFIG_UDF_FS=n
CONFIG_MSDOS_FS=n
CONFIG_ORANGEFS_FS=n
CONFIG_ADFS_FS=n
CONFIG_AFFS_FS=n
CONFIG_ECRYPT_FS=n
CONFIG_HFS_FS=n
CONFIG_HFSPLUS_FS=n
CONFIG_BEFS_FS=n
CONFIG_BFS_FS=n
CONFIG_EFS_FS=n
CONFIG_JFFS2_FS=n
CONFIG_UBIFS_FS=n
CONFIG_MINIX_FS=n
CONFIG_OMFS_FS=n
CONFIG_HPFS_FS=n
CONFIG_QNX4FS_FS=n
CONFIG_QNX6FS_FS=n
CONFIG_ROMFS_FS=n
CONFIG_SYSV_FS=n
CONFIG_UFS_FS=n
{{/* disable unused MACs */}}
CONFIG_SECURITY_TOMOYO=n
CONFIG_SECURITY_APPARMOR=n
{{- if eq .initSystem "openrc" }}
CONFIG_GENTOO_LINUX_INIT_SCRIPT=y
CONFIG_GENTOO_LINUX_INIT_SYSTEMD=n
{{- else }}
CONFIG_GENTOO_LINUX_INIT_SCRIPT=n
CONFIG_GENTOO_LINUX_INIT_SYSTEMD=y
{{- end }}
CONFIG_GENTOO_KERNEL_SELF_PROTECTION=y
{{- if eq .code "l30n4rd0d4v1nc1" }}
{{/* disable unused CPU architecture */}}
CONFIG_X86_EXTENDED_PLATFORM=n
{{/* keep KVM, disable other virtualization hypervisor */}}
CONFIG_XEN=n
CONFIG_KVM_GUEST=y
CONFIG_PVH=n
CONFIG_ACRN_GUEST=n
CONFIG_INTEL_TDX_GUEST=n
CONFIG_KVM_INTEL=n
CONFIG_KVM_HYPERV=n
CONFIG_KVM_XEN=n
{{/* set number of CPU */}}
CONFIG_NR_CPUS=64
CONFIG_KVM_MAX_NR_VCPUS=64
{{/* Low latency Desktop */}}
CONFIG_PREEMPT_VOLUNTARY=n
CONFIG_PREEMPT=y
CONFIG_PREEMPT_COUNT=y
CONFIG_PREEMPTION=y
{{/* set Timer Frequency to 1000Hz */}}
# CONFIG_HZ_300 is not set
CONFIG_HZ_1000=y
CONFIG_HZ=1000
{{/* CPU Frequency Scaling with AMD */}}
CONFIG_X86_AMD_PSTATE_DEFAULT_MODE=1
{{/* Memory Management with strong CPU and large memory */}}
CONFIG_TRANSPARENT_HUGEPAGE_ALWAYS=y
# CONFIG_TRANSPARENT_HUGEPAGE_MADVISE is not set
{{/* boot from NVME */}}
CONFIG_BLK_DEV_NVME=y
{{/* lm-sensors for NVME */}}
CONFIG_NVME_HWMON=y
{{/* drivers on mainboard & chipset */}}
CONFIG_I2C_PIIX4=m
CONFIG_SENSORS_K10TEMP=m
CONFIG_SENSORS_IT87=m
{{- end }}
