{{- if eq .code "l30n4rd0d4v1nc1" }}
amd-ucode/microcode_amd_fam19h.bin
mediatek/WIFI_MT7922_patch_mcu_1_1_hdr.bin.zst
mediatek/WIFI_RAM_CODE_MT7922_1.bin.zst
mediatek/BT_RAM_CODE_MT7922_1_1_hdr.bin.zst
rtl_nic/rtl8168h-2.fw
{{- end }}
