{{- if .darkMode }}
$color_text = rgba(cad3f5ff)
$color_crust = rgba(181926ff)
$color_teal = rgba(8bd5caff)
$color_subtext0 = rgba(b8c0e0ff)
{{- else }}
$color_text = rgba(4c4f69ff)
$color_crust = rgba(dce0e8ff)
$color_teal = rgba(179299ff)
$color_subtext0 = rgba(6c6f85ff)
{{- end }}
