{{- if .decryptPersonal }}
{{-   $file := printf "../secrets/data/%s/ssh.yaml.age" "personal" | joinPath .chezmoi.sourceDir }}
{{-   if stat $file }}
{{-     $ssh := include $file | decrypt | fromYaml }}
{{-     merge $ssh . | includeTemplate "ssh/authorized.txt.tmpl" }}
{{-   end }}
{{- end -}}
{{- range .decryptEnterprise }}
{{-   $file := printf "../secrets/data/enterprise-%s/ssh.yaml.age" . | joinPath $.chezmoi.sourceDir }}
{{-   if stat $file }}
{{-     $ssh := include $file | decrypt | fromYaml }}
{{-     merge $ssh $ | includeTemplate "ssh/authorized.txt.tmpl" }}
{{-   end }}
{{- end -}}
