// === GENERAL ===
// General
/* Disable start page
 * [SETTING] General->Thunderbird Start Page */
user_pref("mailnews.start_page.enabled", false);
/* Use autoscrolling
 * [SETTING] General->Scrolling->Use autoscrolling */
user_pref("general.autoScroll", true);
/* Use smooth scrolling
 * [SETTING] General->Scrolling->Use smooth scrolling */
user_pref("general.smoothScroll", true);

// Language & Tools
/* Set font for languages
 * [SETTING] General->Language & Fonts->Fonts */
user_pref("font.default.x-western", "sans-serif"); // Change Latin to Sans-serif
user_pref("font.default.x-unicode", "sans-serif"); // Change Unicode to Sans-serif
user_pref("font.default.zh-CN", "serif"); // Change CJK to Serif
user_pref("font.default.zh-HK", "serif"); // Change CJK to Serif
user_pref("font.default.zh-TW", "serif"); // Change CJK to Serif
user_pref("font.default.ja", "serif"); // Change CJK to Serif
user_pref("font.default.ko", "serif"); // Change CJK to Serif
/* Set default font size
 * [SETTING] General->Language & Fonts->Fonts */
user_pref("font.size.monospace.x-western", 14);
user_pref("font.size.monospace.x-unicode", 14);
user_pref("font.minimum-size.x-western", 14);
user_pref("font.minimum-size.x-unicode", 14);
{{- if eq .chezmoi.os "darwin" }}
user_pref("font.name.serif.x-western", "Noto Serif");
user_pref("font.name.sans-serif.x-western", "Roboto");
user_pref("font.name.monospace.x-western", "Iosevka Dynamo Nerd");
user_pref("font.name.serif.zh-CN", "Noto Serif CJK SC");
user_pref("font.name.sans-serif.zh-CN", "Noto Sans CJK SC");
user_pref("font.name.monospace.zh-CN", "Iosevka Dynamo Nerd");
user_pref("font.name.serif.zh-HK", "Noto Serif CJK HK");
user_pref("font.name.sans-serif.zh-HK", "Noto Sans CJK HK");
user_pref("font.name.monospace.zh-HK", "Iosevka Dynamo Nerd");
user_pref("font.name.serif.zh-TW", "Noto Serif CJK TC");
user_pref("font.name.sans-serif.zh-TW", "Noto Sans CJK TC");
user_pref("font.name.monospace.zh-TW", "Iosevka Dynamo Nerd");
user_pref("font.name.serif.ja", "Noto Serif CJK JP");
user_pref("font.name.sans-serif.ja", "Noto Sans CJK JP");
user_pref("font.name.monospace.ja", "Iosevka Dynamo Nerd");
user_pref("font.name.serif.ko", "Noto Serif CJK KR");
user_pref("font.name.sans-serif.ko", "Noto Sans CJK KR");
user_pref("font.name.monospace.ko", "Iosevka Dynamo Nerd");
{{- end }}
/* Disable web page's font
 * [SETTING] General->Language & Fonts->Fonts */
user_pref("browser.display.use_document_fonts", 0);
/* Set preferred language for displaying web pages
 * [SETTING] General->Language & Fonts->Language->Choose your preferred language for displaying pages */
user_pref("intl.accept_languages", "en-US, vi");

// Reading & Display
/* Automatically mark messages as read after 5s
 * [SETTING] General->Reading & Display->Automatically mark messages as read */
user_pref("mailnews.mark_message_read.delay", true);
user_pref("mailnews.mark_message_read.delay.interval", 5);

// === OTHER ===
/* Disable auto update extensions */
user_pref("extensions.update.autoUpdateDefault", false)
