{{- if eq .kind "vm" "workstation" }}
# Reduce default swappiness, this is a much better default for servers,
# especially databases. A value of 0 is never recommended.
vm.swappiness = 10

# Define at what percentage of total memory is dirty do we begin writing it
# out. These values are tuned for more database oriented workloads, but should
# be generally good on servers in general.
vm.dirty_ratio = 15
vm.dirty_background_ratio = 3

vm.overcommit_memory = 0
vm.overcommit_ratio = 50
{{- end }}
