# By default the Linux kernel will enable any line disciplines requested which
# is a potential security issue
dev.tty.ldisc_autoload = 0

# Provide protection against ToCToU races
fs.protected_fifos = 2
fs.protected_hardlinks = 1
fs.protected_regular = 2
fs.protected_symlinks = 1

# Prevent SUID executables from creating core dumps, should be set to '2' if an
# administrator needs a dump from one of these executables
fs.suid_dumpable = 0

# Add process ID to core dump file
kernel.core_uses_pid = 1

# Ignore Ctrl-Alt-Del key behavior
kernel.ctrl-alt-del = 0

# Prevent unprivileged users from viewing the dmesg output
kernel.dmesg_restrict = 1

# Disable kexec
kernel.kexec_load_disabled = 1

# Make locating kernel addresses more difficult
kernel.kptr_restrict = 2

# Restrict perf calls to only be done by root
kernel.perf_event_paranoid = 3

# Full randomization of a process's virtual address space
kernel.randomize_va_space = 2

# Disable the magic sysrq key
kernel.sysrq = 0

# Prevent unprivileged use of BPF for generic hooks and networking programmings
kernel.unprivileged_bpf_disabled = 1
net.core.bpf_jit_harden = 2

# Increase the bits of entropy used for the kernel ASLR. There is a compat
# control as well but that only applies to 32 bit compatible applications which
# are not supported by my kernel.
vm.mmap_rnd_bits = 32
