[env]
{{ $top := merge . (dict "enterprise" (dict "name" "U3T" "scope" "core")) }}
{{- if ne .kind "container" }}
{{-   template "mise/env_git.toml.tmpl" $top }}
{{- end }}
{{- template "mise/env_jira.toml.tmpl" $top }}
CLAUDE_CONFIG_DIR = "{{ "{{config_root}}" }}/.claude"
AWS_CONFIG_FILE = "{{ "{{config_root}}" }}/.aws/config"
AWS_SHARED_CREDENTIALS_FILE = "{{ "{{config_root}}" }}/.aws/credentials"
JIRA_CONFIG_FILE = "{{ "{{config_root}}" }}/.jira/config.yaml"
AZURE_CONFIG_DIR = "{{ "{{config_root}}" }}/.azure"
