package,repo,repo_name,distro_version,repo_version,key
# Terminal packages
git,,,,,
neovim,http://ppa.launchpad.net/neovim-ppa/unstable/ubuntu,,,main,9DBB0BE9366964F134855E2255F96FCF8231B6DD
fish,http://ppa.launchpad.net/fish-shell/release-3/ubuntu,,,main,59FDA1CE1B84B3FAD89366C027557F056DC33CA5
tmux,,,,,
ripgrep,,,,,
grc,,,,,
tar,,,,,
unzip,,,,,
gzip,,,,,
{{ if eq .guiServer "X" "W" -}}
# GUI packages
kitty,,,,,
{{ end -}}
{{ if eq .guiServer "X" -}}
ibus-bamboo,http://ppa.launchpad.net/bamboo-engine/ibus-bamboo/ubuntu,,,main,5AD2E0B68A0409AD907D462D36ED424E9659D014
xdg-user-dirs,,,,,
awesome,,,,,
redshift-minimal,,,,,
xsel,,,,,
rofi,,,,,
picom,,,,,
xdotool,,,,,
{{ end -}}
{{ if eq .guiServer "W" -}}
wofi,,,,,
wtype,,,,,
{{ end -}}
