{{- if .decryptPersonal }}
{{-   $file := printf "../secrets/data/%s/ssh.yaml.age" "personal" | join .chezmoi.sourceDir }}
{{-   if stat (printf "%s/%s" .chezmoi.sourceDir $file) }}
{{-     $ssh := include $file | decrypt | fromYaml }}
{{-     merge $ssh . | includeTemplate "ssh/hosts.config.tmpl" -}}
{{-   end }}
{{- end -}}
