package
# Terminal packages
git
neovim-git
fish
tmux
ripgrep
grc
tar
unzip
gzip
{{ if eq .kind "pc" -}}
# GUI packages
xdg-user-dirs
kitty
ibus-bamboo-git
awesome-git
rofi-greenclip
xsel
rofi
{{ end -}}
