package,repo
# Terminal packages
dev-vcs/git,
app-editors/neovim,
app-shells/fish,
app-misc/tmux,
sys-apps/ripgrep,
app-misc/grc,
app-arch/tar,
app-arch/unzip,
app-arch/gzip,
{{ if eq .kind "pc" -}}
# GUI packages
x11-misc/xdg-user-dirs,
x11-terms/kitty,
app-i18n/ibus-bamboo,dynamo
x11-wm/awesome,
x11-misc/greenclip-bin,guru
x11-misc/xsel
x11-misc/rofi
{{ end -}}
