# These settings were set by the catalyst build script that automatically
# built this stage.
# Please consult /usr/share/portage/config/make.conf.example for a more
# detailed example.
COMMON_FLAGS="{{ output "resolve-march-native" }} -O2 -pipe -flto"
CFLAGS="${COMMON_FLAGS}"
CXXFLAGS="${COMMON_FLAGS}"
FCFLAGS="${COMMON_FLAGS}"
FFLAGS="${COMMON_FLAGS}"
CPU_FLAGS_X86="{{ output "bash" "-c" "cpuid2cpuflags | awk -F': ' '{ print $2 }'" | trim }}"

# NOTE: This stage was built with the bindist Use flag enabled

# This sets the language of build output to English.
# Please keep this setting intact when reporting bugs.
LC_MESSAGES=C.utf8

# Advanced Features
# =================
{{- $proc := output "nproc" | trim | int }}
MAKEOPTS="-j{{ add $proc 1 }}"
EMERGE_DEFAULT_OPTS="--ask --complete-graph --autounmask-write --color=y --with-bdeps=n --keep-going --load-average={{ mulf $proc 0.9 }} --jobs={{ mulf $proc 1.5 }}"
{{- if eq .initSystem "openrc" }}
INSTALL_MASK="/etc/systemd"
{{- end }}
GENTOO_MIRRORS="https://hk.mirrors.cicku.me/gentoo/ https://mirror.rackspace.com/gentoo/"
ACCEPT_LICENSE="*"

# Built-time functionality
# ========================
USE="-X lto pgo wayland -introspection -vala -llvm udev
zstd
{{ if eq .initSystem "openrc" }}-systemd{{ end }}
{{ if .hasSound }}alsa pipewire{{ end }}
{{ if .hasBluetooth }}bluetooth{{ end }}"
{{- if eq .guiDriver "V" }}
VIDEO_CARDS="virgl"
{{- else if eq .guiDriver "N" }}
VIDEO_CARDS="nvidia"
{{- else if eq .guiDriver "A" }}
VIDEO_CARDS="amdgpu radeonsi"
{{- else if eq .guiDriver "I" }}
VIDEO_CARDS="intel"
{{- end }}
INPUT_DEVICES="libinput"
L10N="en_US"

# Helper
# =====
FEATURES="buildpkg ccache candy fixlafiles unmerge-orphans notitles parallel-install parallel-fetch clean-logs"
PORTAGE_SCHEDULING_POLICY="idle"
RUSTC_WRAPPER="/usr/bin/sccache"
CCACHE_DIR="/var/cache/ccache"
SCCACHE_DIR="/var/cache/sccache"
SCCACHE_MAX_FRAME_LENGTH=104857600
DISTCC_SSH="ssh"
