app-admin/sudo
app-admin/syslog-ng
app-arch/7zip
app-arch/unzip
app-arch/zip
app-containers/docker
app-containers/docker-cli
app-editors/neovim
app-eselect/eselect-repository
app-i18n/fcitx-bamboo
app-misc/grc
app-misc/resolve-march-native
app-misc/tmux
app-misc/zellij
app-office/obsidian
app-portage/cpuid2cpuflags
app-portage/gentoolkit
app-shells/fish
dev-build/autoconf
dev-build/autoconf-archive
dev-build/automake
dev-build/cmake
dev-build/meson
dev-build/ninja
dev-lang/go
dev-lang/rust-bin
dev-libs/wayland
dev-util/ccache
dev-util/kcov
dev-util/pkgdev
dev-util/sccache
dev-vcs/git
games-util/game-device-udev-rules
gui-apps/eww
gui-apps/grim
gui-apps/regreet
gui-apps/slurp
gui-apps/swappy
gui-apps/swayidle
gui-apps/swaync
gui-apps/swww
gui-apps/wev
gui-apps/wl-clipboard
gui-apps/wofi
gui-apps/wtype
gui-libs/display-manager-init
gui-libs/greetd
gui-libs/gtk
gui-libs/xdg-desktop-portal-wlr
gui-wm/hyprland
llvm-core/clang
llvm-core/llvm
{{- if eq .mailClient "T" }}
mail-client/thunderbird-bin
{{- else if eq .mailClient "B" }}
mail-client/betterbird-bin
{{- end }}
media-fonts/noto
media-fonts/noto-cjk
media-fonts/roboto
media-gfx/fontforge
media-gfx/imagemagick
media-sound/playerctl
media-video/mpv
media-video/pipewire
net-analyzer/fail2ban
net-analyzer/openbsd-netcat
net-firewall/nftables
{{- if eq .guiServer "W" "X" }}
net-im/telegram-desktop-bin
{{- end }}
net-misc/ntp
net-misc/rustdesk
net-vpn/tailscale
net-vpn/wireguard-tools
net-wireless/iwd
sci-ml/ollama
sys-apps/etckeeper
sys-apps/ethtool
sys-apps/flatpak
sys-apps/portage
sys-auth/pam_u2f
sys-boot/grub
sys-devel/distcc
sys-devel/gcc
sys-fs/btrfs-progs
sys-fs/ntfs3g
sys-kernel/genkernel
sys-kernel/gentoo-kernel-bin
sys-kernel/gentoo-sources
sys-kernel/linux-firmware
sys-kernel/modprobed-db
sys-libs/zlib
sys-process/cronie
sys-process/parallel
www-client/w3m
{{- if eq .browser "F" }}
www-client/firefox-bin
{{- else if eq .browser "Z" }}
www-client/zen-bin
{{- end }}
x11-base/xwayland
{{- if eq .guiDriver "N" }}
x11-drivers/nvidia-drivers
{{- end }}
x11-libs/libnotify
x11-misc/xdg-user-dirs
x11-terms/kitty
