# Dbus
exec-once = dbus-update-activation-environment --all --systemd

# Authentication agent
{{- if eq .chezmoi.osRelease.id "gentoo" }}
exec = /usr/lib64/libexec/polkit-gnome-authentication-agent-1
{{- else }}
exec = /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
{{- end }}

# Sound & Screencast
{{- if eq .chezmoi.osRelease.id "gentoo" }}
exec-once = gentoo-pipewire-launcher restart
{{- else }}
exec-once = systemctl --user start wireplumber
{{- end }}
exec-once = bash ~/.config/hypr/scripts/screencast.sh

# Gtk theme
exec-once = bash ~/.config/hypr/scripts/gtk.sh

# Wallpaper
exec-once = swww init && swww img ~/Multimedia/Pictures/Wallpaper/all/working.gif

# Bar & Panel & Widgets
exec-once = eww
exec-once = swaync

# IM
exec-once = fcitx5 -d --replace

# Terminal
exec-once = kitty fish -c "tmux -q has-session && tmux attach-session -d || tmux new-session -nwtf"

# Browser
exec-once = firefox-bin -P Dynamo --no-remote
exec-once = firefox-bin -P Office --no-remote
