# Plugin manager
exec-once = hyprpm reload -n && hyprctl reload

# Authentication agent
{{- if eq .chezmoi.osRelease.id "gentoo" }}
exec = /usr/lib64/libexec/polkit-gnome-authentication-agent-1
{{- else }}
exec = /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
{{- end }}

# Sound & Screencast
{{- if eq .chezmoi.osRelease.id "gentoo" }}
exec-once = gentoo-pipewire-launcher restart
{{- else }}
exec-once = systemctl --user start wireplumber
exec-once = systemctl --user start pipewire-pulse
{{- end }}
exec-once = ~/.config/hypr/scripts/screencast.sh

# Gtk theme
exec-once = ~/.config/hypr/scripts/gtk.sh

# Wallpaper
exec-once = swww-daemon
exec = swww img ~/Multimedia/Pictures/Wallpaper/all/working.gif

# Bar & Panel & Widgets
exec-once = ~/.config/hypr/scripts/bar.sh
exec-once = swaync

# Screen shader and changes detection
exec = hyprshade auto
exec-once = shikane

# Screen idle
exec-once = hypridle

# Clipboard
exec-once = wl-paste --type text --watch cliphist store
exec-once = wl-paste --type image --watch cliphist store

# IM
exec-once = fcitx5 -d --replace

# Terminal
exec-once = kitty

# Browser
{{- if eq .place "home" }}
exec-once = firefox -P Personal
{{- else if eq .place "office" }}
exec-once = firefox -P Enterprise
{{- end }}

# Email client
{{- if eq .place "home" }}
exec-once = thunderbird{{ if eq .chezmoi.osRelease.id "gentoo" }}-bin{{ end }} -P Personal
{{- else if eq .place "office" }}
exec-once = thunderbird{{ if eq .chezmoi.osRelease.id "gentoo" }}-bin{{ end }} -P Enterprise
{{- end }}

# Note-taking
exec-once = obsidian

# Scratchpad
exec-once = [workspace special:hdrop silent] kitty --class btop -e btop
