# Common
windowrulev2 = float, floating:1

# Per apps
windowrulev2 = workspace 1 silent, class:^(kitty)$
windowrulev2 = workspace 2 silent, class:^(firefox)$, floating: 0
windowrulev2 = workspace 2 silent, class:^(firefox-esr)$, floating: 0
windowrulev2 = workspace 3 silent, class:^(thunderbird)$
windowrulev2 = workspace 3 silent, class:^(thunderbird-esr)$
windowrulev2 = float, initialTitle:^(Calendar Reminders)$
windowrulev2 = workspace 4 silent, class:^(obsidian)$
windowrulev2 = workspace 6 silent, class:^(mpv)$
windowrulev2 = workspace 7 silent, class:^(steam)$
windowrulev2 = float, class:^(btop)$
windowrulev2 = size 80% 50%, class:^(btop)$
windowrulev2 = center, class:^(btop)$

# Browser Picture in Picture
windowrulev2 = float, title:^(Picture-in-Picture)$
windowrulev2 = pin, title:^(Picture-in-Picture)$
windowrulev2 = move 69.5% 4%, title:^(Picture-in-Picture)$
