{{- $theme := "macchiato" }}
{{- $variant := .catppuccin.variant }}
{{- if not .darkMode }}
{{-   $theme = "latte" }}
{{- end }}
.config/btop/themes/catppuccin.theme:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/btop/main/themes/catppuccin_{{ $theme }}.theme
  refreshPeriod: 168h
.config/fish/themes/catppuccin.theme:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/fish/refs/heads/main/themes/Catppuccin%20{{ camelcase $theme }}.theme
  refreshPeriod: 168h
.config/git/delta:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/delta/main/catppuccin.gitconfig
  refreshPeriod: 168h
.config/glamour/catppuccin.json:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/glamour/refs/heads/main/themes/catppuccin-{{ $theme }}.json
  refreshPeriod: 168h
.config/hypr/hyprland/color.conf:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/hyprland/refs/heads/main/themes/{{ $theme }}.conf
  refreshPeriod: 168h
.config/k9s/skin.yml:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/k9s/main/dist/catppuccin-{{ $theme }}.yaml
  refreshPeriod: 168h
.config/kitty/diff/color.conf:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/kitty/main/themes/diff-{{ $theme }}.conf
  refreshPeriod: 168h
.config/tridactyl/themes/catppuccin.css:
  type: file
  url: https://raw.githubusercontent.com/devnullvoid/catppuccin-tridactyl/main/themes/catppuccin-{{ $theme }}.css
  refreshPeriod: 168h
.config/yazi/theme.toml:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/yazi/refs/heads/main/themes/{{ $theme }}/catppuccin-{{ $theme }}-{{ $variant }}.toml
{{- if eq .terminalMultiplexer "Z" }}
.config/zellij/themes/catppuccin.kdl:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/zellij/refs/heads/main/catppuccin.kdl
  refreshPeriod: 168h
{{- end }}
{{- if eq .chezmoi.os "android" }}
.config/termux/color.properties:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/termux/main/themes/catppuccin-{{ $theme }}.properties
  refreshPeriod: 168h
{{- end }}
{{- if eq .guiServer "W" }}
.local/share/themes/Dynamo:
  type: archive
  url: https://github.com/catppuccin/gtk/releases/download/v1.0.3/catppuccin-{{ $theme }}-{{ $variant }}-standard+default.zip
  exact: true
  refreshPeriod: 168h
  stripComponents: 1
  include:
    - catppuccin-{{ $theme }}-{{ $variant }}-standard+default/gtk-*/*
.local/share/icons/Dynamo-Cursor:
  type: archive
  url: https://github.com/catppuccin/cursors/releases/latest/download/catppuccin-{{ $theme }}-{{ $variant }}-cursors.zip
  exact: true
  refreshPeriod: 168h
  stripComponents: 1
  exclude:
    - catppuccin-{{ $theme }}-{{ $variant }}-cursors/index.theme
    - catppuccin-{{ $theme }}-{{ $variant }}-cursors/index.theme.cache
    - catppuccin-{{ $theme }}-{{ $variant }}-cursors/icon-theme.cache
.config/qt5ct/colors/catppuccin.conf:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/qt5ct/refs/heads/main/themes/catppuccin-{{ $theme }}-{{ $variant }}.conf
  refreshPeriod: 168h
.config/qt6ct/colors/catppuccin.conf:
  type: file
  url: https://raw.githubusercontent.com/catppuccin/qt5ct/refs/heads/main/themes/catppuccin-{{ $theme }}-{{ $variant }}.conf
  refreshPeriod: 168h
{{- end }}
