{{- if eq .guiServer "X" "W" }}
{{ splitList (printf "%s/" .chezmoi.homeDir) .chezmoi.sourceDir | last }}/../silos/font/files/Community/Nerd/SymbolsNerdFont-Regular.ttf:
  type: file
  url: 'https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/NerdFontsSymbolsOnly/SymbolsNerdFont-Regular.ttf'
  refreshPeriod: 168h
{{- end }}
{{- if eq .chezmoi.os "android" }}
.termux/font.ttf:
  type: file
  url: https://raw.githubusercontent.com/dynamotn/font-collection/main/files/DIY/Iosevka/iosevka-dynamo-nerd.ttf
  refreshPeriod: 168h
{{- end }}
