{{- $profiles := list "public" }}
{{- if .decryptPersonal }}
{{-   $profiles = append $profiles "personal" }}
{{- end }}
{{- range .decryptEnterprise }}
{{-   $profiles = append $profiles (printf "enterprise-%s" .) }}
{{- end }}
{{- $processFirefox := "" }}
{{- $processThunderbird := "" }}
{{- if eq .browser "F" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $processFirefox = "/Applications/Firefox.app/Contents/MacOS/firefox" }}
{{-   else if eq .osid "linux-gentoo" }}
{{-     $processFirefox = "/opt/firefox/firefox" }}
{{-   else }}
{{-     $processFirefox = "/usr/lib/firefox/firefox" }}
{{-   end }}
{{- else if eq .browser "Z" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $processFirefox = "/Applications/Zen.app/Contents/MacOS/zen" }}
{{-   else if eq .osid "linux-gentoo" }}
{{-     $processFirefox = "/opt/zen/zen-bin" }}
{{-   else }}
{{-     $processFirefox = "/opt/zen-browser-bin/zen" }}
{{-   end }}
{{- end }}
{{- if eq .mailClient "T" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $processThunderbird = "/Applications/Thunderbird.app/Contents/MacOS/thunderbird" }}
{{-   else if eq .osid "linux-gentoo" }}
{{-     $processThunderbird = "/opt/thunderbird/thunderbird" }}
{{-   else }}
{{-     $processThunderbird = "/usr/lib/thunderbird/thunderbird" }}
{{-   end }}
{{- else if eq .mailClient "B" }}
{{-   if eq .chezmoi.os "darwin" }}
{{-     $processThunderbird = "/Applications/Betterbird.app/Contents/MacOS/betterbird" }}
{{-   else if eq .osid "linux-gentoo" }}
{{-     $processThunderbird = "/opt/betterbird/betterbird-bin" }}
{{-   else }}
{{-     $processThunderbird = "/opt/betterbird-bin/betterbird" }}
{{-   end }}
{{- end }}
{{- $dotfilesFolder := splitList (printf "%s/" .chezmoi.homeDir) .chezmoi.sourceDir | last }}
{{- $version := "" }}
{{- if eq .browser "F" "Z" }}
{{-   if eq (output "bash" "-c" (printf "pgrep -f %s | wc -l" $processFirefox) | trim | int) 1 }}
{{ $dotfilesFolder }}/.chezmoitemplates/firefox/prefs/00-arkenfox.js:
  type: file
  url: 'https://raw.githubusercontent.com/arkenfox/user.js/master/user.js'
  refreshPeriod: 168h
{{ $dotfilesFolder }}/.chezmoitemplates/firefox/chrome/js/extensionOptionsPanel.uc.js:
  type: file
  url: 'https://github.com/aminomancer/uc.css.js/raw/refs/heads/master/JS/extensionOptionsPanel.uc.js'
  refreshPeriod: 168h
{{-     range $profiles }}
.config/firefox/profiles/{{ . }}/extensions/tridactyl.vim.betas.nonewtab@cmcaine.co.uk.xpi:
  type: file
  url: 'https://tridactyl.cmcaine.co.uk/betas/nonewtab/tridactyl_no_new_tab_beta-latest.xpi'
  refreshPeriod: 168h
.config/firefox/profiles/{{ . }}/extensions/uBlock0@raymondhill.net.xpi:
  type: file
  url: "https://addons.mozilla.org/firefox/downloads/file/4492375/"
  refreshPeriod: 168h
.config/firefox/profiles/{{ . }}/extensions/addon@darkreader.org.xpi:
  type: file
  url: "https://addons.mozilla.org/firefox/downloads/file/4488139/"
  refreshPeriod: 168h
.config/firefox/profiles/{{ . }}/extensions/firenvim@lacamb.re.xpi:
  type: file
  url: "https://addons.mozilla.org/firefox/downloads/file/4279173/"
# Bitwarden
.config/firefox/profiles/{{ . }}/extensions/{446900e4-71c2-419f-a6a7-df9c091e268b}.xpi:
  type: file
  url: "https://addons.mozilla.org/firefox/downloads/file/4493940/"
  refreshPeriod: 168h
.config/firefox/profiles/{{ . }}/extensions/languagetool-webextension@languagetool.org.xpi:
  type: file
  url: "https://addons.mozilla.org/firefox/downloads/file/4470413/"
  refreshPeriod: 168h
.config/firefox/profiles/{{ . }}/extensions/foxyproxy@eric.h.jung.xpi:
  type: file
  url: "https://addons.mozilla.org/firefox/downloads/file/4472757/"
  refreshPeriod: 168h
# Linguist
.config/firefox/profiles/{{ . }}/extensions/{e5b6e4ac-ec96-44f5-b257-e4d3c8291b41}.xpi:
  type: file
  url: "https://addons.mozilla.org/firefox/downloads/file/4306398/"
  refreshPeriod: 168h
# Virus Total
.config/firefox/profiles/{{ . }}/extensions/{06def8b7-bcc3-4f1e-add7-7d8222ca0efc}.xpi:
  type: file
  url: "https://addons.mozilla.org/firefox/downloads/file/3547900/"
  refreshPeriod: 168h
# Privacy Badger
.config/firefox/profiles/{{ . }}/extensions/jid1-MnnxcxisBPnSXQ@jetpack.xpi:
  type: file
  url: "https://addons.mozilla.org/firefox/downloads/file/4504218/"
  refreshPeriod: 168h
.config/firefox/profiles/{{ . }}/extensions/FirefoxColor@mozilla.com.xpi:
  type: file
  url: "https://addons.mozilla.org/firefox/downloads/file/3643624/"
  refreshPeriod: 168h
{{-       if eq $.browser "F" }}
# Sideberry
.config/firefox/profiles/{{ . }}/extensions/{3c078156-979c-498b-8990-85f7987dd929}.xpi:
  type: file
  url: "https://addons.mozilla.org/firefox/downloads/file/4442132/"
  refreshPeriod: 168h
{{-       end }}
{{-       if ne . "public" }}
.config/firefox/profiles/{{ . }}/extensions/wappalyzer@crunchlabz.com.xpi:
  type: file
  url: "https://addons.mozilla.org/firefox/downloads/file/4498612/"
  refreshPeriod: 168h
.config/firefox/profiles/{{ . }}/extensions/clipper@obsidian.md.xpi:
  type: file
  url: "https://addons.mozilla.org/firefox/downloads/file/4497129/"
  refreshPeriod: 168h
# Refined Github
.config/firefox/profiles/{{ . }}/extensions/{a4c4eda4-fb84-4a84-b4a1-f7c1cbf2a1ad}.xpi:
  type: file
  url: "https://addons.mozilla.org/firefox/downloads/file/4495758/"
  refreshPeriod: 168h
# Temporary containers
.config/firefox/profiles/{{ . }}/extensions/{c607c8df-14a7-4f28-894f-29e8722976af}.xpi:
  type: file
  url: "https://addons.mozilla.org/firefox/downloads/file/3723251/"
  refreshPeriod: 168h
# Stylus
.config/firefox/profiles/{{ . }}/extensions/{7a7a4a92-a2a0-41d1-9fd7-1e92480d612d}.xpi:
  type: file
  url: "https://addons.mozilla.org/firefox/downloads/file/4451438/"
  refreshPeriod: 168h
{{-       end }}
{{-       if eq . "personal" }}
.config/firefox/profiles/{{ . }}/extensions/leechblockng@proginosko.com.xpi:
  type: file
  url: "https://addons.mozilla.org/firefox/downloads/file/4507296/"
  refreshPeriod: 168h
.config/firefox/profiles/{{ . }}/extensions/@react-devtools.xpi:
  type: file
  url: "https://addons.mozilla.org/firefox/downloads/file/4360002/"
  refreshPeriod: 168h
# Violentmonkey
.config/firefox/profiles/{{ . }}/extensions/{aecec67f-0d10-4fa7-b7c7-609a2db280cf}.xpi:
  type: file
  url: "https://addons.mozilla.org/firefox/downloads/file/4455138/"
  refreshPeriod: 168h
.config/firefox/profiles/{{ . }}/extensions/magnolia@12.34.xpi:
  type: file
  url: "https://gitflic.ru/project/magnolia1234/bpc_uploads/blob/raw?file=bypass_paywalls_clean-latest.xpi"
  refreshPeriod: 168h
# Get Tech Stack Github
.config/firefox/profiles/{{ . }}/extensions/a778917369@gmail.com.xpi:
  type: file
  url: "https://addons.mozilla.org/firefox/downloads/file/4196975/"
  refreshPeriod: 168h
{{-       end }}
{{-     end }}
{{-   end }}
{{- end }}
{{- if eq .mailClient "T" "B" }}
{{-   if eq (output "bash" "-c" (printf "pgrep -f %s | wc -l" $processThunderbird) | trim | int) 1 }}
{{ $dotfilesFolder }}/.chezmoitemplates/thunderbird/prefs/00-arkenfox.js:
  type: file
  url: https://raw.githubusercontent.com/HorlogeSkynet/thunderbird-user.js/master/user.js
  refreshPeriod: 168h
{{-     range $profiles }}
.config/thunderbird/profiles/{{ . }}/extensions/uBlock0@raymondhill.net.xpi:
  type: file
  url: 'https://addons.thunderbird.net/thunderbird/downloads/latest/ublock-origin/addon-988489-latest.xpi'
  refreshPeriod: 168h
.config/thunderbird/profiles/{{ . }}/extensions/addon@darkreader.org.xpi:
  type: file
  url: "https://addons.thunderbird.net/thunderbird/downloads/latest/darkreader/addon-988018-latest.xpi"
  refreshPeriod: 168h
.config/thunderbird/profiles/{{ . }}/extensions/{d3f3abb5-21aa-57fd-80e3-a9a1887b1d16}.xpi:
  type: file
  url: 'https://github.com/catppuccin/thunderbird/raw/refs/heads/main/themes/macchiato/macchiato-teal.xpi'
  refreshPeriod: 168h
.config/thunderbird/profiles/{{ . }}/extensions/languagetool-mailextension@languagetool.org.xpi:
  type: file
  url: "https://addons.thunderbird.net/thunderbird/downloads/latest/grammar-and-spell-checker/addon-988138-latest.xpi"
  refreshPeriod: 168h
.config/thunderbird/profiles/{{ . }}/extensions/{2ab1b709-ba03-4361-abf9-c50b964ff75d}.xpi:
  type: file
  url: "https://addons.thunderbird.net/thunderbird/downloads/latest/signature-switch/addon-611-latest.xpi"
  refreshPeriod: 168h
{{-       if eq . "enterprise-F1" }}
# https://github.com/jobisoft/TbSync/issues/748
.config/thunderbird/profiles/{{ . }}/extensions/tbsync@jobisoft.de.xpi:
  type: file
  url: "https://github.com/user-attachments/files/21034205/TBSync_140.zip"
  refreshPeriod: 168h
.config/thunderbird/profiles/{{ . }}/extensions/eas4tbsync@jobisoft.de.xpi:
  type: file
  url: "https://github.com/user-attachments/files/21034206/EAS-4-TbSync_140.zip"
  refreshPeriod: 168h
{{-       end }}
{{-     end }}
{{-   end }}
{{- end }}
