{{- $gitlab := "git@gitlab.com:" }}
{{- if not .preferGitSSH }}
{{-   $gitlab = "https://gitlab.com/" }}
{{- end }}
{{- if and
  (ne .chezmoi.username "root")
  (eq .kind "pc" "laptop")
}}
Documents/Notes:
  type: git-repo
  url: {{ $gitlab }}dynamo-brain/digital-garden.git
  refreshPeriod: 2h
{{- end }}
