#!{{ .bash }}
source {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_common_handlers

{{ $types := list }}
{{- if .decryptPersonal }}
{{-   $types = append $types "personal" }}
# personal hash: {{ joinPath .chezmoi.sourceDir "../secrets/personal.age" | include | sha256sum }}
{{- end }}
{{- range .decryptEnterprise }}
{{-   $types = printf "enterprise-%s" . | append $types }}
# {{ . }} hash: {{ printf "../secrets/enterprise-%s.age" . | joinPath $.chezmoi.sourceDir | include | sha256sum }}
{{- end }}
{{- if eq .kind "container" }}
if dybatpho::is file "/run/secrets/age_passphrases"; then
  age_passphrases=$(sudo cat /run/secrets/age_passphrases)
else
  dybatpho::die "No age passphrase found"
fi
for passphrase in $age_passphrases; do
  IFS='=' read -r key value <<< "$passphrase"
  declare age_passphrase_$key="$value"
done
{{- end }}
for type in {{ range $types }}{{ . | quote }} {{ end }}; do
  dybatpho::header "Decrypting ${type}.age file to decrypt all encrypted files"
  if ! dybatpho::is file "${HOME}/.config/chezmoi/${type}.key"; then
    {{- if eq .kind "container" }}
    passphrase_var="age_passphrase_${type##enterprise-}"
    {{ .chezmoi.sourceDir }}/../scripts/lib/expect-age/expect-age "${!passphrase_var:-}" "{{ .chezmoi.sourceDir }}/../secrets/${type}.age" "${HOME}/.config/chezmoi/${type}.key"
    {{- else }}
    age --decrypt --output "${HOME}/.config/chezmoi/${type}.key" "{{ .chezmoi.sourceDir }}/../secrets/${type}.age"
    {{- end }}

    if [ $? -eq 0 ]; then
      chmod 400 "${HOME}/.config/chezmoi/${type}.key"
      dybatpho::success "Successfully decrypted ${type}.age file"
    else
      dybatpho::error "Failed to decrypt ${type}.age file"
    fi
  else
    dybatpho::info "Not need to decrypt ${type}.age file"
  fi
done
