{{- $matchClassKeyword := "match:class " }}
{{- $matchTagKeyword := "match:tag " }}
{{- $windowRuleSection := "windowrule" }}
# Layer
{{- $layers := list "wofi" "swaync-control-center" "gtk-layer-shell" }}
{{- range $layers }}
layerrule = blur on, ignore_alpha 0, match:namespace {{ . }}
{{- end }}

# Common #
# Floating
{{ $windowRuleSection }} = float on, match:float 1
# Smart gaps
{{- $workspaces := list "w[tv1]" "f[1]" }}
{{- range $workspaces }}
workspace = w[tv1], gapsout:0, gapsin:0
{{ $windowRuleSection }} = border_size 0, match:float 0, match:workspace {{ . }}
{{ $windowRuleSection }} = rounding 0, match:float 0, match:workspace {{ . }}
{{ $windowRuleSection }} = decorate off, match:float 0, match:workspace {{ . }}
{{ $windowRuleSection }} = no_shadow on, match:float 0, match:workspace {{ . }}
{{- end }}
# Fix dragging issues with XWayland
{{ $windowRuleSection }} = no_focus on,match:class ^$,match:title ^$,match:xwayland 1,match:float 1,match:fullscreen 0,match:pin 0

# Per app #
{{- $rules := includeTemplate "wm/rules.yaml.tmpl" . | fromYaml }}
{{- range $rules.tags }}
{{/*  Class to tag */}}
{{-   $name := .name }}
{{-   range .classes }}
{{ $windowRuleSection }} = tag +{{ $name }}, {{ $matchClassKeyword }}{{ . }}
{{-   end }}

{{/*  Handle workspace */}}
{{-   if hasKey . "workspace" }}
{{ $windowRuleSection }} = workspace name:{{ .workspace }} silent, {{ $matchTagKeyword }}{{ .name }}*
{{-   end }}
{{/*  Floating */}}
{{-   if and (hasKey . "float") (get . "float") }}
{{ $windowRuleSection }} = float on, {{ $matchTagKeyword }}{{ .name }}*
{{-   end }}
{{/*  Center */}}
{{-   if and (hasKey . "center") (get . "center") }}
{{ $windowRuleSection }} = center on, {{ $matchTagKeyword }}{{ .name }}*
{{-   end }}
{{/*  Fullscreen and blur */}}
{{-   if and (hasKey . "fullscreen") (get . "fullscreen") }}
{{ $windowRuleSection }} = no_blur on, {{ $matchTagKeyword }}{{ .name }}*
{{ $windowRuleSection }} = fullscreen on, {{ $matchTagKeyword }}{{ .name }}*
{{-   end }}
{{/*  Size */}}
{{-   if and (hasKey . "size") (get . "size") }}
{{-     $size := printf "(monitor_w*%.2f) (monitor_h*%.2f)" .size.width .size.height }}
{{ $windowRuleSection }} = size {{ $size }}, {{ $matchTagKeyword }}{{ .name }}*
{{-   end }}
{{- end }}

# Other tweaks
## Calendar Reminders
{{ $windowRuleSection }} = float on, match:initial_title ^(Calendar Reminders)$
## Picture-in-Picture
{{ $windowRuleSection }} = float on, match:title ^(Picture-in-Picture)$
{{ $windowRuleSection }} = keep_aspect_ratio on, match:title ^(Picture-in-Picture)$
{{ $windowRuleSection }} = pin on, match:title ^(Picture-in-Picture)$
{{ $windowRuleSection }} = move (cursor_x-(window_w*0.5)) (cursor_y-(window_h*0.5)), match:title ^(Picture-in-Picture)$
## IME preedit box
{{ $windowRuleSection }} = float on, match:class ^(ibus-ui-gtk3)$
{{ $windowRuleSection }} = no_initial_focus on, match:class ^(ibus-ui-gtk3)$
{{ $windowRuleSection }} = border_size 0, match:class ^(ibus-ui-gtk3)$
{{ $windowRuleSection }} = pin on, match:class ^(ibus-ui-gtk3)$
