{{- range .decryptEnterprise }}
{{-   $commonSecret := printf "../secrets/data/enterprise-%s/common.yaml.age" . | joinPath $.chezmoi.sourceDir | include | decrypt | fromYaml }}
{{-   if hasKey $commonSecret "rclone" -}}
{{-     range $commonSecret.rclone }}
[{{ .name }}]
{{        .content }}
{{-     end }}
{{-   end }}
{{- end }}
