{{- if .decryptPersonal }}
Host github.com
    User git
    IdentityFile ~/.ssh/keys/personal_ed25519

Host gitlab.com
    User git
    IdentityFile ~/.ssh/keys/personal_ed25519

Host aur.archlinux.org
    User aur
    IdentityFile ~/.ssh/keys/personal_ed25519
{{- end }}
