{{- $sslSecret := printf "../secrets/data/enterprise-%s/ssl.yaml.age" .enterprise | join .chezmoi.sourceDir | include | decrypt | fromYaml }}
{{- range $sslSecret.certs }}
{{-   printf "%s\n" .file }}
{{- end -}}
