layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="status-bar"
    }
    pane size=1 borderless=true {
      plugin location="zjstatus"
    }
  }

  tab name="uat" cwd="~/Working/enterprise/F1/DXH" split_direction="vertical" {
    pane {
      command "${SHELL}"
      args "-c" "k9s --context uat"
    }
    {{- if ne .code "vdi" }}
    floating_panes {
      pane cwd="~/Working/enterprise/F1/DXH" {
        command "${SHELL}"
        args "-c" "process-compose"
      }
    }
    {{- end }}
  }
  {{- if eq .code "vdi" }}
  tab name="prd-devops" cwd="~/Working/enterprise/F1/DXH" {
    pane {
      command "${SHELL}"
      args "-c" "k9s --context prd-devops"
    }
  }
  tab name="prd-apps" cwd="~/Working/enterprise/F1/DXH" {
    pane {
      command "${SHELL}"
      args "-c" "k9s --context prd-apps"
    }
  }
  {{- end }}
  tab name="docker" cwd="~/Working/enterprise/F1/DXH/docker" {
    pane
  }
  tab name="iac" cwd="~/Working/enterprise/F1/DXH/iac" {
    pane
  }
  tab name="cicd" cwd="~/Working/enterprise/F1/DXH/cicd" {
    pane
  }
  tab name="docs" cwd="~/Working/enterprise/F1/DXH/docs" {
    pane
  }
}
