{{- if eq .kind "pc" "laptop" }}
usr/share/grub/themes/catppuccin:
  type: archive
  url: https://github.com/catppuccin/grub/archive/refs/heads/main.zip
  refreshPeriod: 168h
  stripComponents: 3
  include:
    - grub-main/src/catppuccin-macchiato-grub-theme/*
{{- end }}
{{- if eq .kind "laptop" }}
etc/NetworkManager/dispatcher.d/90-open_captive_portal:
  type: file
  url: https://raw.githubusercontent.com/Seme4eg/captive-portal-sh/refs/heads/master/90-open_captive_portal
  refreshPeriod: 168h
{{- end }}
