{{- if ne .guiServer "W" }}
usr/share/wayland-sessions/dyland.desktop
etc/greetd
{{- end }}
{{- if eq .guiServer "W" "X" }}
{{- if ne .chezmoi.osRelease.id "gentoo" }}
opt/firefox
{{- end }}
{{- if ne .chezmoi.osRelease.id "arch" }}
usr/lib/firefox
etc/vconsole.conf
{{- end }}
{{- end }}
