{{- if ne .guiServer "W" }}
usr/share/wayland-sessions/dyland.desktop
etc/greetd
{{- end }}
{{- if eq .guiServer "X" "W" }}
{{- if ne .chezmoi.osRelease.id "gentoo" }}
usr/lib64/firefox
{{- end }}
{{- if ne .chezmoi.osRelease.id "arch" }}
usr/lib/firefox
{{- end }}
{{- end }}
{{- if not (eq .chezmoi.osRelease.id "arch" "ubuntu") }}
etc/systemd
etc/vconsole.conf
{{- end }}
{{- if ne .chezmoi.osRelease.id "arch" }}
etc/makepkg.conf
etc/pacman.d
etc/pacman.conf
{{- end }}
{{- if ne .chezmoi.osRelease.id "gentoo" }}
etc/ntp
{{- end }}
{{- if and (ne .kind "pc") (ne .kind "laptop") }}
etc/default/grub
{{- end }}
{{- if or (ne .kind "office") (ne .company "F1") }}
etc/ca-certificates
etc/NetworkManager/system-connections/Office.nmconnection
etc/NetworkManager/system-connections/Office-Project.nmconnection
{{- end }}
{{- if ne .kind "pc" }}
etc/NetworkManager/system-connections/Dynamo.nmconnection
{{- end }}
