**/.DS_Store

{/* OS related files */}
{{- if ne .chezmoi.os "darwin" }}
Applications
{{- else if ne .chezmoi.os "linux" }}
etc
usr
opt
var
{{- end }}

{/* Window manager and WM-related files */}
{{- if ne .guiServer "W" }}
usr/share/wayland-sessions/dyland.desktop
etc/greetd
{{- end }}

{/* Browser files */}
{{- if ne .osid "linux-gentoo" }}
usr/lib64/firefox
opt/zen-browser
{{- end }}
{{- if ne .osid "linux-arch" }}
usr/lib/firefox
opt/zen-browser-bin
{{- end }}
{{- if ne .browser "F" }}
usr/lib/firefox
usr/lib64/firefox
Applications/Firefox.app
{{- else if ne .browser "Z" }}
opt/zen-browser
opt/zen-browser-bin
Applications/Zen.app
{{- end }}

{/* Linux related files */}
{{- if ne .initSystem "systemd" }}
etc/systemd
etc/vconsole.conf
{{- end }}
{{- if ne .osid "linux-arch" }}
etc/makepkg.conf
etc/pacman.d
etc/pacman.conf
{{- end }}
{{- if ne .osid "linux-gentoo" }}
etc/ntp
etc/portage
etc/sandbox.d
var/lib/portage
{{- end }}
{{- if not (eq .osid "linux-ubuntu" "linux-debian") }}
etc/apt
{{- end }}

{/* Machine type files */}
{{- if not (eq .kind "pc" "laptop") }}
etc/default/grub
{{- end }}
{{- if and (eq .kind "vm") (eq .place "office") }}
etc/hostname
etc/modprobe.d
etc/pam.d
{{- end }}

{/* Secret files */}
{{- if or (ne .kind "office") (ne .company "F1") }}
etc/ca-certificates
{{- else }}
{{-   if ne .osid "linux-arch" }}
etc/ca-certificates/trust-source
{{-   end }}
{{- end }}
