{{- if .httpProxy }}
Acquire::http::Proxy "{{ .httpProxy }}";
Acquire::https::Proxy "{{ .httpProxy }}";
{{-   range .noProxyAddresses }}
Acquire::http::proxy::{{ . }} "DIRECT";
{{-   end }}
{{- end }}
