name: aichat
method: binary
github:
  repo: sigoden/aichat
  {{- $os := "" }}
  {{- $arch := "" }}
  {{- if eq .chezmoi.os "darwin" }}
  {{- $os = "apple-darwin" }}
  {{- else if eq .chezmoi.os "linux" "android" }}
  {{- $os = "unknown-linux-musl" }}
  {{- end }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{- $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{- $arch = "aarch64" }}
  {{- end }}
  release_asset: aichat-%v-{{ $arch }}-{{ $os }}.tar.gz
archive:
  paths:
    - aichat
