name: argocd
method: binary
github:
  repo: argoproj/argo-cd
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "android" }}
  {{-   $os = "linux" }}
  {{- end }}
  release_asset: argocd-{{ $os }}-{{ .chezmoi.arch }}
