{{- if eq .kind "laptop" }}
name: auto-cpufreq
method: os
is_essential: true
gentoo:
  packages:
    - name: sys-power/auto-cpufreq
      accept_keywords: |-
        sys-power/auto-cpufreq ~amd64
arch:
  packages:
    - name: auto-cpufreq
  hook:
    after: |-
      sudo systemctl enable --now auto-cpufreq
{{- end }}
