name: bandwhich
method: binary
github:
  repo: imsnif/bandwhich
  version: latest
  release_asset: bandwhich-%v-x86_64-unknown-linux-gnu.tar.gz
archive:
  - path: bandwhich
hook:
  after: |
    sudo setcap cap_sys_ptrace,cap_dac_read_search,cap_net_raw,cap_net_admin+ep ~/.local/bin/bandwhich
