name: bat
is_essential: true
{{- if or (eq .chezmoi.os "android" "darwin") (eq .kind "container") }}
method: os
termux:
  packages:
    - name: bat
macos:
  packages:
    - name: bat
arch:
  packages:
    - name: bat
{{- else }}
method: shell
dependencies:
  - rust
content: cargo install --git https://github.com/sharkdp/bat bat
{{- end }}
