name: bat
is_essential: true
{{- if eq .chezmoi.os "linux" }}
method: shell
dependencies:
  - rust
content: cargo install --git https://github.com/sharkdp/bat bat
{{- else if eq .chezmoi.os "android" "darwin" }}
method: os
termux:
  packages:
    - name: bat
macos:
  packages:
    - name: bat
{{- end }}
