name: bat
is_essential: true
{{- if or (eq .chezmoi.os "android" "darwin") (eq .kind "container") }}
method: os
arch:
  packages:
    - name: bat
termux:
  packages:
    - name: bat
alpine:
  packages:
    - name: bat
macos:
  packages:
    - name: bat
{{- else }}
method: binary
github:
  repo: sharkdp/bat
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{-   $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{-   $arch = "aarch64" }}
  {{- end }}
  release_asset: bat-%v-{{ $arch }}-unknown-linux-gnu.tar.gz
archive:
  - path: bat-%v-{{ $arch }}-unknown-linux-gnu/bat
    strip: 1
  - path: bat-%v-{{ $arch }}-unknown-linux-gnu/bat.1
    strip: 1
    location: $MAN_DIR/man1
{{- end }}
