{{- if and (eq .chezmoi.os "linux") .hasBluetooth }}
# Only on Linux
name: bluetooth
method: os
is_essential: true
gentoo:
  packages:
    - name: net-wireless/bluez
  {{- if ne .kind "container" }}
  services:
    - name: bluetooth
  {{- end }}
arch:
  packages:
    - name: bluez
  {{- if ne .kind "container" }}
  services:
    - name: bluetooth
  {{- end }}
ubuntu:
  packages:
    - name: bluez
  {{- if ne .kind "container" }}
  services:
    - name: bluetooth
  {{- end }}
alpine:
  packages:
    - name: bluez
  {{- if ne .kind "container" }}
  services:
    - name: bluetooth
  {{- end }}
{{- end }}
