{{- if eq .chezmoi.os "linux" "darwin" }}
name: btop
{{- if and (ne .kind "container") (ne .chezmoi.os "darwin") }}
method: binary
is_essential: true
github:
  repo: aristocratos/btop
  version: latest
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: btop-x86_64-linux-musl.tbz
  {{- else if eq .chezmoi.arch "arm64" }}
  release_asset: btop-aarch64-linux-gnu.tbz
  {{- end }}
archive:
  - path: ./btop/bin/btop
    strip: 3
{{- else }}
method: os
arch:
  packages:
    - name: btop
macos:
  packages:
    - name: btop
{{- end }}
{{- end }}
