{{- if eq .chezmoi.arch "amd64" }}
name: cointop
method: binary
github:
  repo: cointop-sh/cointop
  version: latest
  release_asset: cointop_%1v_{{ .chezmoi.os }}_amd64.tar.gz
archive:
  - path: cointop
{{- end }}
