{{- if eq .kind "pc" "laptop" "sbc" "workstation" "vm" }}
name: container
method: os
is_essential: true
gentoo:
  packages:
    - name: app-containers/docker
    - name: app-containers/docker-cli
  hook:
    after: |-
      sudo usermod -aG docker $USER || :
  services:
    - name: docker
arch:
  packages:
    - name: docker
  hook:
    after: |-
      sudo groupadd docker || :
      sudo usermod -aG docker $USER || :
  services:
    - name: docker
    - name: containerd
ubuntu:
  packages:
    - name: docker-ce
    - name: docker-ce-cli
  hook:
    after: |-
      sudo groupadd docker || :
      sudo usermod -aG docker $USER || :
  services:
    - name: docker
    - name: containerd
alpine:
  packages:
    - name: docker
  hook:
    after: |-
      sudo addgroup $USER docker || :
  services:
    - name: docker
macos:
  packages:
    - name: lima
    - name: docker
  {{- if eq .chezmoi.arch "arm64" }}
  need_rosetta: true
  {{- end }}
  hook:
    after: |-
      limactl list dyker || limactl start -y template://dyker || :
      limactl start-at-login dyker
      docker context create lima-dyker --docker "host=unix://${HOME}/.lima/dyker/sock/docker.sock" \
        && docker context use lima-dyker \
        || :
{{- end }}
