{{- if eq .kind "pc" "vm" "laptop" }}
name: container
method: os
is_essential: true
{{- if eq .chezmoi.os "linux" }}
gentoo:
  packages:
    - name: app-containers/docker
    - name: app-containers/docker-cli
  hook:
    after: |-
      sudo usermod -aG docker $USER
      {{- if ne .kind "container" }}
      sudo rc-update add docker default
      sudo rc-service docker start
      {{- end }}
arch:
  packages:
    - name: docker
  hook:
    after: |-
      sudo groupadd docker
      sudo usermod -aG docker $USER
      {{- if ne .kind "container" }}
      sudo systemctl enable --now docker containerd
      {{- end }}
ubuntu:
  packages:
    - name: docker-ce
    - name: docker-ce-cli
  hook:
    after: |-
      sudo groupadd docker
      sudo usermod -aG docker $USER
      {{- if ne .kind "container" }}
      sudo systemctl enable --now docker containerd
      {{- end }}
{{- end }}
macos:
  packages:
    - name: lima
    - name: docker
  hook:
    after: |-
      limactl start template://docker || true
{{- end }}
