name: cron
method: os
is_essential: true
gentoo:
  packages:
    - name: sys-process/cronie
arch:
  packages:
    - name: cronie
ubuntu:
  packages:
    - name: cronie
termux:
  packages:
    - name: cronie
