name: d2
method: binary
github:
  repo: terrastruct/d2
  release_asset:  d2-%v-linux-{{ .chezmoi.arch }}.tar.gz
archive:
  - path: d2-%v/bin/d2
    strip: 2
  - path: d2-%v/man/d2.1
    strip: 2
    location: $MAN_DIR/man1
