name: delta
is_essential: true
{{- if eq .chezmoi.os "linux" }}
method: binary
github:
  repo: dandavison/delta
  version: latest
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{- $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{- $arch = "aarch64" }}
  {{- end }}
  release_asset: delta-%v-{{ $arch }}-unknown-linux-gnu.tar.gz
archive:
  - path: delta-%v-{{ $arch }}-unknown-linux-gnu/delta
    strip: 1
{{- else if eq "android" "darwin" }}
method: os
termux:
  packages:
    - name: git-delta
macos:
  packages:
    - name: git-delta
{{- end }}
