name: direnv
{{- if eq .chezmoi.os "darwin" "android" }}
method: os
is_essential: true
macos:
  packages:
    - name: direnv
termux:
  packages:
    - name: direnv
{{- else }}
method: binary
is_essential: true
github:
  repo: direnv/direnv
  version: latest
  release_asset: direnv.linux-{{ .chezmoi.arch }}
{{- end }}
