{{- if eq .guiServer "W" }}
name: greetd
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-libs/greetd
    - name: gui-apps/regreet
      repo: dynamo
      url: https://gitlab.com/dynamo-config/distro/gentoo-overlay.git
    - name: gui-libs/display-manager-init
    {{- if eq .initSystem "openrc" }}
    - name: sys-auth/seatd
    {{- end }}
  services:
    - name: display-manager
    - name: seatd
  hook:
    after: |-
      sudo gpasswd -a $USER video
      sudo gpasswd -a $USER seat
      sudo gpasswd -a greetd wheel
      sudo gpasswd -a greetd video
      sudo gpasswd -a greetd seat
arch:
  packages:
    - name: greetd
    - name: greetd-regreet
  services:
    - name: greetd
ubuntu:
  packages:
    - name: greetd
  services:
    - name: greetd
alpine: # Not needed
{{- end }}
