{{- if eq .guiServer "W" }}
name: greetd
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-libs/greetd
    - name: gui-apps/regreet
      accept_keywords: |-
        gui-apps/regreet **
  hook:
    after: |-
      sudo rc-update add display-manager default
      sudo rc-service display-manager start
arch:
  packages:
    - name: greetd
    - name: greetd-regreet
  hook:
    after: |-
      sudo systemctl enable greetd
{{- end }}
