{{- if eq .guiServer "W" }}
name: greetd
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-libs/greetd
    - name: gui-apps/regreet
      repo: dynamo
      uri: https://gitlab.com/dynamo-config/distro/gentoo-overlay.git
    - name: gui-libs/display-manager-init
  hook:
    after: |-
      sudo rc-update add display-manager default
      sudo rc-service display-manager start
arch:
  packages:
    - name: greetd
    - name: greetd-regreet
  hook:
    after: |-
      sudo systemctl enable greetd
{{- end }}
