name: docker-buildx
method: binary
github:
  repo: docker/buildx
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "android" }}
  {{- $os = "linux" }}
  {{- end }}
  release_asset: buildx-%v.{{ $os }}-{{ .chezmoi.arch }}
location: {{ .chezmoi.homeDir }}/.docker/cli-plugins
