name: docker-buildx
method: binary
github:
  repo: docker/buildx
  version: v0.25.0-rc1
  release_asset: buildx-%v.{{ .chezmoi.os }}-{{ .chezmoi.arch }}
location: {{ .chezmoi.homeDir }}/.docker/cli-plugins
