name: dog
is_essential: true
method: binary
github:
  repo: dynamotn/dog
  version: latest
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: dog-%v-x86_64-unknown-linux-gnu.tar.gz
  {{- else if eq .chezmoi.arch "arm64" }}
  {{- if eq .chezmoi.os "linux" }}
  release_asset: dog-%v-aarch64-unknown-linux-gnu.tar.gz
  {{- else if eq .chezmoi.os "android" }}
  release_asset: dog-%v-aarch64-linux-android.tar.gz
  {{- end }}
  {{- end }}
archive:
  strip_components: 1
  paths:
    {{- if eq .chezmoi.arch "amd64" }}
    - dog-%v-x86_64-unknown-linux-gnu/dog
    {{- else if eq .chezmoi.arch "arm64" }}
    {{- if eq .chezmoi.os "linux" }}
    - dog-%v-aarch64-unknown-linux-gnu/dog
    {{- else if eq .chezmoi.os "android" }}
    - dog-%v-aarch64-linux-android/dog
    {{- end }}
    {{- end }}
  hook:
    after: |
      {{- if eq .chezmoi.arch "amd64" }}
      suffix=x86_64-unknown-linux-gnu
      {{- else if eq .chezmoi.arch "arm64" }}
      {{- if eq .chezmoi.os "linux" }}
      suffix=aarch64-unknown-linux-gnu
      {{- else if eq .chezmoi.os "android" }}
      suffix=aarch64-linux-android
      {{- end }}
      {{- end }}
      tar $param -C "$MAN_DIR/man1" "dog-$version-$suffix/dog.1"
      if [ -d ~/.config/fish/completions ]; then
        tar $param --strip=2 -C ~/.config/fish/completions dog-$version-$suffix/autocomplete/dog.fish
      fi
      if [ -d ~/Working/personal/fish/caran/completions ]; then
        tar $param --strip=2 -C ~/Working/personal/fish/caran/completions dog-$version-$suffix/autocomplete/dog.fish
      fi
