{{- if eq .mailClient "T" }}
name: thunderbird
method: os
is_essential: true
gentoo:
  packages:
    - name: mail-client/thunderbird-bin
arch:
  packages:
    - name: thunderbird
ubuntu:
  packages:
    - name: thunderbird
alpine:
  packages:
    - name: thunderbird
termux:
  packages:
    - name: thunderbird
macos:
  packages:
    - name: thunderbird
      type: cask
{{- else if eq .mailClient "B" }}
# Only available on Gentoo, Arch, macOS
name: betterbird
is_essential: true
method: os
gentoo:
  packages:
    - name: mail-client/betterbird-bin
arch:
  packages:
    - name: betterbird-bin
macos:
  packages:
    - name: Betterbird
      type: download
      url: https://www.betterbird.eu/downloads/get.php?os=mac{{ if eq .chezmoi.arch "arm64" }}-arm64{{ end }}&lang=en-US&version=release
flatpak:
  packages:
    - name: org.betterbird.Betterbird
{{- end }}
