{{- if eq .guiServer "W" "M" }}
name: thunderbird
method: os
is_essential: true
gentoo:
  packages:
    - name: mail-client/thunderbird-bin
arch:
  packages:
    - name: thunderbird
ubuntu:
  packages:
    - name: thunderbird
macos:
  packages:
    - name: thunderbird
      is_cask: true
{{- end }}
