{{- if eq .guiServer "W" }}
# Only available packages for Gentoo and Arch
name: eww
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-apps/eww
      repo: guru
      url: https://github.com/gentoo-mirror/guru.git
arch:
  packages:
    - name: eww-git
{{- end }}
