{{- if eq .guiServer "W" }}
name: eww
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-apps/eww
      repo: guru
      accept_keywords: |-
        gui-apps/eww **
arch:
  packages:
    - name: eww-git
{{- end }}
