{{- if eq .guiServer "W" }}
name: eww
method: os
gentoo:
  packages:
    - name: gui-apps/eww
      repo: guru
  accept_keywords: |-
    gui-apps/eww **
arch:
  packages:
    - name: eww-git
{{- end }}
