name: eza
is_essential: true
{{- if eq .chezmoi.os "linux" }}
method: binary
github:
  repo: eza-community/eza
  version: latest
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: eza_x86_64-unknown-linux-gnu.tar.gz
  {{- else if eq .chezmoi.arch "arm64" }}
  release_asset: eza_aarch64-unknown-linux-gnu.tar.gz
  {{- end }}
archive:
  paths:
    - ./eza
{{- else if eq .chezmoi.os "android" }}
method: os
termux:
  packages:
    - name: eza
{{- end }}

