name: eza
is_essential: true
{{- if eq .chezmoi.os "android" "darwin" }}
method: os
termux:
  packages:
    - name: eza
macos:
  packages:
    - name: eza
{{- else if eq .chezmoi.os "linux" }}
method: binary
github:
  repo: eza-community/eza
  version: latest
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{- $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{- $arch = "aarch64" }}
  {{- end }}
  release_asset: eza_{{ $arch }}-unknown-linux-gnu.tar.gz
archive:
  - path: ./eza
{{- end }}
