name: fd
is_essential: true
{{- if or (eq .chezmoi.os "android" "darwin") (eq .kind "container") }}
method: os
arch:
  packages:
    - name: fd
termux:
  packages:
    - name: fd
alpine:
  packages:
    - name: fd
macos:
  packages:
    - name: fd
{{- else }}
method: binary
github:
  repo: sharkdp/fd
  version: latest
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{- $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{- $arch = "aarch64" }}
  {{- end }}
  release_asset: fd-%v-{{ $arch }}-unknown-linux-gnu.tar.gz
archive:
  - path: fd-%v-{{ $arch }}-unknown-linux-gnu/fd
    strip: 1
  - path: fd-%v-{{ $arch }}-unknown-linux-gnu/fd.1
    strip: 1
    location: $MAN_DIR/man1
{{- end }}
