name: fd
is_essential: true
{{- if eq .chezmoi.os "linux" }}
method: binary
github:
  repo: sharkdp/fd
  version: latest
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: fd-%v-x86_64-unknown-linux-gnu.tar.gz
  {{- else if eq .chezmoi.arch "arm64" }}
  release_asset: fd-%v-aarch64-unknown-linux-gnu.tar.gz
  {{- end }}
archive:
  strip_components: 1
  paths:
  {{- if eq .chezmoi.arch "amd64" }}
    - fd-%v-x86_64-unknown-linux-gnu/fd
  {{- else if eq .chezmoi.arch "arm64" }}
    - fd-%v-aarch64-unknown-linux-gnu/fd
  {{- end }}
  hook:
    after: |
      {{- if eq .chezmoi.arch "amd64" }}
      arch=x86_64
      {{- else if eq .chezmoi.arch "arm64" }}
      arch=aarch64
      {{- end }}
      tar $param -C "$MAN_DIR/man1" "fd-$version-$arch-unknown-linux-gnu/fd.1"
{{- else if eq .chezmoi.os "android" "darwin" }}
method: os
termux:
  packages:
    - name: fd
macos:
  packages:
    - name: fd
{{- end }}
