{{- if ne .guiServer "0" }}
name: fonts
is_essential: true
method: os
gentoo:
  packages:
    - name: media-fonts/roboto
    - name: media-fonts/noto
    - name: media-fonts/noto-cjk
arch:
  packages:
    - name: ttf-roboto
    - name: noto-fonts
    - name: noto-fonts-cjk
ubuntu:
  packages:
    - name: fonts-roboto
    - name: fonts-noto
    - name: fonts-noto-cjk
macos:
  packages:
    - name: font-roboto
      is_cask: true
    - name: font-noto-serif
      is_cask: true
    - name: font-noto-serif-cjk
      is_cask: true
{{- end }}
