name: gping
is_essential: true
{{- if or (eq .chezmoi.os "darwin" "android") (and (eq .kind "container") (ne .osid "linux-ubuntu")) }}
# Use package manager for Android, macOS and container environments
# cuz it's essential tool
method: os
# https://repology.org/project/gping/versions
arch:
  packages:
    - name: gping
alpine:
  packages:
    - name: gping
termux:
  packages:
    - name: gping
macos:
  packages:
    - name: gping
{{- else }}
method: binary
github:
  repo: orf/gping
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: gping-Linux-gnu-x86_64.tar.gz
  {{- else if eq .chezmoi.arch "arm64" }}
  release_asset: gping-Linux-gnu-arm64.tar.gz
  {{- end }}
archive:
  - path: gping
{{- end }}
