name: grc
is_essential: true
{{- if eq .chezmoi.os "android" }}
method: shell
content: |
  dybatpho::create_temp TEMPDIR ""
  git clone https://github.com/garabik/grc $TEMPDIR
  cd $TEMPDIR
  # Fix shebangs
  find . -type f -exec termux-fix-shebang {} \;
  # Install into $PREFIX
  ./install.sh $PREFIX $PREFIX
  # Copy config files
  mkdir ~/.grc
  cp -r colourfiles ~/.grc
  cp grc.conf ~/.grc
{{- else if eq .chezmoi.os "linux" "darwin" }}
method: os
gentoo:
  packages:
    - name: app-misc/grc
arch:
  packages:
    - name: grc
ubuntu:
  packages:
    - name: grc
macos:
  packages:
    - name: grc
{{- end }}
