{{- if eq .chezmoi.os "linux" }}
name: himalaya
method: binary
{{- if eq .kind "pc" }}
is_essential: true
{{- end }}
github:
  repo: soywod/himalaya
  version: latest
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: himalaya.x86_64-linux.tgz
  {{- else if eq .chezmoi.arch "arm64" }}
  release_asset: himalaya.aarch64-linux.tgz
  {{- end }}
archive:
  paths:
    - himalaya
{{- end }}
