{{- if eq .chezmoi.os "linux" }}
name: himalaya
method: binary
{{- if eq .kind "pc" }}
is_essential: true
{{- end }}
github:
  repo: soywod/himalaya
  version: latest
  release_asset: himalaya-linux.tgz
archive:
  paths:
    - himalaya
{{- end }}
