name: hl
method: binary
github:
  repo: pamburus/hl
  {{- $variant := "" }}
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{- $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{- $arch = "arm64" }}
  {{- end }}
  {{- if eq .chezmoi.os "darwin" }}
  {{- $variant = printf "macos-%s" $arch }}
  {{- else if eq .chezmoi.os "linux" }}
  {{- $variant = printf "linux-%s-gnu" $arch }}
  {{- else if eq .chezmoi.os "android" }}
  {{- $variant = printf "linux-%s-musl" $arch }}
  {{- end }}
  release_asset: hl-{{ $variant }}.tar.gz
archive:
  paths:
    - hl
