{{- if eq .guiWinManager "G" }}
name: ibus-bamboo
method: os
is_essential: true
gentoo:
  packages:
    - name: app-i18n/ibus-bamboo
      repo: dynamo
arch:
  packages:
    - name: ibus-bamboo-git
ubuntu:
  packages:
    - name: ibus-bamboo
      repo: http://ppa.launchpad.net/bamboo-engine/ibus-bamboo/ubuntu
      repo_version: main
      key: 5AD2E0B68A0409AD907D462D36ED424E9659D014
{{- else if eq .guiWinManager "H" }}
name: fcitx-bamboo
method: os
is_essential: true
gentoo:
  packages:
    - name: app-i18n/fcitx-bamboo
      repo: dynamo
arch:
  packages:
    - name: fcitx5-bamboo-git
ubuntu:
  packages:
    - name: fcitx-bamboo
{{- end }}
