name: jira
method: binary
github:
  repo: ankitpokhrel/jira-cli
  version: latest
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "darwin" }}
  {{- $os = "macOS" }}
  {{- else if eq .chezmoi.os "android" }}
  {{- $os = "linux" }}
  {{- end }}
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{- $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{- $arch = "arm64" }}
  {{- end }}
  release_asset: jira_%1v_{{ $os }}_{{ $arch }}.tar.gz
archive:
  - path: jira_%1v_{{ $os }}_{{ $arch }}/bin/jira
    strip: 2
