name: jq
is_essential: true
{{- if or (eq .chezmoi.os "darwin" "android") (eq .kind "container") }}
# Use package manager for Android, macOS and container environments
# cuz it's essential tool
method: os
# https://repology.org/project/jq/versions
arch:
  packages:
    - name: jq
ubuntu:
  packages:
    - name: jq
alpine:
  packages:
    - name: jq
termux:
  packages:
    - name: jq
macos:
  packages:
    - name: jq
{{- else }}
method: binary
github:
  repo: jqlang/jq
  release_asset: jq-linux-{{ .chezmoi.arch }}
{{- end }}
