name: jq
is_essential: true
{{- if eq .chezmoi.os "darwin" "android" }}
method: os
macos:
  packages:
    - name: jq
termux:
  packages:
    - name: jq
{{- else }}
method: binary
github:
  repo: jqlang/jq
  version: latest
  release_asset: jq-linux-{{ .chezmoi.arch }}
{{- end }}
