name: k9s
method: binary
github:
  repo: derailed/k9s
  version: latest
  {{- $os := "" }}
  {{- if eq .chezmoi.os "darwin" }}
  {{- $os = "Darwin" }}
  {{- else if eq .chezmoi.os "linux" }}
  {{- $os = "Linux" }}
  {{- end }}
  release_asset: k9s_{{ $os }}_{{ .chezmoi.arch }}.tar.gz
archive:
  paths:
    - k9s
