{{- if ne .kind "container" }}
name: kernel
method: os
is_essential: true
gentoo:
  packages:
    - name: sys-kernel/genkernel
    - name: sys-kernel/gentoo-sources
    - name: sys-kernel/gentoo-kernel-bin
    - name: sys-kernel/linux-firmware
    - name: sys-kernel/modprobed-db
arch:
  packages:
    - name: linux-hardened
    - name: linux-hardened-headers
    - name: linux-firmware
{{- end }}
