{{- if eq .guiServer "W" }}
name: wtype
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-apps/wtype
arch:
  packages:
    - name: wtype
ubuntu:
  packages:
    - name: wtype
{{- end }}
