{{- if eq .guiServer "X" }}
name: xdotool
method: os
is_essential: true
gentoo:
  packages:
    - name: x11-misc/xdotool
arch:
  packages:
    - name: xdotool
ubuntu:
  packages:
    - name: xdotool
{{- else if eq .guiServer "W" }}
name: wtype
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-apps/wtype
      accept_keywords: |-
        gui-apps/wtype ~amd64
arch:
  packages:
    - name: wtype
ubuntu:
  packages:
    - name: wtype
{{- end }}
