name: kubescape
method: binary
github:
  repo: kubescape/kubescape
  version: latest
  {{- $os := "" }}
  {{- if eq .chezmoi.os "linux" }}
  {{- $os = "ubuntu" }}
  {{- else if eq .chezmoi.os "darwin" }}
  {{- $os = "macos" }}
  {{- end }}
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "arm64" }}
  {{- $arch = "arm64-" }}
  {{- end }}
  release_asset: kubescape-{{ $arch }}{{ $os }}-latest
