name: kubescape
method: binary
github:
  repo: kubescape/kubescape
  version: latest
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: kubescape-ubuntu-latest
  {{- else if eq .chezmoi.arch "arm64" }}
  release_asset: kubescape-arm64-ubuntu-latest
  {{- end }}
