{{- if eq .guiServer "W" }}
name: wofi
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-apps/wofi
arch:
  packages:
    - name: wofi
ubuntu:
  packages:
    - name: wofi
{{- else if eq .guiServer "M" }}
name: raycast
method: os
is_essential: true
macos:
  packages:
    - name: raycast
      is_cask: true
{{- end }}
