{{- if eq .guiServer "X" }}
name: rofi
method: os
gentoo:
  packages:
    - name: x11-misc/rofi
arch:
  packages:
    - name: rofi
ubuntu:
  packages:
    - name: rofi
{{- else if eq .guiServer "W" }}
name: wofi
method: os
gentoo:
  packages:
    - name: gui-apps/wofi
arch:
  packages:
    - name: wofi
ubuntu:
  packages:
    - name: wofi
{{- end }}
