{{- if eq .guiServer "W" }}
name: wofi
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-apps/wofi
arch:
  packages:
    - name: wofi
ubuntu:
  packages:
    - name: wofi
{{- else if eq .guiServer "M" }}
name: raycast
method: os
is_essential: true
macos:
  packages:
    - name: raycast
      type: cask
  hook:
    after: |-
      /usr/bin/osascript -e 'tell application "System Events" to make new login item at end with properties {name:"Raycast.app", path:"/Applications/Raycast.app", kind:"Application", hidden:true}'
{{- end }}
