name: ltcc
method: binary
github:
  repo: dustinblackman/languagetool-code-comments
  release_asset: languagetool-code-comments_%1v_linux_{{ .chezmoi.arch }}.tar.gz
archive:
  paths:
    - languagetool-code-comments
  hook:
    after: |
      mv ~/.local/bin/languagetool-code-comments ~/.local/bin/ltcc
