name: ltcc
method: binary
github:
  repo: dustinblackman/languagetool-code-comments
  release_asset: languagetool-code-comments_%1v_linux_{{ .chezmoi.arch }}.tar.gz
archive:
  paths:
    - languagetool-code-comments
  hook:
    after: |
      if [ -d ~/.config/fish/completions ]; then
        tar $param --strip=1 -C ~/.config/fish/completions completions/languagetool-code-comments.fish
      fi
      if [ -d ~/Working/personal/fish/caran/completions ]; then
        tar $param --strip=1 -C ~/Working/personal/fish/caran/completions completions/languagetool-code-comments.fish
      fi
      mv ~/.local/bin/languagetool-code-comments ~/.local/bin/ltcc
