{{- if ne .guiServer "0" }}
name: mpv
method: os
# https://repology.org/project/mpv/versions
gentoo:
  packages:
    - name: media-video/mpv
arch:
  packages:
    - name: mpv
ubuntu:
  packages:
    - name: mpv
alpine:
  packages:
    - name: mpv
macos:
  packages:
    - name: mpv
{{- end }}
