name: navi
{{- if or (eq .chezmoi.os "darwin" "android") (eq .kind "container") }}
method: os
is_essential: true
macos:
  packages:
    - name: navi
termux:
  packages:
    - name: navi
arch:
  packages:
    - name: navi
{{- else }}
method: binary
is_essential: true
github:
  repo: denisidoro/navi
  version: latest
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: navi-%v-x86_64-unknown-linux-musl.tar.gz
  {{- else if eq .chezmoi.arch "arm64" }}
  {{- if eq .chezmoi.os "linux" }}
  release_asset: navi-%v-aarch64-unknown-linux-gnu.tar.gz
  {{- else if eq .chezmoi.os "android" }}
  release_asset: navi-%v-aarch64-linux-android.tar.gz
  {{- end }}
  {{- end }}
archive:
  paths:
    - ./navi
{{- end }}
