{{- if and (eq .chezmoi.os "linux") (ne .kind "container") }}
name: networkmanager
method: os
# https://repology.org/project/networkmanager/versions
is_essential: true
gentoo:
  packages:
    - name: net-misc/networkmanager
  services:
    - name: NetworkManager
  hook:
    before: |-
      sudo rc-update del dhcpcd default
    after: |-
      sudo usermod -aG plugdev $USER
arch:
  packages:
    - name: networkmanager
  services:
    - name: NetworkManager
ubuntu:
  packages:
    - name: network-manager
  services:
    - name: NetworkManager
alpine:
  packages:
    - name: networkmanager
  services:
    - name: NetworkManager
{{- end }}
