{{- if eq .kind "pc" "laptop" }}
name: obsidian
method: os
is_essential: true
gentoo:
  packages:
    - name: app-office/obsidian
      accept_keywords: |-
        app-office/obsidian ~amd64
arch:
  packages:
    - name: obsidian
    - name: electron30
{{- end }}
