{{- if eq .guiServer "W" "M" }}
name: obsidian
method: os
is_essential: true
gentoo:
  packages:
    - name: app-office/obsidian
arch:
  packages:
    - name: obsidian
    - name: electron
macos:
  packages:
    - name: obsidian
      is_cask: true
{{- end }}
