{{- if eq .guiServer "X" "W" }}
name: nvtop
method: os
gentoo:
  packages:
    - name: sys-process/nvtop
  accept_keywords: |-
    sys-process/nvtop ~amd64
  use: |-
    sys-process/nvtop video_cards_{{ if eq .guiDriver "N" }}nvidia{{ else if eq .guiDriver "A" }}amdgpu{{ else if eq .guiDriver "I" }}intel{{ end }}
arch:
  packages:
    - name: nvtop
ubuntu:
  packages:
    - name: nvtop
{{- end }}
