{{- if eq .guiServer "W" }}
name: nvtop
method: os
gentoo:
  packages:
    - name: sys-process/nvtop
arch:
  packages:
    - name: nvtop
ubuntu:
  packages:
    - name: nvtop
macos:
  packages:
    - name: nvtop
{{- end }}
