name: ollama
method: os
gentoo:
  packages:
    - name: app-misc/ollama
  services:
    - name: ollama
  hook:
    after: |-
      sudo gpasswd -a ollama video
arch:
  packages:
    {{- if eq .guiDriver "N" }}
    - name: ollama-cuda
    {{- else if eq .guiDriver "A" }}
    - name: ollama-rocm
    {{- else }}
    - name: ollama
    {{- end }}
  services:
    - name: ollama
macos:
  packages:
    - name: ollama
  services:
    - name: ollama
