name: ollama
method: os
gentoo:
  packages:
    - name: app-misc/ollama
      accept_keywords: |-
        app-misc/ollama **
  hook:
    after: |-
      sudo rc-update add ollama default
      sudo rc-service ollama start
arch:
  packages:
    {{- if eq .guiServer "W" }}
    {{- if eq .guiDriver "I" }}
    - name: ollama
    {{- else if eq .guiDriver "N" }}
    - name: ollama-cuda
    {{- else if eq .guiDriver "A" }}
    - name: ollama-rocm
    {{- end }}
    {{- else }}
    - name: ollama
    {{- end }}
  hook:
    after: |-
      sudo systemctl enable --now ollama
