name: pastel
{{- if or (eq .chezmoi.os "android" "darwin") (eq .kind "container") }}
method: os
termux:
  packages:
    - name: pastel
{{- else }}
method: binary
github:
  repo: sharkdp/pastel
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{- $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{- $arch = "aarch64" }}
  {{- end }}
  release_asset: pastel-%v-{{ $arch }}-unknown-linux-gnu.tar.gz
archive:
  - path: pastel-%v-{{ $arch }}-unknown-linux-gnu/pastel
    strip: 1
  - path: pastel-%v-{{ $arch }}-unknown-linux-gnu/autocomplete/pastel.fish
    location: $HOME/.config/fish/completions
    strip: 2
{{- end }}
