{{- if eq .chezmoi.arch "amd64" }}
name: patat
method: binary
github:
  repo: jaspervdj/patat
  release_asset: patat-%v-linux-x86_64.tar.gz
archive:
  strip_components: 1
  paths:
    - patat-%v-linux-x86_64/patat
hook:
  after: |
    tar ${param[@]} -C "$MAN_DIR/man1" "patat-$version-linux-x86_64/patat.1"
{{- end }}
