name: pint
method: binary
github:
  repo: cloudflare/pint
  release_asset: pint-%1v-linux-{{ .chezmoi.arch }}.tar.gz
archive:
  paths:
    - pint-linux-{{ .chezmoi.arch }}
hook:
  after: |
    mv ~/.local/bin/pint-linux-{{ .chezmoi.arch }} ~/.local/bin/pint
