{{- if .hasSound }}
name: playerctl
method: os
is_essential: true
gentoo:
  packages:
    - name: media-sound/playerctl
arch:
  packages:
    - name: playerctl
ubuntu:
  packages:
    - name: playerctl
{{- end }}
