{{- if and (eq .kind "pc" "laptop") (eq .chezmoi.os "linux") }}
# Not needed on Android and MacOS
name: pomodoro
method: binary
is_essential: true
github:
  repo: open-pomodoro/openpomodoro-cli
  release_asset: openpomodoro-cli_%1v_linux_{{ .chezmoi.arch }}.tar.gz
archive:
  - path: pomodoro
{{- end }}
