{{- if eq .kind "pc" "laptop" }}
name: pomodoro
method: binary
is_essential: true
{{- if eq .chezmoi.os "linux" "android" }}
github:
  repo: open-pomodoro/openpomodoro-cli
  release_asset: openpomodoro-cli_%1v_linux_{{ .chezmoi.arch }}.tar.gz
archive:
  paths:
    - pomodoro
{{- end }}
{{- end }}
