name: projekt
method: binary
github:
  repo: dynamotn/projekt
  version: latest
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: projekt_%1v_Linux_x86_64.tar.gz
  {{- else if eq .chezmoi.arch "arm64" }}
  release_asset: projekt_%1v_Linux_arm64.tar.gz
  {{- end }}
archive:
  paths:
    - projekt
    - t
    - b
