name: projekt
method: binary
{{- if eq .kind "pc" "laptop" "container" "vm" }}
is_essential: true
{{- end }}
github:
  repo: dynamotn/projekt
  version: latest
  release_asset: projekt_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz
archive:
  paths:
    - projekt
    - t
    - b
