{{- if eq .chezmoi.arch "amd64" }}
name: rbw
method: binary
is_essential: true
github:
  repo: doy/rbw
  version: latest
  release_asset: rbw_%v_linux_amd64.tar.gz
archive:
  paths:
    - rbw
    - rbw-agent
  hook:
    after: |
      if [ -d ~/.config/fish/completions ]; then
        rbw gen-completions fish > ~/.config/fish/completions/rbw.fish
      fi
      if [ -d ~/Working/personal/fish/caran/completions ]; then
        rbw gen-completions fish > ~/Working/personal/fish/caran/completions/rbw.fish
      fi
{{- end }}
