{{- if ne .kind "container" }}
name: rbw
is_essential: true
{{-   if eq .chezmoi.os "linux" }}
method: binary
github:
  repo: doy/rbw
  version: latest
  release_asset: rbw_%v_linux_amd64.tar.gz
archive:
  - path: rbw
  - path: rbw-agent
{{-   else if eq .chezmoi.os "darwin" }}
method: os
macos:
  packages:
    - name: rbw
{{-   end }}
{{- end }}
