name: rbw
method: binary
is_essential: true
github:
  repo: dynamotn/rbw
  version: v1.7.0
  release_asset: rbw_%v_x86_64-unknown-linux-musl.tar.gz
archive:
  paths:
    - rbw
    - rbw-agent
  hook:
    after: |
      if [ -d ~/.config/fish/completions ]; then
        rbw gen-completions fish > ~/.config/fish/completions/rbw.fish
      fi
      if [ -d ~/Working/personal/fish/caran/completions ]; then
        rbw gen-completions fish > ~/Working/personal/fish/caran/completions/rbw.fish
      fi
