{{- if eq .guiServer "X" }}
name: redshift
method: os
gentoo:
  packages:
    - name: x11-misc/redshift
arch:
  packages:
    - name: redshift-minimal
ubuntu:
  packages:
    - name: redshift-minimal
{{- end }}
