name: restic
method: binary
github:
  repo: restic/restic
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "android" }}
  {{- $os = "linux" }}
  {{- end }}
  release_asset: restic_%1v_{{ $os }}_{{ .chezmoi.arch }}.bz2
