name: rg
is_essential: true
{{- if eq .chezmoi.os "linux" }}
method: binary
github:
  repo: BurntSushi/ripgrep
  version: latest
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: ripgrep-%v-x86_64-unknown-linux-musl.tar.gz
  {{- else if eq .chezmoi.arch "arm64" }}
  release_asset: ripgrep-%v-arm-unknown-linux-gnueabihf.tar.gz
  {{- end }}
archive:
  strip_components: 1
  paths:
  {{- if eq .chezmoi.arch "amd64" }}
    - ripgrep-%v-x86_64-unknown-linux-musl/rg
  {{- else if eq .chezmoi.arch "arm64" }}
    - ripgrep-%v-arm-unknown-linux-gnueabihf/rg
  {{- end }}
  hook:
    after: |
      {{- if eq .chezmoi.arch "amd64" }}
      arch=x86_64
      libc=musl
      {{- else if eq .chezmoi.arch "arm64" }}
      arch=aarch64
      libc=gnueabihf
      {{- end }}
      tar $param --strip=2 -C "$MAN_DIR/man1" "ripgrep-$version-$arch-unknown-linux-$libc/doc/rg.1"
{{- else if eq .chezmoi.os "android" "darwin" }}
method: os
termux:
  packages:
    - name: ripgrep
macos:
  packages:
    - name: ripgrep
{{- end }}
