name: rg
is_essential: true
{{- if or (eq .chezmoi.os "android" "darwin") (eq .kind "container") }}
method: os
termux:
  packages:
    - name: ripgrep
macos:
  packages:
    - name: ripgrep
arch:
  packages:
    - name: ripgrep
{{- else }}
method: binary
github:
  repo: BurntSushi/ripgrep
  version: latest
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: ripgrep-%v-x86_64-unknown-linux-musl.tar.gz
  {{- else if eq .chezmoi.arch "arm64" }}
  release_asset: ripgrep-%v-arm-unknown-linux-gnueabihf.tar.gz
  {{- end }}
archive:
  strip_components: 1
  paths:
  {{- if eq .chezmoi.arch "amd64" }}
    - ripgrep-%v-x86_64-unknown-linux-musl/rg
  {{- else if eq .chezmoi.arch "arm64" }}
    - ripgrep-%v-arm-unknown-linux-gnueabihf/rg
  {{- end }}
hook:
  after: |
    {{- if eq .chezmoi.arch "amd64" }}
    arch=x86_64
    libc=musl
    {{- else if eq .chezmoi.arch "arm64" }}
    arch=aarch64
    libc=gnueabihf
    {{- end }}
    tar ${param[@]} --strip=2 -C "$MAN_DIR/man1" "ripgrep-$version-$arch-unknown-linux-$libc/doc/rg.1"
{{- end }}
