{{- if eq .kind "pc" "laptop" }}
name: rustdesk
is_essential: true
method: os
arch:
  packages:
    - name: rustdesk-bin
macos:
  packages:
    - name: rustdesk
      type: cask
gentoo:
  packages:
    - name: net-misc/rustdesk
      repo: gentoo-zh
      url: https://github.com/gentoo-mirror/gentoo-zh.git
{{- end }}
