{{- if eq .guiServer "W" }}
{{- if eq .guiWinManager "H" }}
name: hyprshade
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-apps/hyprshade
      repo: guru
      accept_keywords: |-
        gui-apps/hyprshade ~amd64
        dev-python/chevron ~amd64
arch:
  packages:
    - name: hyprshade
{{- end }}
{{- end }}
