{{- if eq .guiWinManager "H" }}
name: hyprshade
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-apps/hyprshade
      repo: guru
      uri: https://github.com/gentoo-mirror/guru.git
arch:
  packages:
    - name: hyprshade
{{- end }}
