{{- if eq .guiServer "X" }}
name: xss-lock
method: os
is_essential: true
gentoo:
  packages:
    - name: x11-misc/xss-lock
arch:
  packages:
    - name: xss-lock
ubuntu:
  packages:
    - name: xss-lock
{{- else if eq .guiServer "W" }}
name: hyprlock
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-apps/hyprlock
      accept_keywords: gui-apps/hyprlock ~amd64
arch:
  packages:
    - name: hyprlock
{{- end }}
