{{- if eq .guiServer "X" }}
name: xss-lock
method: os
is_essential: true
gentoo:
  packages:
    - name: x11-misc/xss-lock
arch:
  packages:
    - name: xss-lock
ubuntu:
  packages:
    - name: xss-lock
{{- else if eq .guiServer "W" }}
name: swaylock
method: os
is_essential: true
gentoo:
  packages:
    - name: x11-base/xorg-proto
    - name: gui-apps/swaylock-effects
      accept_keywords: gui-apps/swaylock-effects **
    - name: gui-apps/swayidle
arch:
  packages:
    - name: swaylock-effects
    - name: swayidle
{{- end }}
