{{- if eq .guiServer "W" }}
name: hyprlock
method: os
{{-   if not (and (eq .kind "pc") (eq .place "home")) }}
is_essential: true
{{-   end }}
gentoo:
  packages:
    - name: gui-apps/hyprlock
arch:
  packages:
    - name: hyprlock
{{- end }}
