{{- if eq .guiWinManager "A" }}
name: sketchybar
method: os
is_essential: true
macos:
  packages:
    - name: sketchybar
  hook:
    before: |-
      brew tap FelixKratz/formulae
    after: |-
      brew services start sketchybar
{{- end }}
