{{- if .hasSound }}
name: pipewire
method: os
is_essential: true
gentoo:
  packages:
    - name: media-video/pipewire
      use: |-
        media-video/pipewire sound-server bluetooth pipewire-alsa dbus
      accept_keywords:
        media-video/pipewire ~amd64
    - name: media-video/wireplumber
      use: |-
        media-video/wireplumber elogind
arch:
  packages:
    - name: pipewire
    - name: wireplumber
    - name: pipewire-audio
    - name: pipewire-pulse
    - name: pipewire-alsa
{{- end }}
