{{- if .hasSound }}
name: pipewire
method: os
is_essential: true
gentoo:
  packages:
    - name: media-video/pipewire
    - name: media-video/wireplumber
arch:
  packages:
    - name: pipewire
    - name: wireplumber
    - name: pipewire-audio
    - name: pipewire-pulse
    - name: pipewire-alsa
    # Sound firmware
    {{- if and (eq .kind "laptop") (eq .place "office") }}
    - name: sof-firmware
    - name: alsa-firmware
    {{- end }}
{{- end }}
