{{- if eq .guiServer "W" }}
name: swaync
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-apps/swaync
      repo: guru
      uri: https://github.com/gentoo-mirror/guru.git
arch:
  packages:
    - name: swaync
{{- end }}
