{{- if eq .guiServer "W" }}
name: swww
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-apps/swww
      repo: guru
      url: https://github.com/gentoo-mirror/guru.git
arch:
  packages:
    - name: swww
{{- end }}
