{{- if eq .guiServer "W" }}
name: swww
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-apps/swww
      repo: dynamo
      accept_keywords: |-
        gui-apps/swww ~amd64
arch:
  packages:
    - name: swww
{{- end }}
