{{- if eq .kind "pc" "laptop" }}
name: tailscale
method: os
is_essential: true
gentoo:
  packages:
    - name: net-vpn/tailscale
  hook:
    after: |-
      sudo rc-update add tailscale default
      sudo rc-service tailscale restart
      sudo tailscale up
arch:
  packages:
    - name: tailscale
  hook:
    after: |-
      sudo systemctl enable --now tailscaled
      sudo tailscale up
macos:
  packages:
    - name: tailscale
      is_cask: true
{{- end }}
