name: d2plugin-tala
method: binary
github:
  repo: terrastruct/TALA
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "android" }}
  {{- $os = "linux" }}
  {{- end }}
  release_asset: tala-%v-{{ $os }}-{{ .chezmoi.arch }}.tar.gz
archive:
  - path: tala-%v/bin/d2plugin-tala
    strip: 2
  - path: tala-%v/man/tala.1
    strip: 2
    location: $MAN_DIR/man1
  - path: tala-%v/man/d2plugin-tala.1
    strip: 2
    location: $MAN_DIR/man1
