name: task
method: binary
github:
  repo: go-task/task
  release_asset: task_linux_{{ .chezmoi.arch }}.tar.gz
archive:
  paths:
    - task
  hook:
    after: |
      if [ -d ~/.config/fish/completions ]; then
        tar $param --strip=2 -C ~/.config/fish/completions completion/fish/task.fish
      fi
      if [ -d ~/working/personal/fish/caran/completions ]; then
        tar $param --strip=2 -c ~/working/personal/fish/caran/completions completion/fish/task.fish
      fi
