name: termshark
method: binary
github:
  repo: gcla/termshark
  version: latest
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: termshark_%1v_linux_x64.tar.gz
  {{- else if eq .chezmoi.arch "arm64" }}
  release_asset: termshark_%1v_linux_arm64.tar.gz
  {{- end }}
archive:
  strip_components: 1
  paths:
    {{- if eq .chezmoi.arch "amd64" }}
    - termshark_%1v_linux_x64/termshark
    {{- else if eq .chezmoi.arch "arm64" }}
    - termshark_%1v_linux_arm64/termshark
    {{- end }}
