{{- if eq .terminalMultiplexer "T" }}
name: tmux
method: os
is_essential: true
gentoo:
  packages:
    - name: app-misc/tmux
arch:
  packages:
    - name: tmux
ubuntu:
  packages:
    - name: tmux
termux:
  packages:
    - name: tmux
alpine:
  packages:
    - name: tmux
{{- else if eq .terminalMultiplexer "Z" }}
name: zellij
is_essential: true
{{- if ne .osid "linux-ubuntu" }}
method: os
gentoo:
  packages:
    - name: app-misc/zellij
arch:
  packages:
    - name: zellij
termux:
  packages:
    - name: zellij
macos:
  packages:
    - name: zellij
alpine:
  packages:
    - name: zellij
{{- else }}
method: shell
dependencies:
  - rust
content: cargo install --locked zellij
{{- end }}
{{- end }}
