{{- if eq .guiServer "W" "X" "M" }}
name: kitty
method: os
is_essential: true
gentoo:
  packages:
    - name: x11-terms/kitty
arch:
  packages:
    - name: kitty
ubuntu:
  packages:
    - name: kitty
macos:
  packages:
    - name: kitty
      is_cask: true
{{- end }}
