{{- if eq .guiServer "X" "W" }}
name: thunderbird
method: os
gentoo:
  packages:
    - name: mail-client/thunderbird-bin
arch:
  packages:
    - name: thunderbird
ubuntu:
  packages:
    - name: thunderbird
{{- end }}
