{{- if eq .chezmoi.os "linux" }}
name: tokei
method: binary
github:
  repo: XAMPPRocky/tokei
  version: latest
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: tokei-x86_64-unknown-linux-gnu.tar.gz
  {{- else if eq .chezmoi.arch "arm64" }}
  release_asset: tokei-aarch64-unknown-linux-gnu.tar.gz
  {{- end }}
archive:
  paths:
    - tokei
{{- end }}
