name: trippy
method: binary
github:
  repo: fujiapple852/trippy
  {{- $os := "" }}
  {{- $arch := "" }}
  {{- if eq .chezmoi.os "darwin" }}
  {{- $os = "apple-darwin" }}
  {{- else if eq .chezmoi.os "linux" "android" }}
  {{- $os = "unknown-linux-gnu" }}
  {{- end }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{- $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{- $arch = "aarch64" }}
  {{- end }}
  release_asset: trippy-%v-{{ $arch }}-{{ $os }}.tar.gz
archive:
  - path: trippy-%v-{{ $arch }}-{{ $os }}/trip
    strip: 1
hook:
  after: |
    mv ~/.local/bin/trip ~/.local/bin/trippy
