name: vale
method: binary
{{- if eq .kind "pc" }}
is_essential: true
{{- end }}
github:
  repo: errata-ai/vale
  version: latest
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: vale_%1v_Linux_64-bit.tar.gz
  {{- else if eq .chezmoi.arch "arm64" }}
  release_asset: vale_%1v_Linux_arm64.tar.gz
  {{- end }}
archive:
  paths:
    - vale
