name: vivid
is_essential: true
{{- if or (eq .chezmoi.os "android" "darwin") (eq .kind "container") }}
method: os
arch:
  packages:
    - name: vivid
termux:
  packages:
    - name: vivid
alpine:
  packages:
    - name: vivid
macos:
  packages:
    - name: vivid
{{- else }}
method: binary
github:
  repo: sharkdp/vivid
  version: latest
  {{- $arch := "" }}
  {{- if eq .chezmoi.arch "amd64" }}
  {{- $arch = "x86_64" }}
  {{- else if eq .chezmoi.arch "arm64" }}
  {{- $arch = "aarch64" }}
  {{- end }}
  release_asset: vivid-%v-{{ $arch }}-unknown-linux-gnu.tar.gz
archive:
  - path: vivid-%v-{{ $arch }}-unknown-linux-gnu/vivid
    strip: 1
{{- end }}
