{{- if eq .kind "laptop" }}
name: vmware-horizon-client
is_essential: true
method: os
arch:
  packages:
    - name: vmware-horizon-client
macos:
  packages:
    - name: omnissa-horizon-client
      is_cask: true
gentoo:
  packages:
    - name: app-emulation/vmware-horizon-client-bin
      repo: zGentoo
{{- end }}
