{{- if eq .kind "laptop" }}
name: vmware-horizon-client
is_essential: true
method: os
# https://repology.org/project/watchexec/versions
gentoo:
  packages:
    - name: app-emulation/vmware-horizon-client-bin
      repo: zGentoo
arch:
  packages:
    - name: vmware-horizon-client
macos:
  packages:
    - name: omnissa-horizon-client
      type: cask
{{- end }}
