{{- if and (eq .guiServer "W") (eq .kind "laptop") }}
name: wdisplays
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-apps/wdisplays
      accept_keywords: |-
        gui-apps/wdisplays ~amd64
arch:
  packages:
    - name: wdisplays
{{- end }}
