{{- if and (eq .guiServer "W") (eq .kind "laptop") }}
# Use wdisplays only on my laptop (Gentoo and Arch)
name: wdisplays
method: os
# https://repology.org/project/wdisplays/versions
is_essential: true
gentoo:
  packages:
    - name: gui-apps/wdisplays
arch:
  packages:
    - name: wdisplays
{{- end }}
