{{- if eq .browser "F" }}
name: firefox
method: os
is_essential: true
gentoo:
  packages:
    - name: www-client/firefox-bin
arch:
  packages:
    - name: firefox
ubuntu:
  packages:
    - name: firefox
macos:
  packages:
    - name: firefox
{{- else if eq .browser "Z" }}
name: zen-browser
method: os
is_essential: true
gentoo:
  packages:
    - name: www-client/zen-bin
      repo: guru
      uri: https://github.com/gentoo-mirror/guru.git
arch:
  packages:
    - name: zen-browser-bin
macos:
  packages:
    - name: zen
      type: cask
{{- end }}
