{{- if eq .guiServer "X" "W" }}
name: firefox
method: os
is_essential: true
gentoo:
  packages:
    - name: www-client/firefox
arch:
  packages:
    - name: firefox
ubuntu:
  packages:
    - name: firefox
{{- end }}
