name: websocat
method: binary
github:
  repo: vi/websocat
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: websocat.x86_64-unknown-linux-musl
  {{- else if eq .chezmoi.arch "arm64" }}
  {{- if eq .chezmoi.os "linux" }}
  release_asset: websocat.aarch64-unknown-linux-musl
  {{- else if eq .chezmoi.os "android" }}
  release_asset: websocat.aarch64-linux-android
  {{- end }}
  {{- end }}
