{{- if eq .guiWinManager "H" }}
name: hyprland
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-wm/hyprland
    - name: x11-libs/xcb-util
    {{- if ne .place "home" }}
    - name: gui-apps/hypridle
    {{- end }}
arch:
  packages:
    {{- if eq .guiDriver "N" }}
    - name: hyprland-nvidia-git
    {{- else }}
    - name: hyprland
    {{- end }}
    - name: xdg-desktop-portal-wlr
    - name: xdg-desktop-portal-hyprland
    {{- if ne .place "home" }}
    - name: hypridle
    {{- end }}
    - name: cpio
    - name: cmake
    - name: meson
{{- else if eq .guiWinManager "A" }}
name: aerospace
is_essential: true
method: os
macos:
  packages:
    - name: nikitabobko/tap/aerospace
      type: cask
    - name: autoraise
      unstable: true
  hook:
    before: |-
      brew tap dimentium/autoraise
    after: |-
      /usr/bin/osascript -e 'tell application "System Events" to make new login item at end with properties {name:"Aerospace.app", path:"/Applications/Aerospace.app", kind:"Application", hidden:true}'
      brew services start autoraise
{{- end }}
