{{- if eq .guiServer "X" }}
name: awesome
method: os
is_essential: true
gentoo:
  packages:
    - name: x11-wm/awesome
arch:
  packages:
    - name: awesome-git
ubuntu:
  packages:
    - name: awesome
{{- else if eq .guiServer "W" }}
name: hyprland
method: os
is_essential: true
gentoo:
  packages:
    - name: gui-wm/hyprland
      accept_keywords: |-
        gui-wm/hyprland ~amd64
        dev-util/hyprwayland-scanner ~amd64
        dev-libs/wayland-protocols ~amd64
        gui-libs/aquamarine ~amd64
        gui-libs/hyprutils ~amd64
        gui-libs/xdg-desktop-portal-hyprland ~amd64
        dev-cpp/sdbus-c++ ~amd64
    - name: gui-libs/xdg-desktop-portal-hyprland
    - name: x11-libs/xcb-util
arch:
  packages:
    {{- if eq .guiDriver "N" }}
    - name: hyprland-nvidia-git
    {{- else }}
    - name: hyprland-git
    {{- end }}
    - name: xdg-desktop-portal-wlr
    - name: xdg-desktop-portal-hyprland-git
{{- end }}
