name: wireguard
method: os
# https://repology.org/project/wireguard-tools/versions
gentoo:
  packages:
    - name: net-vpn/wireguard-tools
arch:
  packages:
    - name: wireguard-tools
ubuntu:
  packages:
    - name: wireguard-tools
alpine:
  packages:
    - name: wireguard-tools
termux:
  packages:
    - name: wireguard-tools
macos:
  packages:
    - name: wireguard-tools
