name: wtf
method: binary
github:
  repo: wtfutil/wtf
  {{- $os := .chezmoi.os }}
  {{- if eq .chezmoi.os "android" }}
  {{- $os = "linux" }}
  {{- end }}
  release_asset: wtf_%1v_{{ $os }}_{{ .chezmoi.arch }}.tar.gz
archive:
  - path: wtf_%1v_{{ $os }}_{{ .chezmoi.arch }}/wtfutil
    strip: 1
hook:
  after: |
    mv ~/.local/bin/wtfutil ~/.local/bin/wtf
