name: wtf
method: binary
github:
  repo: wtfutil/wtf
  release_asset: wtf_%1v_linux_{{ .chezmoi.arch }}.tar.gz
archive:
  paths:
    - wtf_%1v_linux_{{ .chezmoi.arch }}/wtfutil
  strip_components: 1
hook:
  after: |
    mv ~/.local/bin/wtfutil ~/.local/bin/wtf
