{{- if eq .guiServer "W" }}
name: xdg-user-dirs
method: os
is_essential: true
gentoo:
  packages:
    - name: x11-misc/xdg-user-dirs
arch:
  packages:
    - name: xdg-user-dirs
ubuntu:
  packages:
    - name: xdg-user-dirs
{{- end }}
