name: zoxide
{{- if or (eq .chezmoi.os "darwin" "android") (eq .kind "container") }}
method: os
is_essential: true
macos:
  packages:
    - name: direnv
termux:
  packages:
    - name: direnv
arch:
  packages:
    - name: direnv
{{- else }}
method: binary
is_essential: true
github:
  repo: ajeetdsouza/zoxide
  {{- if eq .chezmoi.arch "amd64" }}
  release_asset: zoxide-%1v-x86_64-unknown-linux-musl.tar.gz
  {{- else if eq .chezmoi.arch "arm64" }}
  release_asset: zoxide-%1v-aarch64-unknown-linux-musl.tar.gz
  {{- end }}
archive:
  paths:
    - zoxide
  hook:
    after: |
      tar $param --strip=2 -C "$MAN_DIR/man1" --wildcards man/man1/*
      if [ -d ~/.config/fish/completions ]; then
        tar $param --strip=1 -C ~/.config/fish/completions completions/zoxide.fish
      fi
      if [ -d ~/Working/personal/fish/caran/completions ]; then
        tar $param --strip=1 -C ~/Working/personal/fish/caran/completions completions/zoxide.fish
      fi
{{- end }}
