[env]
{{ $top := merge . (dict "enterprise" "F1") }}
{{- if ne .kind "container" }}
{{- template "mise/env_git.toml.tmpl" $top }}
{{- end }}
{{- if ne .kind "container" }}
{{- template "mise/env_proxy.toml.tmpl" $top }}
{{- end }}
