{{- $configPath := joinPath .chezmoi.homeDir ".config/firefox/profiles" }}

{{- $path := "" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   if eq .browser "F" }}
{{-     $path = printf "/Applications/%s.app/Contents/MacOS" "Firefox" }}
{{-   else if eq .browser "Z" }}
{{-     $path = printf "/Applications/%s.app/Contents/MacOS" "Zen" }}
{{-   end }}
{{- else if eq .chezmoi.os "linux" }}
{{-   if eq .browser "F" }}
{{-     if eq .osid "linux-gentoo" }}
{{-       $path = "/opt/firefox" }}
{{-     else }}
{{-       $path = "/usr/lib/firefox" }}
{{-     end }}
{{-   else if eq .browser "Z" }}
{{-     if eq .osid "linux-gentoo" }}
{{-       $path = "/opt/zen" }}
{{-     else if eq .osid "linux-ubuntu" }}
{{-       $path = "/app/zen" }}
{{-     else }}
{{-       $path = "/opt/zen-browser-bin" }}
{{-     end -}}
{{-   end -}}
{{- end -}}
{{- $releaseId := mozillaInstallHash $path }}
[Install{{- $releaseId -}}]
{{- if eq .kind "container" }}
Default={{- $configPath }}/public
{{- else if eq .place "office" }}
Default={{ $configPath }}/enterprise-{{ .company }}
{{- else }}
Default={{ $configPath }}/personal
{{- end }}
Locked=1

{{ $index := 0 }}
[Profile{{ $index }}]
Name=Public
IsRelative=0
Path={{ $configPath }}/public

{{  if .decryptPersonal }}
{{- $index = add1 $index }}
[Profile{{ $index }}]
Name=Personal
IsRelative=0
Path={{ $configPath }}/personal
{{- end }}

{{  range .decryptEnterprise }}
{{- $index = add1 $index }}
[Profile{{ $index }}]
Name=Enterprise-{{ . }}
IsRelative=0
Path={{ $configPath }}/enterprise-{{ . }}
{{- end }}

[General]
StartWithLastProfile=1
Version=2
