{{- $configPath := joinPath .chezmoi.homeDir ".config/firefox/profiles" }}

{{- $settings := includeTemplate "firefox/settings.yaml.tmpl" . | fromYaml }}
{{- $releaseId := mozillaInstallHash $settings.installFolder }}
[Install{{- $releaseId -}}]
{{- if eq .kind "container" }}
Default={{- $configPath }}/public
{{- else if eq .place "office" }}
Default={{ $configPath }}/enterprise-{{ .company }}
{{- else }}
Default={{ $configPath }}/personal
{{- end }}
Locked=1

{{ $index := 0 }}
[Profile{{ $index }}]
Name=Public
IsRelative=0
Path={{ $configPath }}/public

{{  if .decryptPersonal }}
{{- $index = add1 $index }}
[Profile{{ $index }}]
Name=Personal
IsRelative=0
Path={{ $configPath }}/personal
{{- end }}

{{  range .decryptEnterprise }}
{{- $index = add1 $index }}
[Profile{{ $index }}]
Name=Enterprise-{{ . }}
IsRelative=0
Path={{ $configPath }}/enterprise-{{ . }}
{{- end }}

[General]
StartWithLastProfile=1
Version=2
