{{- $configPath := joinPath .chezmoi.homeDir ".config/firefox/profiles" }}

{{- $releaseId := "0" }}
{{- if eq .chezmoi.os "darwin" }}
{{- $appName := "" }}
{{- if eq .browser "F" }}
{{-     $appName = "Firefox" }}
{{-   else if eq .browser "Z" }}
{{-     $appName = "Zen" }}
{{-   end }}
{{-   $releaseId = (printf "/Applications/%s.app/Contents/MacOS" $appName | mozillaInstallHash) }}
{{- else if eq .chezmoi.os "linux" }}
{{-   if eq .browser "F" }}
{{-     if eq .osid "linux-gentoo" }}
{{-       $releaseId = mozillaInstallHash "/usr/lib64/firefox" }}
{{-     else }}
{{-       $releaseId = mozillaInstallHash "/usr/lib/firefox" }}
{{-     end }}
{{-   else if eq .browser "Z" }}
{{-     if eq .osid "linux-gentoo" }}
{{-       $releaseId = mozillaInstallHash "/opt/zen-browser" }}
{{-     else }}
{{-       $releaseId = mozillaInstallHash "/opt/zen-browser-bin" }}
{{-     end -}}
{{-   end -}}
{{- end -}}
[Install{{- $releaseId -}}]
{{- if eq .kind "container" "vm" }}
Default={{- $configPath }}/public
{{- else if eq .place "office" }}
Default={{- $configPath }}/enterprise
{{- else }}
Default={{- $configPath }}/personal
{{- end }}
Locked=1

{{- if eq .kind "container" "vm" }}
[Profile0]
Name=Personal
IsRelative=0
Path={{- $configPath }}/public
{{- else }}
[Profile1]
Name=Enterprise
IsRelative=0
Path={{- $configPath }}/enterprise

[Profile0]
Name=Personal
IsRelative=0
Path={{- $configPath }}/personal
{{- end }}

[General]
StartWithLastProfile=1
Version=2
