{{/* Include all userscripts in order */}}
{{- $settings := glob (joinPath .chezmoi.sourceDir ".chezmoitemplates/firefox/prefs/*.js*") }}
{{- $settings = concat $settings (glob (printf ".chezmoitemplates/firefox/prefs/%s/*.js*" .browserProfile | joinPath .chezmoi.sourceDir)) }}
{{- if ne .browser "Z" }}
{{-   $settings = concat $settings (list (joinPath .chezmoi.sourceDir ".chezmoitemplates/firefox/chrome/lepton/user.js")) }}
{{- end }}
{{- range ($settings) }}
{{-   includeTemplate . $ }}
{{- end }}
