github_repo,version,asset_file,output_file,has_helper,must_needed
twpayne/chezmoi,,chezmoi-linux-amd64,chezmoi,,
FiloSottile/age,,age-${VERSION}-linux-amd64.tar.gz,age,true,true
dynamotn/rbw,,rbw_${VERSION}_x86_64-unknown-linux-musl.tar.gz,rbw,true,true
stedolan/jq,,jq-linux64,jq,false,true
dandavison/delta,,delta-${VERSION}-x86_64-unknown-linux-gnu.tar.gz,delta,true,true
sharkdp/bat,,bat-${VERSION}-x86_64-unknown-linux-gnu.tar.gz,bat,true,true
sharkdp/fd,,fd-${VERSION}-x86_64-unknown-linux-gnu.tar.gz,fd,true,true
ogham/exa,,exa-linux-x86_64-${VERSION}.zip,exa,true,true
aristocratos/btop,,btop-x86_64-linux-musl.tbz,btop,true,true
soywod/himalaya,,himalaya-linux.tgz,himalaya,true,true
ivaaaan/smug,, smug_${VERSION:1}_Linux_x86_64.tar.gz,smug,true,
dynamotn/projekt,,projekt_${VERSION:1}_Linux_x86_64.tar.gz,projekt,true,
{{- if eq .guiServer "X" }}
erebe/greenclip,,greenclip,greenclip,false,true
{{- else if eq .guiServer "W" }}
sentriz/cliphist,,${VERSION}-linux-amd64,cliphist,false,true
{{- end }}
