layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="status-bar"
    }
    pane size=1 borderless=true {
      plugin location="zjstatus"
    }
  }

  tab name="uat" cwd="~/Working/enterprise/F1/OP" split_direction="vertical" {
    pane {
      command "fish"
      args "-c" "k9s --context uat"
    }
    {{- if ne .code "vdi" }}
    floating_panes {
      pane {
        command "fish"
        args "-c" "k --context uat port-forward default/toolbox 3000 3000"
      }
    }
    floating_panes {
      pane {
        command "chisel"
        args "client" "localhost:3000" "socks"
      }
    }
    {{- end }}
  }
  {{- if eq .code "vdi" }}
  tab name="prd-devops" cwd="~/Working/enterprise/F1/OP" {
    pane {
      command "fish"
      args "-c" "k9s --context prd-devops"
    }
  }
  tab name="prd-apps" cwd="~/Working/enterprise/F1/OP" {
    pane {
      command "fish"
      args "-c" "k9s --context prd-apps"
    }
  }
  {{- end }}
  tab name="docker" cwd="~/Working/enterprise/F1/OP/docker" {
    pane cwd="~/Working/enterprise/F1/OP/docker/communities"
  }
  tab name="iac" cwd="~/Working/enterprise/F1/OP/iac" {
    pane cwd="~/Working/enterprise/F1/OP/iac/helm-registry"
    pane cwd="~/Working/enterprise/F1/OP/iac/terragrunt"
  }
  tab name="cicd" cwd="~/Working/enterprise/F1/OP/cicd" {
    pane cwd="~/Working/enterprise/F1/OP/cicd/hub"
    pane cwd="~/Working/enterprise/F1/OP/cicd/gitops"
  }
  tab name="docs" cwd="~/Working/enterprise/F1/OP/docs" {
    pane
  }
}
