{{- $commonSecret := printf "../secrets/data/enterprise-%s/common.yaml.age" . | join $.chezmoi.sourceDir | include | decrypt | fromYaml }}
user_pref("mail.account.account1.identities", "id1");
user_pref("mail.account.account1.server", "server2");
user_pref("mail.account.account2.server", "server3");
user_pref("mail.account.lastKey", 2);
user_pref("mail.accountmanager.accounts", "account1,account2");
user_pref("mail.accountmanager.defaultaccount", "account1");
user_pref("mail.accountmanager.localfoldersserver", "server3");
user_pref("mail.server.server2.ageLimit", 30);
user_pref("mail.server.server2.applyToFlaggedMessages", false);
user_pref("mail.server.server2.authMethod", 10);
user_pref("mail.server.server2.check_new_mail", true);
user_pref("mail.server.server2.cleanupBodies", false);
user_pref("mail.server.server2.clientid", "a3254852-3d9a-469b-8922-0b9190136fc9");
user_pref("mail.server.server2.daysToKeepBodies", 30);
user_pref("mail.server.server2.daysToKeepHdrs", 30);
user_pref("mail.server.server2.directory", "/home/dynamo/.config/thunderbird/profiles/enterprise-F1/ImapMail/outlook.office365.com");
user_pref("mail.server.server2.directory-rel", "[ProfD]ImapMail/outlook.office365.com");
user_pref("mail.server.server2.downloadByDate", false);
user_pref("mail.server.server2.downloadUnreadOnly", false);
user_pref("mail.server.server2.hostname", "outlook.office365.com");
user_pref("mail.server.server2.lastFilterTime", 29207062);
user_pref("mail.server.server2.login_at_startup", true);
user_pref("mail.server.server2.max_cached_connections", 5);
user_pref("mail.server.server2.moveOnSpam", true);
user_pref("mail.server.server2.moveTargetMode", 1);
user_pref("mail.server.server2.name", "{{ $commonSecret.account.username }}@{{ $commonSecret.account.domain }}");
user_pref("mail.server.server2.namespace.personal", "\"\"");
user_pref("mail.server.server2.nextFilterTime", 29207072);
user_pref("mail.server.server2.numHdrsToKeep", 2000);
user_pref("mail.server.server2.port", 993);
user_pref("mail.server.server2.purgeSpam", true);
user_pref("mail.server.server2.serverIDResponse", "(\"name\" \"Microsoft.Exchange.Imap4.Imap4Server\" \"version\" \"15.20\")");
user_pref("mail.server.server2.socketType", 3);
user_pref("mail.server.server2.spamActionTargetAccount", "imap://{{ $commonSecret.account.username }}%40{{ $commonSecret.account.domain }}@outlook.office365.com");
user_pref("mail.server.server2.spamActionTargetFolder", "imap://{{ $commonSecret.account.username }}%40{{ $commonSecret.account.domain }}@outlook.office365.com/Junk Email");
user_pref("mail.server.server2.storeContractID", "@mozilla.org/msgstore/berkeleystore;1");
user_pref("mail.server.server2.timeout", 29);
user_pref("mail.server.server2.trash_folder_name", "Deleted Items");
user_pref("mail.server.server2.type", "imap");
user_pref("mail.server.server2.userName", "{{ $commonSecret.account.username }}@{{ $commonSecret.account.domain }}");
user_pref("mail.server.server3.directory", "/home/dynamo/.config/thunderbird/profiles/enterprise-F1/Mail/Local Folders");
user_pref("mail.server.server3.directory-rel", "[ProfD]Mail/Local Folders");
user_pref("mail.server.server3.hostname", "Local Folders");
user_pref("mail.server.server3.lastFilterTime", 29207062);
user_pref("mail.server.server3.name", "Local Folders");
user_pref("mail.server.server3.nextFilterTime", 29207072);
user_pref("mail.server.server3.spamActionTargetAccount", "mailbox://nobody@Local%20Folders");
user_pref("mail.server.server3.storeContractID", "@mozilla.org/msgstore/berkeleystore;1");
user_pref("mail.server.server3.type", "none");
user_pref("mail.server.server3.userName", "nobody");
user_pref("mail.identity.id1.archive_folder", "imap://{{ $commonSecret.account.username }}%40{{ $commonSecret.account.domain }}@outlook.office365.com/Archive");
user_pref("mail.identity.id1.archives_folder_picker_mode", "1");
user_pref("mail.identity.id1.attachPgpKey", true);
user_pref("mail.identity.id1.autoEncryptDrafts", true);
user_pref("mail.identity.id1.compose_html", true);
user_pref("mail.identity.id1.doBcc", false);
user_pref("mail.identity.id1.draft_folder", "imap://{{ $commonSecret.account.username }}%40{{ $commonSecret.account.domain }}@outlook.office365.com/Drafts");
user_pref("mail.identity.id1.drafts_folder_picker_mode", "1");
user_pref("mail.identity.id1.e2etechpref", 0);
user_pref("mail.identity.id1.encryptionpolicy", 0);
user_pref("mail.identity.id1.fcc_folder", "imap://{{ $commonSecret.account.username }}%40{{ $commonSecret.account.domain }}@outlook.office365.com/Sent Items");
user_pref("mail.identity.id1.fcc_folder_picker_mode", "1");
user_pref("mail.identity.id1.fullName", "Trần Đức Nam");
user_pref("mail.identity.id1.is_gnupg_key_id", true);
user_pref("mail.identity.id1.overrideGlobal_Pref", false);
user_pref("mail.identity.id1.protectSubject", true);
user_pref("mail.identity.id1.reply_on_top", 1);
user_pref("mail.identity.id1.sendAutocryptHeaders", true);
user_pref("mail.identity.id1.sign_mail", false);
user_pref("mail.identity.id1.smtpServer", "smtp1");
user_pref("mail.identity.id1.stationery_folder", "imap://{{ $commonSecret.account.username }}%40{{ $commonSecret.account.domain }}@outlook.office365.com/Templates");
user_pref("mail.identity.id1.tmpl_folder_picker_mode", "0");
user_pref("mail.identity.id1.useremail", "{{ $commonSecret.account.username }}@{{ $commonSecret.account.domain }}");
user_pref("mail.identity.id1.valid", true);
user_pref("mail.smtpserver.smtp1.authMethod", 10);
user_pref("mail.smtpserver.smtp1.description", "Microsoft 365");
user_pref("mail.smtpserver.smtp1.hostname", "smtp.office365.com");
user_pref("mail.smtpserver.smtp1.port", 587);
user_pref("mail.smtpserver.smtp1.try_ssl", 2);
user_pref("mail.smtpserver.smtp1.type", "smtp");
user_pref("mail.smtpserver.smtp1.username", "{{ $commonSecret.account.username }}@{{ $commonSecret.account.domain }}");
user_pref("mail.smtpservers", "smtp1");
user_pref("mail.smtpservers", "smtp1");
