user_pref("ldap_2.servers.F1Contacts.description", "F1 (Contacts)");
user_pref("ldap_2.servers.F1Contacts.dirType", 101);
user_pref("ldap_2.servers.F1Contacts.filename", "abook-2.sqlite");
user_pref("ldap_2.servers.F1Contacts.gContactSyncSkipped", "true");
user_pref("ldap_2.servers.F1Contacts.tbSyncAccountID", "1");
user_pref("ldap_2.servers.F1Contacts.tbSyncIcon", "eas_365");
user_pref("ldap_2.servers.F1Contacts.tbSyncProvider", "eas");
user_pref("ldap_2.servers.F1Contacts.tbSyncRevision", "2");
user_pref("ldap_2.servers.F1Contacts.uid", "4a4453c4-a7ee-4ffb-8221-dc1cc2bb1609");
user_pref("ldap_2.servers.history.uid", "b6f78269-f475-44d4-9dca-b7b9fcd75f43");
user_pref("ldap_2.servers.pab.uid", "7dc18265-9520-4087-8ac8-870b91ee4873");
