user_pref("calendar.list.sortOrder", "29ca6668-4029-4d77-a8d1-e2a78e90acc3 33b1a888-591d-48c4-bf24-277b5b924ba8 63faea0b-07f9-4511-9fbf-5956fd6c634c 526fa29f-109f-4b3d-9483-a30b1866619f 6431cab3-c29a-4efc-bcab-92ebd71905de c22210cd-bca1-473e-a9dc-f132ca4021af");
user_pref("calendar.registry.29ca6668-4029-4d77-a8d1-e2a78e90acc3.calendar-main-default", true);
user_pref("calendar.registry.29ca6668-4029-4d77-a8d1-e2a78e90acc3.calendar-main-in-composite", true);
user_pref("calendar.registry.29ca6668-4029-4d77-a8d1-e2a78e90acc3.disabled", true);
user_pref("calendar.registry.29ca6668-4029-4d77-a8d1-e2a78e90acc3.name", "Home");
user_pref("calendar.registry.29ca6668-4029-4d77-a8d1-e2a78e90acc3.type", "storage");
user_pref("calendar.registry.29ca6668-4029-4d77-a8d1-e2a78e90acc3.uri", "moz-storage-calendar://");
user_pref("calendar.registry.33b1a888-591d-48c4-bf24-277b5b924ba8.calendar-main-in-composite", true);
user_pref("calendar.registry.33b1a888-591d-48c4-bf24-277b5b924ba8.capabilities.events.supported", true);
user_pref("calendar.registry.33b1a888-591d-48c4-bf24-277b5b924ba8.capabilities.tasks.supported", false);
user_pref("calendar.registry.33b1a888-591d-48c4-bf24-277b5b924ba8.color", "#109618");
user_pref("calendar.registry.33b1a888-591d-48c4-bf24-277b5b924ba8.fallbackOrganizerName", "Nam Tran Duc");
user_pref("calendar.registry.33b1a888-591d-48c4-bf24-277b5b924ba8.imip.identity.key", "id1");
user_pref("calendar.registry.33b1a888-591d-48c4-bf24-277b5b924ba8.name", "F1 (Calendar)");
user_pref("calendar.registry.33b1a888-591d-48c4-bf24-277b5b924ba8.readOnly", false);
user_pref("calendar.registry.33b1a888-591d-48c4-bf24-277b5b924ba8.relaxedMode", true);
user_pref("calendar.registry.33b1a888-591d-48c4-bf24-277b5b924ba8.tbSyncAccountID", "1");
user_pref("calendar.registry.33b1a888-591d-48c4-bf24-277b5b924ba8.tbSyncProvider", "eas");
user_pref("calendar.registry.33b1a888-591d-48c4-bf24-277b5b924ba8.type", "storage");
user_pref("calendar.registry.33b1a888-591d-48c4-bf24-277b5b924ba8.uri", "moz-storage-calendar://");
user_pref("calendar.registry.526fa29f-109f-4b3d-9483-a30b1866619f.calendar-main-in-composite", true);
user_pref("calendar.registry.526fa29f-109f-4b3d-9483-a30b1866619f.capabilities.events.supported", true);
user_pref("calendar.registry.526fa29f-109f-4b3d-9483-a30b1866619f.capabilities.tasks.supported", false);
user_pref("calendar.registry.526fa29f-109f-4b3d-9483-a30b1866619f.color", "#DC3912");
user_pref("calendar.registry.526fa29f-109f-4b3d-9483-a30b1866619f.fallbackOrganizerName", "Nam Tran Duc");
user_pref("calendar.registry.526fa29f-109f-4b3d-9483-a30b1866619f.imip.identity.key", "id1");
user_pref("calendar.registry.526fa29f-109f-4b3d-9483-a30b1866619f.name", "F1 (Garmin Connect)");
user_pref("calendar.registry.526fa29f-109f-4b3d-9483-a30b1866619f.readOnly", false);
user_pref("calendar.registry.526fa29f-109f-4b3d-9483-a30b1866619f.relaxedMode", true);
user_pref("calendar.registry.526fa29f-109f-4b3d-9483-a30b1866619f.tbSyncAccountID", "1");
user_pref("calendar.registry.526fa29f-109f-4b3d-9483-a30b1866619f.tbSyncProvider", "eas");
user_pref("calendar.registry.526fa29f-109f-4b3d-9483-a30b1866619f.type", "storage");
user_pref("calendar.registry.526fa29f-109f-4b3d-9483-a30b1866619f.uri", "moz-storage-calendar://");
user_pref("calendar.registry.63faea0b-07f9-4511-9fbf-5956fd6c634c.calendar-main-in-composite", true);
user_pref("calendar.registry.63faea0b-07f9-4511-9fbf-5956fd6c634c.capabilities.events.supported", true);
user_pref("calendar.registry.63faea0b-07f9-4511-9fbf-5956fd6c634c.capabilities.tasks.supported", false);
user_pref("calendar.registry.63faea0b-07f9-4511-9fbf-5956fd6c634c.color", "#3366CC");
user_pref("calendar.registry.63faea0b-07f9-4511-9fbf-5956fd6c634c.fallbackOrganizerName", "Trần Đức Nam");
user_pref("calendar.registry.63faea0b-07f9-4511-9fbf-5956fd6c634c.imip.identity.key", "id1");
user_pref("calendar.registry.63faea0b-07f9-4511-9fbf-5956fd6c634c.name", "F1 (Birthdays)");
user_pref("calendar.registry.63faea0b-07f9-4511-9fbf-5956fd6c634c.readOnly", false);
user_pref("calendar.registry.63faea0b-07f9-4511-9fbf-5956fd6c634c.relaxedMode", true);
user_pref("calendar.registry.63faea0b-07f9-4511-9fbf-5956fd6c634c.tbSyncAccountID", "1");
user_pref("calendar.registry.63faea0b-07f9-4511-9fbf-5956fd6c634c.tbSyncProvider", "eas");
user_pref("calendar.registry.63faea0b-07f9-4511-9fbf-5956fd6c634c.type", "storage");
user_pref("calendar.registry.63faea0b-07f9-4511-9fbf-5956fd6c634c.uri", "moz-storage-calendar://");
user_pref("calendar.registry.6431cab3-c29a-4efc-bcab-92ebd71905de.calendar-main-in-composite", true);
user_pref("calendar.registry.6431cab3-c29a-4efc-bcab-92ebd71905de.capabilities.events.supported", true);
user_pref("calendar.registry.6431cab3-c29a-4efc-bcab-92ebd71905de.capabilities.tasks.supported", false);
user_pref("calendar.registry.6431cab3-c29a-4efc-bcab-92ebd71905de.color", "#990099");
user_pref("calendar.registry.6431cab3-c29a-4efc-bcab-92ebd71905de.fallbackOrganizerName", "Nam Tran Duc");
user_pref("calendar.registry.6431cab3-c29a-4efc-bcab-92ebd71905de.imip.identity.key", "id1");
user_pref("calendar.registry.6431cab3-c29a-4efc-bcab-92ebd71905de.name", "F1 (United States holidays)");
user_pref("calendar.registry.6431cab3-c29a-4efc-bcab-92ebd71905de.readOnly", false);
user_pref("calendar.registry.6431cab3-c29a-4efc-bcab-92ebd71905de.relaxedMode", true);
user_pref("calendar.registry.6431cab3-c29a-4efc-bcab-92ebd71905de.tbSyncAccountID", "1");
user_pref("calendar.registry.6431cab3-c29a-4efc-bcab-92ebd71905de.tbSyncProvider", "eas");
user_pref("calendar.registry.6431cab3-c29a-4efc-bcab-92ebd71905de.type", "storage");
user_pref("calendar.registry.6431cab3-c29a-4efc-bcab-92ebd71905de.uri", "moz-storage-calendar://");
user_pref("calendar.registry.c22210cd-bca1-473e-a9dc-f132ca4021af.calendar-main-in-composite", true);
user_pref("calendar.registry.c22210cd-bca1-473e-a9dc-f132ca4021af.capabilities.events.supported", false);
user_pref("calendar.registry.c22210cd-bca1-473e-a9dc-f132ca4021af.capabilities.tasks.supported", true);
user_pref("calendar.registry.c22210cd-bca1-473e-a9dc-f132ca4021af.color", "#3B3EAC");
user_pref("calendar.registry.c22210cd-bca1-473e-a9dc-f132ca4021af.fallbackOrganizerName", "Trần Đức Nam");
user_pref("calendar.registry.c22210cd-bca1-473e-a9dc-f132ca4021af.imip.identity.key", "id1");
user_pref("calendar.registry.c22210cd-bca1-473e-a9dc-f132ca4021af.name", "F1 (Tasks)");
user_pref("calendar.registry.c22210cd-bca1-473e-a9dc-f132ca4021af.readOnly", false);
user_pref("calendar.registry.c22210cd-bca1-473e-a9dc-f132ca4021af.relaxedMode", true);
user_pref("calendar.registry.c22210cd-bca1-473e-a9dc-f132ca4021af.tbSyncAccountID", "1");
user_pref("calendar.registry.c22210cd-bca1-473e-a9dc-f132ca4021af.tbSyncProvider", "eas");
user_pref("calendar.registry.c22210cd-bca1-473e-a9dc-f132ca4021af.type", "storage");
user_pref("calendar.registry.c22210cd-bca1-473e-a9dc-f132ca4021af.uri", "moz-storage-calendar://");
