user_pref("calendar.list.sortOrder", "29ca6668-4029-4d77-a8d1-e2a78e90acc3 05b485e9-86e8-42ba-9487-b5e8435313b0 ab5b4e9d-9c37-4638-aa8a-5f0591772599 b43174f8-cbf2-4d73-a5c4-696160ed5b2c");
user_pref("calendar.registry.05b485e9-86e8-42ba-9487-b5e8435313b0.calendar-main-in-composite", true);
user_pref("calendar.registry.05b485e9-86e8-42ba-9487-b5e8435313b0.capabilities.events.supported", true);
user_pref("calendar.registry.05b485e9-86e8-42ba-9487-b5e8435313b0.capabilities.tasks.supported", false);
user_pref("calendar.registry.05b485e9-86e8-42ba-9487-b5e8435313b0.color", "#109618");
user_pref("calendar.registry.05b485e9-86e8-42ba-9487-b5e8435313b0.fallbackOrganizerName", "Nam Tran Duc");
user_pref("calendar.registry.05b485e9-86e8-42ba-9487-b5e8435313b0.imip.identity.key", "id1");
user_pref("calendar.registry.05b485e9-86e8-42ba-9487-b5e8435313b0.name", "F1 (Calendar)");
user_pref("calendar.registry.05b485e9-86e8-42ba-9487-b5e8435313b0.readOnly", false);
user_pref("calendar.registry.05b485e9-86e8-42ba-9487-b5e8435313b0.relaxedMode", true);
user_pref("calendar.registry.05b485e9-86e8-42ba-9487-b5e8435313b0.tbSyncAccountID", "1");
user_pref("calendar.registry.05b485e9-86e8-42ba-9487-b5e8435313b0.tbSyncProvider", "eas");
user_pref("calendar.registry.05b485e9-86e8-42ba-9487-b5e8435313b0.type", "storage");
user_pref("calendar.registry.05b485e9-86e8-42ba-9487-b5e8435313b0.uri", "moz-storage-calendar://");
user_pref("calendar.registry.29ca6668-4029-4d77-a8d1-e2a78e90acc3.calendar-main-default", true);
user_pref("calendar.registry.29ca6668-4029-4d77-a8d1-e2a78e90acc3.calendar-main-in-composite", true);
user_pref("calendar.registry.29ca6668-4029-4d77-a8d1-e2a78e90acc3.disabled", true);
user_pref("calendar.registry.29ca6668-4029-4d77-a8d1-e2a78e90acc3.name", "Home");
user_pref("calendar.registry.29ca6668-4029-4d77-a8d1-e2a78e90acc3.type", "storage");
user_pref("calendar.registry.29ca6668-4029-4d77-a8d1-e2a78e90acc3.uri", "moz-storage-calendar://");
user_pref("calendar.registry.ab5b4e9d-9c37-4638-aa8a-5f0591772599.calendar-main-in-composite", true);
user_pref("calendar.registry.ab5b4e9d-9c37-4638-aa8a-5f0591772599.capabilities.events.supported", true);
user_pref("calendar.registry.ab5b4e9d-9c37-4638-aa8a-5f0591772599.capabilities.tasks.supported", false);
user_pref("calendar.registry.ab5b4e9d-9c37-4638-aa8a-5f0591772599.color", "#990099");
user_pref("calendar.registry.ab5b4e9d-9c37-4638-aa8a-5f0591772599.fallbackOrganizerName", "Nam Tran Duc");
user_pref("calendar.registry.ab5b4e9d-9c37-4638-aa8a-5f0591772599.imip.identity.key", "id1");
user_pref("calendar.registry.ab5b4e9d-9c37-4638-aa8a-5f0591772599.name", "F1 (United States holidays)");
user_pref("calendar.registry.ab5b4e9d-9c37-4638-aa8a-5f0591772599.readOnly", false);
user_pref("calendar.registry.ab5b4e9d-9c37-4638-aa8a-5f0591772599.relaxedMode", true);
user_pref("calendar.registry.ab5b4e9d-9c37-4638-aa8a-5f0591772599.tbSyncAccountID", "1");
user_pref("calendar.registry.ab5b4e9d-9c37-4638-aa8a-5f0591772599.tbSyncProvider", "eas");
user_pref("calendar.registry.ab5b4e9d-9c37-4638-aa8a-5f0591772599.type", "storage");
user_pref("calendar.registry.ab5b4e9d-9c37-4638-aa8a-5f0591772599.uri", "moz-storage-calendar://");
user_pref("calendar.registry.b43174f8-cbf2-4d73-a5c4-696160ed5b2c.calendar-main-in-composite", true);
user_pref("calendar.registry.b43174f8-cbf2-4d73-a5c4-696160ed5b2c.capabilities.events.supported", false);
user_pref("calendar.registry.b43174f8-cbf2-4d73-a5c4-696160ed5b2c.capabilities.tasks.supported", true);
user_pref("calendar.registry.b43174f8-cbf2-4d73-a5c4-696160ed5b2c.color", "#3B3EAC");
user_pref("calendar.registry.b43174f8-cbf2-4d73-a5c4-696160ed5b2c.fallbackOrganizerName", "Trần Đức Nam");
user_pref("calendar.registry.b43174f8-cbf2-4d73-a5c4-696160ed5b2c.imip.identity.key", "id1");
user_pref("calendar.registry.b43174f8-cbf2-4d73-a5c4-696160ed5b2c.name", "F1 (Tasks)");
user_pref("calendar.registry.b43174f8-cbf2-4d73-a5c4-696160ed5b2c.readOnly", false);
user_pref("calendar.registry.b43174f8-cbf2-4d73-a5c4-696160ed5b2c.relaxedMode", true);
user_pref("calendar.registry.b43174f8-cbf2-4d73-a5c4-696160ed5b2c.tbSyncAccountID", "1");
user_pref("calendar.registry.b43174f8-cbf2-4d73-a5c4-696160ed5b2c.tbSyncProvider", "eas");
user_pref("calendar.registry.b43174f8-cbf2-4d73-a5c4-696160ed5b2c.type", "storage");
user_pref("calendar.registry.b43174f8-cbf2-4d73-a5c4-696160ed5b2c.uri", "moz-storage-calendar://");
