#!/bin/sh
{{- if eq .osid "linux-gentoo" }}
export XDG_RUNTIME_DIR=/tmp/user-$(id -u)
{{- else }}
export XDG_RUNTIME_DIR=/run/user/$(id -u)
{{- end }}
export HOME=$XDG_RUNTIME_DIR
mkdir -p $XDG_RUNTIME_DIR && chmod 700 $XDG_RUNTIME_DIR
dbus-run-session Hyprland --config /etc/greetd/hyprland.conf
