exec-once = regreet; hyprctl dispatch exit
exec-once = bash {{ .chezmoi.sourceDir }}/../../.config/hypr/hyprland/scripts/gtk.sh

{{- template "wm/hypr-monitor.conf.tmpl" . -}}

{{- if eq .guiDriver "N" }}
# NVIDIA setting
env = LIBVA_DRIVER_NAME, nvidia
env = __GLX_VENDOR_LIBRARY_NAME, nvidia
env = GBM_BACKEND, nvidia-drm
{{- end }}

# XDG specification
env = XDG_CURRENT_DESKTOP, Hyprland
env = XDG_SESSION_TYPE, wayland
env = XDG_SESSION_DESKTOP, Hyprland

cursor {
  no_hardware_cursors = true
}

misc {
  disable_hyprland_logo = true
}
