{{- $machine := printf "%s_%s" .place .kind -}}
{{- if eq $machine "home_pc" -}}
l30n4rd0d4v1nc1
{{- else if eq $machine "office_laptop" -}}
{{- if eq .company "TOP" }}
d3lt4f0rc3
{{- else if eq .company "F1" }}
h1tl3r
{{- end }}
{{- else if eq $machine "office_workstation" -}}
{{- if eq .code "t40-1" -}}
p1k4ch0o
{{- end -}}
{{- else if eq $machine "home_modem" -}}
g3ngh1skh4n
{{- else if eq $machine "home_datacenter" -}}
p4nd0r4
{{- else if eq $machine "home_sbc" -}}
{{- if eq .code "raspi4-1" -}}
d4iv13t
{{- else if eq .code "raspi4-2" -}}
l4cv13t
{{- else if eq .code "beagleblack-1" -}}
4ul4c
{{- end -}}
{{- end }}
