user_pref("mail.account.account1.identities", "id1");
user_pref("mail.account.account1.server", "server2");
user_pref("mail.account.account2.server", "server3");
user_pref("mail.account.account3.identities", "id2");
user_pref("mail.account.account3.server", "server5");
user_pref("mail.account.account4.server", "server1");
user_pref("mail.account.lastKey", 4);
user_pref("mail.accountmanager.accounts", "account1,account3,account4,account2");
user_pref("mail.accountmanager.defaultaccount", "account1");
user_pref("mail.accountmanager.localfoldersserver", "server3");
user_pref("mail.server.server1.check_new_mail", true);
user_pref("mail.server.server1.check_time", 1);
user_pref("mail.server.server1.directory", "/home/dynamo/.config/thunderbird/profiles/personal/Mail/Feeds");
user_pref("mail.server.server1.directory-rel", "[ProfD]Mail/Feeds");
user_pref("mail.server.server1.feed_options", "{\"version\":5,\"updates\":{\"enabled\":true,\"updateMinutes\":100,\"updateUnits\":\"min\",\"lastUpdateTime\":null,\"lastDownloadTime\":null,\"updatePeriod\":null,\"updateFrequency\":1,\"updateBase\":null,\"storeOnUpdated\":false,\"storeWebPageArchive\":false},\"category\":{\"enabled\":false,\"prefixEnabled\":false,\"prefix\":null},\"favicon\":{\"URL\":null,\"dataURL\":null,\"lastUpdateTime\":null}}");
user_pref("mail.server.server1.hostname", "Feeds");
user_pref("mail.server.server1.lastFilterTime", 29456256);
user_pref("mail.server.server1.name", "Feeds");
user_pref("mail.server.server1.nextFilterTime", 29456266);
user_pref("mail.server.server1.spamActionTargetAccount", "mailbox://nobody@Feeds");
user_pref("mail.server.server1.storeContractID", "@mozilla.org/msgstore/berkeleystore;1");
user_pref("mail.server.server1.type", "rss");
user_pref("mail.server.server1.userName", "nobody");
user_pref("mail.server.server2.ageLimit", 30);
user_pref("mail.server.server2.applyToFlaggedMessages", false);
user_pref("mail.server.server2.check_new_mail", true);
user_pref("mail.server.server2.cleanupBodies", false);
user_pref("mail.server.server2.clientid", "fb520106-7bab-40d3-9670-3e7dad6b9df3");
user_pref("mail.server.server2.daysToKeepBodies", 30);
user_pref("mail.server.server2.daysToKeepHdrs", 30);
user_pref("mail.server.server2.directory", "/home/dynamo/.config/thunderbird/profiles/personal/ImapMail/pr0t0n");
user_pref("mail.server.server2.directory-rel", "[ProfD]ImapMail/pr0t0n");
user_pref("mail.server.server2.downloadByDate", false);
user_pref("mail.server.server2.downloadUnreadOnly", false);
user_pref("mail.server.server2.hostname", "pr0t0n");
user_pref("mail.server.server2.lastFilterTime", 29456256);
user_pref("mail.server.server2.login_at_startup", true);
user_pref("mail.server.server2.max_cached_connections", 5);
user_pref("mail.server.server2.moveOnSpam", true);
user_pref("mail.server.server2.moveTargetMode", 1);
user_pref("mail.server.server2.name", "me@dynamotn.dev");
user_pref("mail.server.server2.nextFilterTime", 29456266);
user_pref("mail.server.server2.numHdrsToKeep", 2000);
user_pref("mail.server.server2.port", 143);
user_pref("mail.server.server2.purgeSpam", true);
user_pref("mail.server.server2.serverIDResponse", "(\"name\" \"Proton Mail Bridge\" \"version\" \"03.21.02\" \"os\" \"linux\" \"vendor\" \"TODO\" \"support-url\" \"TODO\")");
user_pref("mail.server.server2.socketType", 0);
user_pref("mail.server.server2.spamActionTargetAccount", "imap://me%40dynamotn.dev@pr0t0n");
user_pref("mail.server.server2.spamActionTargetFolder", "imap://me%40dynamotn.dev@pr0t0n/Spam");
user_pref("mail.server.server2.storeContractID", "@mozilla.org/msgstore/berkeleystore;1");
user_pref("mail.server.server2.timeout", 29);
user_pref("mail.server.server2.trash_folder_name", "Trash");
user_pref("mail.server.server2.type", "imap");
user_pref("mail.server.server2.userName", "me@dynamotn.dev");
user_pref("mail.server.server3.ageLimit", 30);
user_pref("mail.server.server3.applyToFlaggedMessages", false);
user_pref("mail.server.server3.cleanupBodies", false);
user_pref("mail.server.server3.daysToKeepBodies", 30);
user_pref("mail.server.server3.daysToKeepHdrs", 30);
user_pref("mail.server.server3.directory", "/home/dynamo/.config/thunderbird/profiles/personal/Mail/Local Folders");
user_pref("mail.server.server3.directory-rel", "[ProfD]Mail/Local Folders");
user_pref("mail.server.server3.downloadByDate", false);
user_pref("mail.server.server3.downloadUnreadOnly", false);
user_pref("mail.server.server3.hostname", "Local Folders");
user_pref("mail.server.server3.lastFilterTime", 29456256);
user_pref("mail.server.server3.moveOnSpam", true);
user_pref("mail.server.server3.name", "Local Folders");
user_pref("mail.server.server3.nextFilterTime", 29456266);
user_pref("mail.server.server3.numHdrsToKeep", 2000);
user_pref("mail.server.server3.spamActionTargetAccount", "mailbox://nobody@Local%20Folders");
user_pref("mail.server.server3.spamActionTargetFolder", "mailbox://nobody@Local%20Folders/Junk");
user_pref("mail.server.server3.storeContractID", "@mozilla.org/msgstore/berkeleystore;1");
user_pref("mail.server.server3.type", "none");
user_pref("mail.server.server3.userName", "nobody");
user_pref("mail.server.server5.ageLimit", 30);
user_pref("mail.server.server5.applyToFlaggedMessages", false);
user_pref("mail.server.server5.authMethod", 10);
user_pref("mail.server.server5.check_new_mail", true);
user_pref("mail.server.server5.cleanupBodies", false);
user_pref("mail.server.server5.clientid", "2ee95b15-5a96-4ff9-a901-74d060722db1");
user_pref("mail.server.server5.daysToKeepBodies", 30);
user_pref("mail.server.server5.daysToKeepHdrs", 30);
user_pref("mail.server.server5.directory", "/home/dynamo/.config/thunderbird/profiles/personal/ImapMail/imap.gmail.com");
user_pref("mail.server.server5.directory-rel", "[ProfD]ImapMail/imap.gmail.com");
user_pref("mail.server.server5.downloadByDate", false);
user_pref("mail.server.server5.downloadUnreadOnly", false);
user_pref("mail.server.server5.hostname", "imap.gmail.com");
user_pref("mail.server.server5.is_gmail", true);
user_pref("mail.server.server5.lastFilterTime", 29456256);
user_pref("mail.server.server5.login_at_startup", true);
user_pref("mail.server.server5.max_cached_connections", 5);
user_pref("mail.server.server5.moveOnSpam", true);
user_pref("mail.server.server5.moveTargetMode", 1);
user_pref("mail.server.server5.name", "dynamo.foss@gmail.com");
user_pref("mail.server.server5.namespace.personal", "\"\"");
user_pref("mail.server.server5.nextFilterTime", 29456266);
user_pref("mail.server.server5.numHdrsToKeep", 2000);
user_pref("mail.server.server5.port", 993);
user_pref("mail.server.server5.serverIDResponse", "(\"name\" \"GImap\" \"vendor\" \"Google, Inc.\" \"support-url\" \"https://support.google.com/mail\" \"version\" \"gmail.imap-server_20251216.07_p0\" \"remote-host\" \"1.53.37.222\")");
user_pref("mail.server.server5.socketType", 3);
user_pref("mail.server.server5.spamActionTargetAccount", "imap://dynamo.foss%40gmail.com@imap.gmail.com");
user_pref("mail.server.server5.spamActionTargetFolder", "imap://dynamo.foss%40gmail.com@imap.gmail.com/[Gmail]/Thư rác");
user_pref("mail.server.server5.storeContractID", "@mozilla.org/msgstore/berkeleystore;1");
user_pref("mail.server.server5.timeout", 29);
user_pref("mail.server.server5.trash_folder_name", "Trash");
user_pref("mail.server.server5.type", "imap");
user_pref("mail.server.server5.userName", "dynamo.foss@gmail.com");
user_pref("mail.identity.id1.archive_folder", "imap://me%40dynamotn.dev@pr0t0n/Archive");
user_pref("mail.identity.id1.archives_folder_picker_mode", "1");
user_pref("mail.identity.id1.attachPgpKey", true);
user_pref("mail.identity.id1.autoEncryptDrafts", true);
user_pref("mail.identity.id1.compose_html", true);
user_pref("mail.identity.id1.doBcc", false);
user_pref("mail.identity.id1.draft_folder", "imap://me%40dynamotn.dev@pr0t0n/Drafts");
user_pref("mail.identity.id1.drafts_folder_picker_mode", "1");
user_pref("mail.identity.id1.e2etechpref", 0);
user_pref("mail.identity.id1.encryptionpolicy", 0);
user_pref("mail.identity.id1.fcc_folder", "imap://me%40dynamotn.dev@pr0t0n/Sent");
user_pref("mail.identity.id1.fcc_folder_picker_mode", "1");
user_pref("mail.identity.id1.fullName", "Trần Đức Nam");
user_pref("mail.identity.id1.is_gnupg_key_id", true);
user_pref("mail.identity.id1.protectSubject", true);
user_pref("mail.identity.id1.reply_on_top", 1);
user_pref("mail.identity.id1.sendAutocryptHeaders", true);
user_pref("mail.identity.id1.sign_mail", false);
user_pref("mail.identity.id1.smtpServer", "smtp1");
user_pref("mail.identity.id1.useremail", "me@dynamotn.dev");
user_pref("mail.identity.id1.valid", true);
user_pref("mail.identity.id2.archive_folder", "imap://dynamo.foss%40gmail.com@imap.gmail.com/[Gmail]/Tất cả thư");
user_pref("mail.identity.id2.archives_folder_picker_mode", "1");
user_pref("mail.identity.id2.attachPgpKey", true);
user_pref("mail.identity.id2.autoEncryptDrafts", true);
user_pref("mail.identity.id2.doBcc", false);
user_pref("mail.identity.id2.draft_folder", "imap://dynamo.foss%40gmail.com@imap.gmail.com/[Gmail]/Thư nháp");
user_pref("mail.identity.id2.drafts_folder_picker_mode", "1");
user_pref("mail.identity.id2.e2etechpref", 0);
user_pref("mail.identity.id2.encryptionpolicy", 0);
user_pref("mail.identity.id2.fcc_folder", "imap://dynamo.foss%40gmail.com@imap.gmail.com/[Gmail]/Thư đã gửi");
user_pref("mail.identity.id2.fcc_folder_picker_mode", "1");
user_pref("mail.identity.id2.fullName", "Trần Đức Nam");
user_pref("mail.identity.id2.is_gnupg_key_id", true);
user_pref("mail.identity.id2.protectSubject", true);
user_pref("mail.identity.id2.reply_on_top", 1);
user_pref("mail.identity.id2.sendAutocryptHeaders", true);
user_pref("mail.identity.id2.sig_bottom", true);
user_pref("mail.identity.id2.sign_mail", false);
user_pref("mail.identity.id2.smtpServer", "smtp2");
user_pref("mail.identity.id2.useremail", "dynamo.foss@gmail.com");
user_pref("mail.identity.id2.valid", true);
user_pref("mail.smtpserver.smtp1.authMethod", 3);
user_pref("mail.smtpserver.smtp1.description", "Proton");
user_pref("mail.smtpserver.smtp1.hostname", "pr0t0n");
user_pref("mail.smtpserver.smtp1.port", 25);
user_pref("mail.smtpserver.smtp1.try_ssl", 0);
user_pref("mail.smtpserver.smtp1.type", "smtp");
user_pref("mail.smtpserver.smtp1.username", "me@dynamotn.dev");
user_pref("mail.smtpserver.smtp2.authMethod", 10);
user_pref("mail.smtpserver.smtp2.description", "Google Mail");
user_pref("mail.smtpserver.smtp2.hostname", "smtp.gmail.com");
user_pref("mail.smtpserver.smtp2.port", 465);
user_pref("mail.smtpserver.smtp2.try_ssl", 3);
user_pref("mail.smtpserver.smtp2.type", "smtp");
user_pref("mail.smtpserver.smtp2.username", "dynamo.foss@gmail.com");
user_pref("mail.smtpservers", "smtp1,smtp2");
user_pref("mail.smtpservers", "smtp1,smtp2");
