user_pref("ldap_2.servers.Enterprise.carddav.token", "http://radicale.org/ns/sync/5_0");
user_pref("ldap_2.servers.Enterprise.carddav.url", "https://n4p0l30n:5001/carddav/dynamo/0e2960f2-1eea-4675-a191-693af180a486/");
user_pref("ldap_2.servers.Enterprise.carddav.username", "dynamo");
user_pref("ldap_2.servers.Enterprise.description", "Enterprise");
user_pref("ldap_2.servers.Enterprise.dirType", 102);
user_pref("ldap_2.servers.Enterprise.filename", "abook-2.sqlite");
user_pref("ldap_2.servers.Enterprise.uid", "f528d035-6271-46d7-8656-01c1544dcde3");
user_pref("ldap_2.servers.Miscellaneous.carddav.token", "http://radicale.org/ns/sync/6_0");
user_pref("ldap_2.servers.Miscellaneous.carddav.url", "https://n4p0l30n:5001/carddav/dynamo/e0d92408-688b-46c3-bd20-0322b1637ddf/");
user_pref("ldap_2.servers.Miscellaneous.carddav.username", "dynamo");
user_pref("ldap_2.servers.Miscellaneous.description", "Miscellaneous");
user_pref("ldap_2.servers.Miscellaneous.dirType", 102);
user_pref("ldap_2.servers.Miscellaneous.filename", "abook-3.sqlite");
user_pref("ldap_2.servers.Miscellaneous.uid", "3c0bb313-7b00-4988-9564-259317569d37");
user_pref("ldap_2.servers.Personal.carddav.token", "http://radicale.org/ns/sync/4_0");
user_pref("ldap_2.servers.Personal.carddav.url", "https://n4p0l30n:5001/carddav/dynamo/d7133302-bd5d-4ca9-93f0-f32c4fdc6b9e/");
user_pref("ldap_2.servers.Personal.carddav.username", "dynamo");
user_pref("ldap_2.servers.Personal.description", "Personal");
user_pref("ldap_2.servers.Personal.dirType", 102);
user_pref("ldap_2.servers.Personal.filename", "abook-1.sqlite");
user_pref("ldap_2.servers.Personal.uid", "593554c0-a719-468d-97ed-e6d694213b52");
user_pref("ldap_2.servers.history.uid", "2d86928d-46fb-4673-832f-ddd13f026b1c");
user_pref("ldap_2.servers.pab.uid", "874c0073-395d-44d7-8b53-dd5f04a98315");
