.wallpaper {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("https://picsum.photos/seed/picsum/1920/1080");
  background-repeat: round;
  background-size: cover;
}

.panel {
  border-radius: 5px 0 0 5px;
  width: 50%;
  height: 400px;
  right: 0;
  left: 0;
  top: 80px;
  bottom: 0;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background: var(--bg);
  position: relative;
}

.slides {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px 0 0 10px;
}

.slides ul {
  width: 100%;
  height: 100%;
  right: 100%;
  transition: all 0.6s;
  position: absolute;
}

.slides ul[active] {
  right: 0;
  z-index: 1;
}

.slides .banners {
  position: absolute;
  left: 0;
  width: 30%;
  height: 100%;
  flex-wrap: wrap;
}

.slides .banners::after {
  content: attr(data-name);
  position: absolute;
  display: flex;
  text-transform: uppercase;
  overflow-wrap: break-word;
  width: 25px;
  height: 250px;
  padding: 1em;
  margin: auto;
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px var(--flavour);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(to top, rgb(50 48 47 / 90%), transparent);
  color: var(--flavour);
  letter-spacing: 1px;
  font: 500 30px sans-serif;
  text-align: center;
  flex-wrap: wrap;
  word-break: break-all;
  align-items: center;
  backdrop-filter: blur(3px);
}

.slides .bookmarks {
  position: absolute;
  box-shadow: inset -2px 0 var(--flavour);
  right: 0;
  width: 70%;
  height: 100%;
  background: var(--bg);
  padding: 5%;
  flex-wrap: wrap;
}

.slides .bookmarks li {
  list-style: none;
}

.slides .bookmarks li:not(:last-child) {
  box-shadow: 0 1px 0 rgba(212, 190, 152, 0.25);
  padding: 0 0 0.5em 0;
  margin-bottom: 1.5em;
}

.slides .bookmarks li h1 {
  color: var(--flavour);
  opacity: 0.8;
  font-size: 13px;
  margin-bottom: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: sans-serif;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

.categories .link {
  display: inline-flex;
}

.categories .link:not(:last-child) {
  margin-right: 0.5em;
}

.categories .link a {
  color: var(--text);
  text-decoration: none;
  font: 700 18px sans-serif;
  transition: all 0.2s;
  display: inline-flex;
  align-items: center;
  padding: 0.4em 0.7em;
  background: var(--surface);
  box-shadow:
    0 4px rgba(0, 0, 0, 0.5),
    0 5px 10px rgb(0 0 0 / 20%);
  border-radius: 2px;
  margin-bottom: 0.7em;
}

.categories .link a:hover {
  color: var(--flavour);
  transform: translate(0, 4px);
  box-shadow:
    0 0 rgba(0, 0, 0, 0.25),
    0 0 0 rgba(0, 0, 0, 0.5),
    0 -0px 5px rgba(0, 0, 0, 0.1);
}

.categories .link a p:nth-child(2) {
  margin-left: 10px;
  font: 700 16px monospace;
  text-transform: capitalize;
}
