.battery {
  .icon {
    @include glyph($green);
  }

  .value {
    font-size: 0.7em;
    color: $fg-alt2;
  }

  &.low .icon {
    color: $yellow;
  }

  &.critical {
    .icon {
      color: $red;
    }

    .value {
      color: $red;
    }
  }
}
