.mpris {
  .icon {
    @include glyph($mauve);

    &:hover {
      color: lighten($color: $mauve, $amount: 10%);
    }
  }

  .title {
    font-size: 0.7em;
    color: $fg-alt2;
  }

  &.paused {
    .icon,
    .title {
      color: $fg-alt;
    }
  }
}
