.pomodoro {
  .icon,
  .remain,
  .count {
    font-weight: bold;
    font-size: 0.85em;
    color: $fg;
    padding: 0.15em 0.3em;
  }

  .icon,
  .remain {
    border-bottom: 0.1em solid $fg-alt;
  }
}
