.workspaces {
  .workspace {
    border-radius: $radius-pill;
    margin: 0.4em 0.4em;

    &.empty {
      background: lighten($color: $bg, $amount: 3%);
    }

    &.occupied {
      background: $teal;

      .name {
        color: $bg;
      }
    }

    &.active {
      background: $green;

      .name {
        color: $bg;
      }
    }

    &:hover {
      &.empty {
        background: lighten($color: $bg, $amount: 10%);
      }

      &.occupied {
        background: lighten($color: $teal, $amount: 10%);
      }

      &.active {
        background: lighten($color: $green, $amount: 10%);
      }
    }

    .name {
      font-size: 1em;
      color: $fg;
      margin: 0.4em;
    }
  }
}
