#!{{ lookPath "bash" }}
set -Eeou pipefail
source {{ .chezmoi.sourceDir }}/../scripts/message.sh

{{- if eq .guiServer "X" "W" }}
_notice "Update firefox settings"
for profile in "personal" "enterprise" "test"; do
  if [ -f ~/.config/firefox/profiles/${profile}/prefs.js ]; then
    _progress "Update toolbar setting for profile ${profile}"
    grep "browser.uiCustomization.state" ~/.config/firefox/profiles/${profile}/prefs.js > {{ .chezmoi.sourceDir }}/.chezmoitemplates/firefox/prefs/${profile}/01-toolbar.js
  fi
done
{{- end }}
