#!/usr/bin/env bash
source {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_err_handler

SCRIPT_DIR=$(dirname "$(readlink -f "$0")")

_usage() {
  echo "$0 usage:" && grep -E " \w) #" "$0" | sed -e 's/\(.\)) #/-\1/g'
  exit 0
}

_parse_args() {
  while getopts ":het:" arg; do
    case $arg in
      e) # Update only essential tool
        FLAG_IS_ESSENTIAL=true
        ;;
      t) # Only one specific tool
        TOOL=$OPTARG
        ;;
      h) # Display help
        _usage
        ;;
      *) ;;
    esac
  done
}

_main() {
  if [ "$TOOL" = "" ]; then
    dybatpho::info "Install shell tools"
  else
    dybatpho::info "Install shell tool: $TOOL"
  fi
  readarray shell_tools < <(yq e -o=j -I=0 'filter(.method == "shell") | .[]' ~/.config/dytoy/tools.yaml )

  for tool in "${shell_tools[@]}"; do
    tool_name=$(echo "$tool" | yq e '.name')
    if [ "$TOOL" != "" ] && [ "$TOOL" != "$tool_name" ]; then
      continue
    fi
    is_essential=$(echo "$tool" | yq e '.is_essential')
    if [ "$FLAG_IS_ESSENTIAL" = true ] && [ "$is_essential" != "true" ]; then
      continue
    fi

    readarray dependencies < <(echo "$tool" | yq e -o=j -I=0 -r '.dependencies.[]')
    for dependency in "${dependencies[@]}"; do
      dependency=${dependency%$'\n'}
      method=$(yq e -o=j -I=0 'filter(.name == "'"$dependency"'") | .[].method | .' ~/.config/dytoy/tools.yaml)
      method=${method%\"}
      method=${method#\"}
      "$SCRIPT_DIR/$method.sh" -t "$dependency"
    done
    content=$(echo "$tool" | yq e '.content')
    bash -c "$content"
  done

  dybatpho::success "Installed shell tools"
}

TOOL=
FLAG_IS_ESSENTIAL=false
_parse_args "$@"

_main
