#!{{ lookPath "bash" }}
set -Eeou pipefail
source {{ .chezmoi.sourceDir }}/../scripts/message.sh
source {{ .chezmoi.sourceDir }}/../scripts/os.sh
trap "_error \"Install tools failed\"" ERR

_usage() {
  echo "$0 usage:" && grep " .) #" "$0" | sed -e 's/\(.\)) #/-\1/g'
  exit 0
}

_parse_args() {
  while getopts ":he" arg; do
    case $arg in
      e) # Update only essential tool
        FLAG_IS_ESSENTIAL=true
        ;;
      h) # Display help
        _usage
        ;;
      *) ;;
    esac
  done
}

{{- if eq .chezmoi.os "linux" }}
{{- if eq .chezmoi.osRelease.id "gentoo" }}
_gentoo_run() {
  for tool in "${package_tools[@]}"; do
    is_essential=$(echo "$tool" | yq e '.is_essential')
    if [ "$FLAG_IS_ESSENTIAL" = true ] && [ "$is_essential" != "true" ]; then
      continue
    fi

    readarray packages < <(echo "$tool" | yq e -o=j -I=0 -r '.gentoo.packages.[]')
    for package in "${packages[@]}"; do
      package_name=$(echo "$package" | yq e '.name')
      if [[ "$package_name" == "null" ]]; then
        continue
      fi

      repo=$(echo "$package" | yq e '.repo')
      if [[ "$repo" != "null" ]]; then
        _gentoo_install "$package_name::$repo"
      else
        _gentoo_install "$package_name"
      fi
    done
  done
}
{{- else if eq .chezmoi.osRelease.id "arch" }}
_arch_run() {
  for tool in "${package_tools[@]}"; do
    is_essential=$(echo "$tool" | yq e '.is_essential')
    if [ "$FLAG_IS_ESSENTIAL" = true ] && [ "$is_essential" != "true" ]; then
      continue
    fi

    readarray packages < <(echo "$tool" | yq e -o=j -I=0 -r '.arch.packages.[]')
    for package in "${packages[@]}"; do
      package_name=$(echo "$package" | yq e '.name')
      if [[ "$package_name" == "null" ]]; then
        continue
      fi

      _arch_install "$package_name"
    done
  done
}
{{- else if eq .chezmoi.osRelease.id "debian" "ubuntu" }}
_ubuntu_run() {
  for tool in "${package_tools[@]}"; do
    is_essential=$(echo "$tool" | yq e '.is_essential')
    if [ "$FLAG_IS_ESSENTIAL" = true ] && [ "$is_essential" != "true" ]; then
      continue
    fi

    readarray packages < <(echo "$tool" | yq e -o=j -I=0 -r '.ubuntu.packages.[]')
    for package in "${packages[@]}"; do
      package_name=$(echo "$package" | yq e '.name')
      if [[ "$package_name" == "null" ]]; then
        continue
      fi

      repo=$(echo "$package" | yq e '.repo')
      if [[ "$repo" != "null" ]]; then
        repo_name=$(echo "$package" | yq e '.repo_name')
        repo_version=$(echo "$package" | yq e '.repo_version')
        distro_version=$(echo "$package" | yq e '.distro_version')
        key=$(echo "$package" | yq e '.key')

        [[ "$repo_name" == "null" ]] && repo_name=$package_name
        [[ "$distro_version" == "null" ]] && distro_version=$(grep -is {{ if eq .chezmoi.osRelease.id "ubuntu" }}UBUNTU_CODENAME{{ else }}VERSION_CODENAME{{ end }} /etc/os-release | cut -d= -f2)
        if [ ! -f "/etc/apt/sources.list.d/$repo_name.list" ]; then
          echo "deb $repo $distro_version $repo_version" | sudo tee /"etc/apt/sources.list.d/$repo_name.list"
          curl -sSL "https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x$key" | sudo apt-key add -
        fi
        _ubuntu_repo_sync
      fi
      _ubuntu_install "$package_name"
    done
  done
}
{{- end }}
{{- else if eq .chezmoi.os "android" }}
_termux_run() {
  for tool in "${package_tools[@]}"; do
    is_essential=$(echo "$tool" | yq e '.is_essential')
    if [ "$FLAG_IS_ESSENTIAL" = true ] && [ "$is_essential" != "true" ]; then
      continue
    fi

    readarray packages < <(echo "$tool" | yq e -o=j -I=0 -r '.termux.packages.[]')
    for package in "${packages[@]}"; do
      package_name=$(echo "$package" | yq e '.name')
      if [[ "$package_name" == "null" ]]; then
        continue
      fi

      _termux_install "$package_name"
    done
  done
}
{{- end }}

_main() {
  _info "Install package tools"
  readarray package_tools < <(yq e -o=j -I=0 'filter(.method == "os") | .[]' ~/.config/dytoy/tools.yaml )

  {{- if eq .chezmoi.os "linux" }}
  {{- if eq .chezmoi.osRelease.id "gentoo" }}
  _info "Distro of this machine is Gentoo."
  _gentoo_run
  {{- else if eq .chezmoi.osRelease.id "arch" }}
  _info "Distro of this machine is Arch Linux."
  _arch_init && _arch_run
  {{- else if eq .chezmoi.osRelease.id "debian" "ubuntu" }}
  _info "Distro of this machine is Ubuntu."
  _ubuntu_init && _ubuntu_run
  {{- end }}
  {{- else if eq .chezmoi.os "android" }}
  _info "OS of this machine is Termux."
  _termux_init && _termux_run
  {{- end }}

  _success "Installed package tools"
}

FLAG_IS_ESSENTIAL=false
_parse_args "$@"

_main
