#!{{ lookPath "bash" }}
set -Eeou pipefail
source {{ .chezmoi.sourceDir }}/../scripts/message.sh
trap "_error \"Can't setup ibus-bamboo\"" ERR

_notice "Setup ibus-bamboo"
if command -v dconf > /dev/null 2&>1; then
  dconf load / < ~/.config/ibus-bamboo/dconf
fi
_success "Setup ibus-bamboo"
