#!{{ .bash }}
# @file decrypt_chezmoi.sh
# @brief Decrypt a chezmoi managed file for git to read
# @description Decrypt an age encrypted file with the identity key of a chezmoi identity,
# so that git can diff it. Takes the name of the decoder to use, `_normal` for
# a plain file or `_sqlite` for a dump of an encrypted SQLite database.
. {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_common_handlers

#######################################
# @description Decode a plain age encrypted file
# @arg $1 string Name of the chezmoi identity holding the key
# @arg $2 string Path of the encrypted file
# @stdout Decrypted content
#######################################
function _normal {
  local identity encrypted_file
  dybatpho::expect_args identity encrypted_file -- "$@"
  age -d -i ~/.config/chezmoi/"${identity}".key "${encrypted_file}" 2> /dev/null
}

#######################################
# @description Decode an age encrypted SQLite database as its SQL dump
# @arg $1 string Name of the chezmoi identity holding the key
# @arg $2 string Path of the encrypted file
# @stdout SQL dump of the decrypted database
#######################################
function _sqlite {
  local identity encrypted_file
  dybatpho::expect_args identity encrypted_file -- "$@"
  local decrypted_file
  dybatpho::create_temp decrypted_file ".sqlite"

  if ! age -d -i ~/.config/chezmoi/"${identity}".key "${encrypted_file}" > "${decrypted_file}" 2> /dev/null; then
    dybatpho::die "Could not decrypt SQLite file."
  fi
  sqlite3 "${decrypted_file}" .dump
}

#######################################
# @description Run the decoder named by the first argument
# @arg $1 string Decoder to use, `_normal` or `_sqlite`
# @arg $@ string Arguments of that decoder
#######################################
function _main {
  local decoder
  dybatpho::expect_args decoder -- "$@"
  shift
  case "${decoder}" in
    _normal | _sqlite) "${decoder}" "$@" ;;
    *) dybatpho::die "Unknown decoder '${decoder}'" ;;
  esac
}

_main "$@"
