#!{{ .bash }}
. {{ .chezmoi.sourceDir }}/../scripts/lib/dybatpho/init.sh
dybatpho::register_common_handlers

function _normal {
  local identity="$1"
  local encrypted_file="$2"
  age -d -i ~/.config/chezmoi/"${identity}".key "${encrypted_file}" 2> /dev/null
}

function _sqlite {
  local identity="$1"
  local encrypted_file="$2"
  local decrypted_file
  dybatpho::create_temp decrypted_file ".sqlite"

  if ! age -d -i ~/.config/chezmoi/"${identity}".key "${encrypted_file}" > "${decrypted_file}" 2> /dev/null; then
    dybatpho::die "Could not decrypt SQLite file."
  fi
  sqlite3 "${decrypted_file}" .dump
}

cmd="$1"
shift
${cmd} "$@"
